@* editHost Template File *@
@(dhForm: Form[DnsHostForm], message:String = "")(implicit request: RequestHeader, device:srxlib.Device, messages: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Network &gt; DNS &gt; Host</p>
		</div>
	
	<br />
	<br />
	<br />
	
	@helper.form(action = routes.NetworkDns.editHostPost(device.name), 'class -> "form-horizontal", 'role -> "form") {
		<table class="formTable" style="line-height:40px">
			<tr>
				<th class="text-right">Host Name</th>
				<td>
					@helper.inputText(dhForm("hostName"),
						'class -> "form-control",
						'_label -> "",
						'_help -> "")
				</td>	
			</tr>
			<tr>
				<th class="text-right">Domain Name</th>
				<td>
					@helper.inputText(dhForm("domainName"),
						'class -> "form-control",
						'_label -> "",
						'_help -> "")
				</td>	
			</tr>		
			<tr>
				<th colspan="2"><hr style="width:100%;"></th>
			</tr>	
			<tr>
				<th class="text-right">Primary DNS Server</th>
				<td>
					@helper.inputText(dhForm("dnsServer1"),
						'class -> "form-control",
						'_label -> "",
						'_help -> "")
				</td>	
			</tr>
			<tr>
				<th class="text-right">Secondary DNS Server</th>
				<td>
					@helper.inputText(dhForm("dnsServer2"),
						'class -> "form-control",
						'_label -> "",
						'_help -> "")
				</td>	
			</tr>
			<tr>
				<th class="text-right">Tertiary DNS Server</th>
				<td>
					@helper.inputText(dhForm("dnsServer3"),
						'class -> "form-control",
						'_label -> "",
						'_help -> "")
				</td>	
			</tr>				
			<tr>
				<th colspan="2"><hr noshade=""></th>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" value="OK" />
					<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.Home.index(device.name, None, None)"/>
				</td>
			</tr>
		</table>	
		@helper.CSRF.formField
	}	
	
	@if(message.length > 0) {
		<script type="text/javascript">
			$(function() {
				alert("@Html(escapeEcmaScript(message))");
			});
		</script>
	}	
	</div>
}