@* createGroup Template File *@
@(grpForm:Form[AppGroupForm], message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang:play.api.i18n.Messages)
@import helper._
@import to.lef.srxlib


@deviceMain {

	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Policy &gt; Policy Elements &gt; Services &gt; Group &gt; Configuration</p>

			<div class="infoArea text-right">
			</div>
		</div>

		@groupForm(grpForm, routes.Services.createGroupPost(device.name))
			
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@escapeEcmaScript(message)");
				});
			</script>
		}
	</div>
}