@* customForm Template File *@
@(appForm:Form[AppCustomForm], action:play.api.mvc.Call)(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {

	<div class="formHeaderSpace"></div>

	<table class="formTable">
		<tr>
			<th class="text-right">Service Name</th>
			<td>
				@helper.inputText(appForm("name"), 'class -> "form-control", '_label -> "", '_help -> "")
			</td>
		</tr>
		<tr class="form-group @if(appForm("timeout.type").hasErrors || appForm("timeout.sec").hasErrors || appForm("timeout").hasErrors) { has-error }">
			<th class="text-right text-top">Service Timeout</th>
			<td>
				<div class="radio">
					<label>
						<input type="radio" name="timeout.type" value="@AppTimeoutForm.typeDefault" 
						@if(appForm("timeout.type").value.getOrElse("1").toInt == AppTimeoutForm.typeDefault) { checked }>
						Use protocol default
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="timeout.type" value="@AppTimeoutForm.typeNever" 
						@if(appForm("timeout.type").value.getOrElse("1").toInt == AppTimeoutForm.typeNever) { checked }>
						Never
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="timeout.type" value="@AppTimeoutForm.typeCustom" 
						@if(appForm("timeout.type").value.getOrElse("1").toInt == AppTimeoutForm.typeCustom) { checked }>
						Custom
					</label>
					<input type="text" style="width:20%;" name="timeout.sec" value="@appForm("timeout.sec").value.getOrElse("")"> sec
				</div>
			    <div class="errors">@appForm("timeout.type").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</div>
			    <div class="errors">@appForm("timeout.sec").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</div>
			    <div class="errors">@appForm("timeout").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</div>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			
				<table cellspacing="1" cellpadding="1" border="1" width="500" class="formTable">
					<thead class="text-center">
						<tr>
							<th rowspan="2">Name</th>
							<th rowspan="2">Transport protocol</th>
							<th colspan="2">Source Port</th>
							<th colspan="2">Destination Port</th>
							<th colspan="2">ICMP</th>
							<th rowspan="2">ALG</th>
						</tr>
						<tr>
							<th>Low</th>
							<th>High</th>
							<th>Low</th>
							<th>High</th>
							<th>Type</th>
							<th>Code</th>
						</tr>
					</thead>
					<tbody>
						@defining(device.config.findALG.enabledALGList) { algList =>
						@defining(appForm("protocol").indexes) { indexes =>
							@for(idx <- indexes) {
								@defining(appForm("protocol")("[" + idx + "]")) { f =>
								<tr class="@if(f("type").hasErrors || f.hasErrors){danger}">
									<td>
										@f("name").value.getOrElse("-")
										<input type="hidden" name="protocol[@idx].name" value="@f("name").value.getOrElse("")" />
									</td>
									<td>
									@defining(f("type").value.getOrElse("0").toInt) { t =>
										<label>
											<input type="radio" name="protocol[@idx].type" value="@AppProtocolForm.protoNone"
												@if(t == AppProtocolForm.protoNone) { checked }>
											None
										</label>
										<label>
											<input type="radio" name="protocol[@idx].type" value="@AppProtocolForm.protoTcp"
												@if(t == AppProtocolForm.protoTcp) { checked }>
											TCP
										</label>
										<label>
											<input type="radio" name="protocol[@idx].type" value="@AppProtocolForm.protoUdp"
												@if(t == AppProtocolForm.protoUdp) { checked }>
											UDP
										</label>
										<label>
											<input type="radio" name="protocol[@idx].type" value="@AppProtocolForm.protoIcmp"
												@if(t == AppProtocolForm.protoIcmp) { checked }>
											ICMP
										</label>
										<label>
											<input type="radio" name="protocol[@idx].type" value="@AppProtocolForm.protoIcmp6"
												@if(t == AppProtocolForm.protoIcmp6) { checked }>
											ICMP6
										</label>
										<label>
											<input type="radio" name="protocol[@idx].type" value="@AppProtocolForm.protoOther"
												@if(t == AppProtocolForm.protoOther) { checked }>
											Other
										</label>
									}
										<input type="text" name="protocol[@idx].protocol" value="@f("protocol").value.getOrElse("")" style="width:50px;">
									</td>
									<td>
										<input type="text" name="protocol[@idx].src_low" value="@f("src_low").value.getOrElse("")" style="width:50px;">
									</td>				
									<td>
										<input type="text" name="protocol[@idx].src_high" value="@f("src_high").value.getOrElse("")" style="width:50px;">
									</td>
									<td>
										<input type="text" name="protocol[@idx].dst_low" value="@f("dst_low").value.getOrElse("")" style="width:50px;">
									</td>
									<td>
										<input type="text" name="protocol[@idx].dst_high" value="@f("dst_high").value.getOrElse("")" style="width:50px;">
									</td>	
									<td>
										<input type="text" name="protocol[@idx].icmp_type" value="@f("icmp_type").value.getOrElse("")" style="width:50px;">
									</td>				
									<td>
										<input type="text" name="protocol[@idx].icmp_code" value="@f("icmp_code").value.getOrElse("")" style="width:50px;">
									</td>
									<td>
										<select name="protocol[@idx].alg">
											<option value="">None</option>
										@for(alg <- algList) {
											<option value="@alg" @if(f("alg").value.getOrElse("").equals(alg)) { selecetd="selected" }>@alg</option>
										}
										</select>
									</td>
								</tr>
								}
							}
							
							@for(idx <- indexes.size until 8) {
								<tr>
									<td>
										- 
										<input type="hidden" name="protocol[@idx].name" value="">
									</td>
									<td>
										<label>
											<input type="radio" name="protocol[@idx].type" value="@AppProtocolForm.protoNone" checked>
											None
										</label>
										<label>
											<input type="radio" name="protocol[@idx].type" value="@AppProtocolForm.protoTcp">
											TCP
										</label>
										<label>
											<input type="radio" name="protocol[@idx].type" value="@AppProtocolForm.protoUdp">
											UDP
										</label>
										<label>
											<input type="radio" name="protocol[@idx].type" value="@AppProtocolForm.protoIcmp">
											ICMP
										</label>
										<label>
											<input type="radio" name="protocol[@idx].type" value="@AppProtocolForm.protoIcmp6">
											ICMP6
										</label>
										<label>
											<input type="radio" name="protocol[@idx].type" value="@AppProtocolForm.protoOther">
											Other
										</label>
										<input type="text" name="protocol[@idx].protocol" value="" style="width:50px;">
									</td>
									<td>
										<input type="text" name="protocol[@idx].src_low" value="" style="width:50px;">
									</td>				
									<td>
										<input type="text" name="protocol[@idx].src_high" value="" style="width:50px;">
									</td>
									<td>
										<input type="text" name="protocol[@idx].dst_low" value="" style="width:50px;">
									</td>
									<td>
										<input type="text" name="protocol[@idx].dst_high" value="" style="width:50px;">
									</td>	
									<td>
										<input type="text" name="protocol[@idx].icmp_type" value="" style="width:50px;">
									</td>
									<td>
										<input type="text" name="protocol[@idx].icmp_code" value="" style="width:50px;">
									</td>
									<td>
										<select name="protocol[@idx].alg">
											<option value="">None</option>
										@for(alg <- algList) {
											<option value="@alg">@alg</option>
										}
										</select>
									</td>
								</tr>
							}
						}
						}	
					</tbody>
				</table>
	
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr noshade />
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location.href=$(this).data('url'); return false;" data-url="@routes.Services.custom(device.name)" />
			</td>
		</tr>
	</table>


	@CSRF.formField
}