@* createCustom Template File *@
@(appForm:Form[AppCustomForm], appname:String, message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@deviceMain {

	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Policy &gt; Policy Elements &gt; Services &gt; Custom &gt; Edit</p>
	
			<div class="infoArea text-right">
			</div>
		</div>
	
		@customForm(appForm, routes.Services.editCustomPost(device.name, appname))
			
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@escapeEcmaScript(message)");
				});
			</script>
		}
	</div>
}	