@* groups Template File *@
@(defset: List[srxlib.policy.ApplicationSet], appset: List[srxlib.policy.ApplicationSet], message:String = "")(implicit device:srxlib.Device) 

@deviceMain {
	
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Policy &gt; Policy Elements &gt; Services &gt; Groups</p>
	
			<div class="infoArea text-right">
				@pager()
				@helper.form(action = routes.Services.createGroup(device.name), 'class -> "form-inline", 'role -> "form") {
					<input type="submit" value="New" class="btn btn-default">
				}
			</div>
		</div>


		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
			<thead>
				<tr class="title">
					<th>Name</th>
					<th>Members</th>
					<th colspan="2">Configure</th>
				</tr>	
			</thead>
			<tbody>
			@defining(device.candidateConfig) { candidate =>
			@defining(device.config) { config =>
				@for(set <- (defset ++ appset).sortWith((a, b) => a.getName.compareTo(b.getName) < 0)) {
					<tr class="@views.html.helper.changedClass(set.isChanged(candidate))">
						<td class="text-center">@set.getName</td>
						<td class="text-center">
						@for(a <- set.getApplicationNameList.asScala.toSeq) {
							<div>@a</div>
						}	
						@for(a <- set.getApplicationSetNameList.asScala.toSeq) {
							<div>@a</div>
						}	
						</td>
						<td class="text-center">
						@if(set.isEditable(config)) {
							@helper.form(action = routes.Services.editGroup(device.name, set.getName), 'class -> "form-inline", 'role -> "form", 'style -> "display:inline-block") {
								<a href="#" onclick="parentNode.submit();">Edit</a>
							}	
						}
						</td>
						<td class="text-center">
						@if(set.isRemovable(config)) {
							@helper.form(action = routes.Services.deleteGroupPost(device.name, set.getName), 'class -> "form-inline", 'role -> "form", 'style -> "display:inline-block") {
								<a href="#" onclick="parentNode.submit();">Remove</a>
							}	
						} else {
							@if(set.getName.startsWith("junos-")) { &nbsp; } else { In Use }
						}	
						</td>
					</tr>
				}
			}	
			}
			</tbody>
		</table>
	</div>
}
