@* groupForm Template File *@
@(grpForm:Form[AppGroupForm], action:play.api.mvc.Call, oldName:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form", 'id -> "form1") {
	
	<div class="formHeaderSpace"></div>
	
	<table class="formTable">
		<tr>
			<th class="text-right">Group Name</th>
			<td>
				@helper.inputText(grpForm("name"), 'class -> "form-control", '_label -> "", '_help -> "")
				@if(grpForm.hasGlobalErrors) {
					<div class="form-group has-error">
					    <div class="col-sm-offset-4 col-sm-5">
					        <span class="errors">@grpForm.globalErrors.map(e => play.api.i18n.Messages(e.message, e.args: _*)).mkString(", ")</span>
					    </div>
					</div>
				}
				@*
				@helper.inputText(grpForm("comment"), 'class -> "form-control", '_label -> "Comment")
				*@
			</td>
		</tr>
		<tr>
			<td colspan="2">
				@defining(device.allApplicationNameList.asScala.toSeq) { names =>
				@defining(grpForm("apps").indexes.map(i => grpForm("apps")("[" + i + "]").value.getOrElse(""))){ cnames => 
				<table class="memberTable">
				<tr>
					<td>
						<select name="apps[]" class="form-control" id="members" style="height:300px" multiple>
							<option value="">&lt;-- Group Members --&gt;</option>
							@for(name <- names.filter(n => (n != oldName) && cnames.contains(n))) { 
								<option value="@name">@name</option>
							}
						</select>
					</td>
					<td>
						<div class="text-center">
							<button class="btn btn-default" id="addBtn">&lt;&lt;</button>
							<br>
							<button class="btn btn-default" id="removeBtn">&gt;&gt;</button>
						</div>
					</td>
					<td>
						<select class="form-control" id="availables" style="height:300px;" multiple>
							<option value="">&lt;-- Available Members --&gt;</option>
							@for(name <- names.filterNot(n => (n == oldName) || cnames.contains(n))) { 
								<option value="@name">@name</option>
							}
						</select>
					</td>	
				</tr>
				</table>
				}
				}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr noshade />
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.Services.groups(device.name)" />
			</td>
		</tr>
	</table>


	@CSRF.formField	
}	
<script type="text/javascript" src="@routes.Assets.at("javascripts/addresses/groupForm.min.js")"></script>