@* predefined Template File *@
@(applications: List[srxlib.policy.ApplicationElement])(implicit device:srxlib.Device) 

@deviceMain {

	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Policy &gt; Policy Elements &gt; Services &gt; Predefined</p>
	
			<div class="infoArea">
				@pager()
			</div>
		</div>

		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
			<thead>
				<tr class="title">
					<th>Name</th>
					<th>Transport Protocol and Parameters</th>
					<th>Timeout (sec)</th>
					<th>Configure</th>
				</tr>
			</thead>
			<tbody class="body">
				@for(a <- applications) {
					<tr>
						<td>@a.getName</td>
						<td>
						@if(!a.getProtocol.isEmpty) { @a.getProtocol }
						@if(!a.getApplicationProtocol.isEmpty) { app: @a.getApplicationProtocol }
	
						@if(a.isProtocolTcp || a.isProtocolUdp) {
							@defining(a.displaySrcPort) { str =>
								@if(!str.isEmpty) { src port: @str }
							}	
							@defining(a.displayDstPort) { str =>
								@if(!str.isEmpty) { dst port: @str }
							}
							@defining(a.displayRpcNumber) { str =>
								@if(!str.isEmpty) { rpc: @str }
							}
							@if(!a.getUuid.isEmpty) { uuid: @a.getUuid }
						}
						@if(a.isProtocolIcmp || a.isProtocolIcmp6) {
							@if(!a.getIcmpType.isEmpty) { icmp type: @a.getIcmpType }
							@if(!a.getIcmpCode.isEmpty) { icmp code: @a.getIcmpCode }
						}
						@for(t <- a.getTermList.asScala.toList) {
							<div>
							@if(!t.getProtocol.isEmpty) { @t.getProtocol }
							@if(!t.getAlg.isEmpty) { alg: @t.getAlg }
	
							@if(t.isProtocolTcp || t.isProtocolUdp) {
								@defining(t.displaySrcPort) { str =>
									@if(!str.isEmpty) { src port: @str }
								}	
								@defining(t.displayDstPort) { str =>
									@if(!str.isEmpty) { dst port: @str }
								}
								@defining(t.displayRpcNumber) { str =>
									@if(!str.isEmpty) { rpc: @str }
								}
								@if(!t.getUuid.isEmpty) { uuid: @t.getUuid }
							}
							@if(t.isProtocolIcmp || t.isProtocolIcmp6) {
								@if(!t.getIcmpType.isEmpty) { icmp type: @t.getIcmpType }
								@if(!t.getIcmpCode.isEmpty) { icmp code: @t.getIcmpCode }
							}
							</div>
						}		
						</td>
						<td>
						@a.getTimeout match {
							case v:Integer if (v == 0) => { never }
							case v:Integer => { @v }
							case _  => { default }
						}	
						</td>
						<td>
							&nbsp;
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}