@* edit Template File *@
@(dhcpForm:Form[DhcpForm], dhcp:srxlib.dhcp.DhcpService, message:String = "")(implicit request: RequestHeader, device:srxlib.Device, messages: play.api.i18n.Messages )

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(3, 6)) }

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Network &gt; DHCP &gt; Edit</p>
			
			<div class="infoArea">
				Interface: @dhcp.getLogicalInterfaceName
			</div>
		</div>
	
		<br/>
		<br/>
		<br/>
		
		@helper.form(action = routes.NetworkDhcp.editPost(device.name, dhcp.getLogicalInterfaceName, dhcp.getNetworkAddress.toString), 'class -> "form-horizontal", 'role -> "form") {	
		<table class="formTable" style="line-height:40px;">
		<tr>
			<th colspan="2">
				@helper.inputRadioGroup(
					dhcpForm("service_type"),
					options = helper.options("1" -> "DHCP None"),
					'_label -> "",
					'_help -> "")
			</th>
		</tr>
		<tr>
			<th colspan="2">
				@helper.inputRadioGroup(
					dhcpForm("service_type"),
					options = helper.options("2" -> "DHCP Relay Agent"),
					'_label -> "",
					'_help -> "")
			</th>
		</tr>
		<tr class="service_type_2">
			<td width="3%">&nbsp;</td>
			<td>
				<table cellspacing="0" cellpadding="2" style="border:solid 1px;">
					<tr>
						<th colspan="2">Relay Agent Server IP or Domain Name: </th>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							@helper.inputText(dhcpForm("relay1"), 'class -> "form-control", '_label -> "", '_help -> "")	
							@helper.inputText(dhcpForm("relay2"), 'class -> "form-control", '_label -> "", '_help -> "")	
							@helper.inputText(dhcpForm("relay3"), 'class -> "form-control", '_label -> "", '_help -> "")	
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<th colspan="2">
				@helper.inputRadioGroup(
					dhcpForm("service_type"),
					options = helper.options("3" -> "DHCP Server"),
					'_label -> "",
					'_help -> "")
			</th>
		</tr>
		<tr class="service_type_3">
			<td width="3%">&nbsp;</td>
			<td>
				<table cellspacing="0" cellpadding="2" style="border:solid 1px;">
					<tr>
						<th class="text-right">Address Range</th>
						<td colspan="3">
							@helper.inputText(dhcpForm("address_low"), 'class -> "form-control", '_label -> "", '_help -> "")
							- 
							@helper.inputText(dhcpForm("address_high"), 'class -> "form-control", '_label -> "", '_help -> "")	
						</td>
					</tr>
					<tr>
						<th class="text-right">Lease</th>
						<td colspan="3">
							@helper.inputRadioGroup(
								dhcpForm("lease_type"),
								options = helper.options("1" -> "Unlimited"),
								'_label -> "",
								'_help -> "")
							<br />
							@helper.inputRadioGroup(
								dhcpForm("lease_type"),
								options = helper.options("2" -> ""),
								'_label -> "",
								'_help -> "")
							@helper.inputText(dhcpForm("lease_day"), 'class -> "form-control", '_label -> "", '_help -> "", 'style -> "width:30px")
							days
							@helper.inputText(dhcpForm("lease_hour"), 'class -> "form-control", '_label -> "", '_help -> "", 'style -> "width:30px")
							hours
							@helper.inputText(dhcpForm("lease_min"), 'class -> "form-control", '_label -> "", '_help -> "", 'style -> "width:30px")
							miniutes
						</td>
					</tr>
					<tr>
						<th class="text-right">Gateway</th>
						<td colspan="3">
							@helper.inputText(dhcpForm("gateway"), 'class -> "form-control", '_label -> "", '_help -> "")
						</td>
					</tr>	
					<tr>
						<th class="text-right">DNS#1</th>
						<td colspan="3">
							@helper.inputText(dhcpForm("dns_server"), 'class -> "form-control", '_label -> "", '_help -> "")
						</td>
						<th class="text-right">WINS#1</th>
						<td colspan="3">
							@helper.inputText(dhcpForm("wins_server"), 'class -> "form-control", '_label -> "", '_help -> "")
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2"><hr></td>
		</tr>
		<tr>
			<td></td>
		    <td class="text-center">
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.NetworkDhcp.serviceList(device.name)"/>
			</td>
		</tr>
		</table>
		@helper.CSRF.formField
		}
	</div>
	
	<script>
		$('input[name=service_type]').click(function(){
			$('tr[class]').hide();
			$('tr.'+this.id).show();
		}).click();
	</script>
}