@* list Template File *@
@(implicit device:srxlib.Device)

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Network &gt; DHCP (List)</p>
			
			<div class="infoArea">
				<br /><br />
				@pager()
			</div>
		</div>
	
		@defining(device.config) { config =>	
		@defining(device.candidateConfig) { candidate =>	
		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
			<thead>
				<tr class="title">
					<th>Interface</th>
					<th>DHCP Service</th>
					<th>Configure</th>
				</tr>
			</thead>
			<tbody class="body">
			@for(tmp <- config.logicalInterfaceList) {
				@tmp match {
					case LogicalInetInterface(lif) => {
						@defining(candidate.findLogicalInterface(lif.getName) match {
							case LogicalInetInterface(lcandidate) => lcandidate.getDhcpServiceMap(candidate)
							case _ => null															
						}) { dcandidate =>
						@for(dhcp <- lif.getDhcpServiceList(config)) {
							<tr class="@views.html.helper.changedClass(dhcp.isChanged(dcandidate))">
								<td class="text-center">
									@dhcp.getLogicalInterfaceName
									(@dhcp.getNetworkAddress.toString)	
								</td>
								<td class="text-center">
									@dhcp match {
										case DhcpNone(v) => { None }
										case DhcpRelayAgent(v) => { Relay Agent }
										case DhcpServer(v) => { Server }
										case _ => {}
									}
								</td>	
								<td class="text-center">
									<a href="@routes.NetworkDhcp.edit(device.name, dhcp.getLogicalInterfaceName, dhcp.getNetworkAddress.toString)">Edit</a>	
								</td>	
							</tr>
						}
						}
					}	
					case _ => {}
				}
			}	
			</tbody>
		</table>
		}
		}
	</div>
}	
