@* create Template File *@
@(rtForm:Form[RtStaticForm], message:String = "")(implicit request: RequestHeader, device: srxlib.Device, lang: play.api.i18n.Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Network &gt; Routing &gt; Routing Entries &gt; Configuration</p>

			<div class="infoArea text-right">
			</div>
		</div>


		@helper.form(action = routes.NetworkRouting.createDestinationPost(device.name), 'class -> "form-horizontal", 'role -> "form") {

			<div class="formHeaderSpace"></div>

			<table>
				<tr class="form-group @if(rtForm("net.addr").hasErrors || rtForm("net.mask").hasErrors || rtForm("net").hasErrors) { has-error }">
					<th class="text-right leftCol30">IPv4/Netmask or IPv6/Prefix Length</th>
					<td>
						@helper.inputText(
							rtForm("net.addr"),
							'class -> "form-control",
							'style -> "display:inline;"
						)(FieldConstructor(views.html.helper.RawField.f), lang)	    	    
						<span class="form-control-static">/</span>
						@helper.inputText(
							rtForm("net.mask"),
							'class -> "form-control",
							'style -> "display:inline;width:90px"
						)(FieldConstructor(views.html.helper.RawField.f), lang)		
						<div>
				        <div class="help-block errors">@views.html.helper.fieldErrors(rtForm("net.addr").errors)</div>
				        <div class="help-block errors">@views.html.helper.fieldErrors(rtForm("net.mask").errors)</div>
				        <div class="help-block errors">@views.html.helper.fieldErrors(rtForm("net").errors)</div>
					</td>
				</tr>
				<tr>
					<th class="text-right">Interface</th>
					<td>
						@defining(device.config.logicalInterfaceList.asScala.toList.filter(_ match {
							case PPPoEInetInterface(o) => true
							case VPNInterface(o) => true
							case IpOverIpInterface(o) => true
							case GREInterface(o) => true
							case _ => false	
						}).map(v => v.getName)) { opts =>
							@helper.select(rtForm("interface"), ("", "None") :: options(opts),
								'class -> "form-control",
								'_label -> "",
								'_help -> "")
						}
					</td>
				</tr>
				<tr>
					<th class="text-right">Gateway IPv4/v6 Address</th>
					<td>
						@helper.inputText(rtForm("gateway"), 'class -> "form-control", '_label -> "")
					</td>
				</tr>
				<tr>
					<th class="text-right">Tag</th>
					<td>
						@helper.inputText(rtForm("tag"), 'class -> "form-control", '_label -> "", '_help -> "")
					</td>
				</tr>
				<tr>
					<th class="text-right">Metric</th>
					<td>
						@helper.inputText(rtForm("metric"), 'class -> "form-control", '_label -> "", '_help -> "")
					</td>
				</tr>
				<tr>
					<th class="text-right">Preference</th>
					<td>
						@helper.inputText(rtForm("preference"), 'class -> "form-control", '_label -> "", '_help -> "")
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<hr/>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" value="OK" />
						<input type="button" value="Cancel" onclick="window.location.href=$(this).data('url');return false;" data-url="@routes.NetworkRouting.destination(device.name)" />
					</td>
				</tr>
			</table>

			@CSRF.formField	
		}

		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@escapeEcmaScript(message)");
				});
			</script>
		}
	</div>
}	