@* list Template File *@
@(route:srxlib.RouteInformation)(implicit device: to.lef.srxlib.Device)

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Network &gt; Routing &gt; Routing Entries</p>
	
			<div class="infoArea">
				@pager()
				<div class="pull-left">
					List route entries for
					<select name="ip_ver">
						<option value="-1">All Routing Tables</option>
						<option value="0">IPv4 Routing Table</option>
						<option value="1">IPv6 Routing Table</option>
					</select>

					<div>
						<button id="refresh_btn" data-device="@device.name">Refresh</button>
					</div>
				</div>
				<div class="pull-right">
					@helper.form(action = routes.NetworkRouting.createDestination(device.name), 'class -> "form-inline", 'role -> "form") {
						<input type="submit" value="New" class="btn btn-default">
					}
				</div>
			</div>
		</div>


		<table cellspacing="0" cellpadding="4" border="1" class="formTable routing">
				@defining(route.getRouteEntryList.asScala.toSeq){ routeEntryList =>
					@for(tableName <- routeEntryList.map(v => v.getTableName).distinct) {
						<thead>
							<tr class="@tableName.split('.')(0)">
								<th colspan="10">@tableName</th>
							</tr>
							<tr class="@tableName.split('.')(0) title">
								<th>&nbsp;</th>
								<th>IP/Netmask</th>
								<th>Gateway</th>
								<th>Interface</th>
								<th>Protocol</th>
								<th>Preference</th>
								<th>Metric</th>
								<th>Tag</th>
								<th>Vsys</th>
								<th>Configure</th>
							</tr>
						</thead>
						@for(rtEntry <- routeEntryList.filter(v => v.getTableName == tableName)) {
	
						<tbody>
							<tr class="@tableName.split('.')(0) @if(rtEntry.isNew){ @views.html.helper.changedClass(1) } @if(rtEntry.isRemoved){ @views.html.helper.changedClass(3) } @if(rtEntry.isExist) { @views.html.helper.changedClass(2) }">
								<td>
@*									@if(rtEntry.isActive && rtEntry.isSelected) { * } else { &nbsp; } *@
									@if(rtEntry.isActive) { * } else { &nbsp; }
								</td>
								<td>
									@rtEntry.getDestination
								</td>
								<td>
									@rtEntry.getGateway match {
										case v:String if (!v.isEmpty) => { @v }
										case _ => { - }
									}
									@if(rtEntry.isNew || rtEntry.isExist) {
										<br />
										@rtEntry.getConfigGateway match {
											case v:String if (!v.isEmpty) => { (@v) }
											case _ => { (-) }
										}											
									}								
								</td>
								<td>
									@rtEntry.getInterfaceName match {
										case v:String if (!v.isEmpty) => { @v }
										case _ => { - }
									}	
									@if(rtEntry.isNew || rtEntry.isExist) {
										<br />
										@rtEntry.getConfigInterfaceName match {
											case v:String if (!v.isEmpty) => { (@v) }
											case _ => { (-) }
										}											
									}
								</td>
								<td>
									@rtEntry.getProtocolName
								</td>
								<td>
									@rtEntry.getPreference match {
										case v:Integer => { @v }
										case _ => { - }
									}										
									@if(rtEntry.isNew || rtEntry.isExist) {
										<br />
										@rtEntry.getConfigPreference match {
											case v:Integer => { (@v) }
											case _ => { (-) }
										}										
									}
								</td>
								<td>
									@rtEntry.getMetric match {
										case v:Integer => { @v }
										case _ => { - }
									}										
									@if(rtEntry.isNew || rtEntry.isExist) {
										<br />
										@rtEntry.getConfigMetric match {
											case v:Integer => { (@v) }
											case _ => { (-) }
										}										
									}
								</td>
								<td>
									@rtEntry.getTag match {
										case v:Integer => { @v }
										case _ => { - }
									}										
									@if(rtEntry.isNew || rtEntry.isExist) {
										<br />
										@rtEntry.getConfigTag match {
											case v:Integer => { (@v) }
											case _ => { (-) }
										}										
									}
								</td>
								<td></td>
								<td>
									@if(rtEntry.isStatic && (rtEntry.isNew || rtEntry.isExist)) {
										@helper.form(action = routes.NetworkRouting.deleteDestinationPost(device.name, tableName, rtEntry.getDestination, Option(rtEntry.getConfigGateway), Option(rtEntry.getConfigInterfaceName)), 'class -> "form-inline", 'role -> "form", 'style -> "display:inline-block") {
											<a href="#" onclick="parentNode.submit();">Remove</a>
										}	
									} else { &nbsp; }
								</td>
							</tr>
							}
						</tbody>
						}
					}
		</table>

		<table style="width: 70%;" align="center" border="0" cellpadding="2" cellspacing="0">
		<tbody>
		  <tr>
			<td nowrap="">*</td>
			<td nowrap="">Active route</td>
			<td nowrap="">&nbsp;</td>
			<td nowrap="">C</td>
			<td nowrap="">Connected</td>
			<td nowrap="">&nbsp;</td>
			<td nowrap="">I</td>
			<td nowrap=""> Imported</td>
			<td nowrap="">&nbsp;</td>
			<td nowrap="">eB</td>
			<td nowrap="">EBGP</td>
			<td nowrap="">&nbsp;</td>
			<td nowrap="">O</td>
			<td nowrap="">OSPF</td>
			<td nowrap="">&nbsp;</td>
			<td nowrap="">E1</td>
			<td nowrap="">OSPF external type 1</td>
			<td nowrap="">H</td>
			<td nowrap="">Host Route</td>
		  </tr>
		  <tr>
			<td nowrap="">P</td>
			<td nowrap="">Permanent</td>
			<td nowrap="">&nbsp;</td>
			<td nowrap="">S</td>
			<td nowrap="">Static</td>
			<td nowrap="">&nbsp;</td>
			<td nowrap="">A</td>
			<td nowrap=""> Auto-Exported</td>
			<td nowrap="">&nbsp;</td>
			<td nowrap="">iB</td>
			<td nowrap="">IBGP</td>
			<td nowrap="">&nbsp;</td>
			<td nowrap="">R</td>
			<td nowrap="">RIP</td>
			<td nowrap="">&nbsp;</td>
			<td nowrap="">E2</td>
			<td nowrap="">OSPF external type 2</td>
		  </tr>
		  <tr>
			<td nowrap="">D</td>
			<td nowrap="">Dynamic</td>
			<td nowrap="">&nbsp;</td>
			<td nowrap="">N</td>
			<td nowrap="">NHRP</td>
			<td colspan="12">&nbsp;</td>
		  </tr>
		</tbody>
		</table>

	</div>
	
	<script type="text/javascript" src="@routes.Assets.at("javascripts/routing/list.js")"></script>
}