@* create Template File *@
@(pppoeForm:Form[PPPoEForm], message:String = "")(implicit request: RequestHeader, device:to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Network &gt; PPPoE &gt; Edit</p>
			
		</div>
	
		@views.html.network.pppoe.form(pppoeForm, routes.NetworkPPPoE.createPost(device.name), None)
			
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>	
		}
	</div>
}