@* form Template File *@
@(pppoeForm:Form[PPPoEForm], action:play.api.mvc.Call, instance:Option[srxlib.PPPoE])(implicit request: RequestHeader, device:srxlib.Device, lang:play.api.i18n.Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {
	
	<br />
	<br />
	<br />

	@defining(device.config) { config =>
	<table class="formTable" style="line-height:40px;">
		<tr>
			<td>&nbsp;</td>
			<th>PPPoE Instance</th>
			<td>
				@if(instance.isDefined) {
				pp0.@instance.get.getUnitId
				} else {
				pp0.
				@helper.inputText(
					pppoeForm("unitId"),
					'class -> "form-control",
					'style -> "display:inline;width:30px",
					'_label -> "",
					'_help -> ""
				)
				}
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<th>Bound to Interface</th>
			<td>
			@defining(config.logicalInterfaceList.asScala.toList.filter(v => v.isPPPoEBindable(config)).map(v => v.getName)) { opts =>
				@helper.select(pppoeForm("boundInterface"), helper.options(opts),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
					)
			}	
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<th>Username</th>
			<td>
				@helper.inputText(
					pppoeForm("username"),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
				)
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<th>Password</th>
			<td>
				<input type="password" name="password" class="form-control" value="@pppoeForm("password").value.getOrElse("")">
		        <span class="errors">@pppoeForm("password").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</span>
@*
				@helper.inputPassword(
					pppoeForm("password"),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
				)
*@
			</td>	
		</tr>
		<tr>
			<td>&nbsp;</td>
			<th>Authentication</th>
			<td>
				@helper.inputRadioGroup(
					pppoeForm("auth"),
					options = options("3" -> "ANY", "1"-> "CHAP", "2" -> "PAP"),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
				)
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<th>Access Concentrator</th>
			<td>
				@helper.inputText(
					pppoeForm("ac"),
					'class -> "form-control",
					'_label -> ""
				)		
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<th>Service</th>
			<td>
				@helper.inputText(
					pppoeForm("service"),
					'class -> "form-control",
					'_label -> ""
				)		
			</td>
		</tr>
		<tr>
			<td>
				@helper.checkbox(pppoeForm("create_default_route"), 'class -> "form-control", '_label -> "", '_help -> "")
			</td>
			<th colspan="2">
				Create Default Route
			</th>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<th>Default Route Metric</th>
			<td>
				@helper.inputText(
					pppoeForm("default_route_metric"),
					'class -> "form-control",
					'_label -> "",
					'_help -> "	(1-65535; 0:default)" 
				)		
			</td>
		</tr>	
		@defining(pppoeForm("disconnect").value.getOrElse("0").toInt == 0) { checked => 
		<tr>
			<td>
				<input type="radio" name="disconnect" value="0" @if(checked){ checked="checked" } >
			</td>
			<th>Auto-Connect</th>
			<td>
				@helper.inputText(
					pppoeForm("autoConnect"),
					'class -> "form-control",
					'_label -> "",
					'_help -> "Seconds before Reconnect"
				)					
			</td>
		</tr>
		}
		@defining(pppoeForm("disconnect").value.getOrElse("0").toInt == 1) { checked => 
		<tr>
			<td>
				<input type="radio" name="disconnect" value="1" @if(checked){ checked="checked" } >
			</td>
			<th>Idle Disconnect</th>
			<td>
				@helper.inputText(
					pppoeForm("idleDisconnect"),
					'class -> "form-control",
					'_label -> "",
					'_help -> "Minutes Idle before Disconnect"
				)					
			</td>
		</tr>
		}	
		<tr>
			<td>
				@helper.checkbox(pppoeForm("propagateToDhcp"), 'class -> "form-control", '_label -> "", '_help -> "")
			</td>
			<th colspan="2">
				Automatic Update of DHCP Server's DNS Parameters
			</th>
		</tr>
		<tr>
			<td colspan="3">
				<hr noshade="" />
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td></td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.NetworkPPPoE.pppoeList(device.name)"/>
			</td>
		</tr>	
	</table>	
	}
		
	@CSRF.formField
}	
