@* list Template File *@
@(implicit device:to.lef.srxlib.Device)

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Network &gt; PPPoE (List)</p>
			
			<div class="infoArea">
				<br /><br />
				<div class="pull-left">
					<button id="refresh_btn" data-device="@device.name">Refresh</button>
				</div>			
				<div class="pull-right">

					@helper.form(action = routes.NetworkPPPoE.create(device.name), 'class -> "form-inline", 'role -> "form") {
						<input type="submit" value="New" class="btn btn-default">
					}
				</div>
			</div>
		</div>
	
	<table cellspacing="0" cellpadding="4" border="1" class="formTable">
		<thead>
			<tr class="title">
				<th>PPPoE Instance</th>
				<th>Interface</th>
				<th>User</th>
				<th>State</th>
				<th colspan="2">Configure</th>
			</tr>
		</thead>
		<tbody class="body">
			@defining(device.candidateConfig) { candidate =>
			@defining(device.config) { config =>
			@defining(device.pppSummaryInformation.getEntryMap) { pppMap =>
				@if(config.pppoeList.isEmpty) {
				<tr>
					<td class="text-center" colspan="5">No entry available</td>
				</tr>
				} else {
				@for(i <- config.pppoeList) {
					<tr class="@views.html.helper.changedClass(i.isChanged(candidate))">
						<td>@i.getName</td>
						<td>@i.getUnderlyingInterfaceName</td>
						<td>@i.getUserName</td>
						<td>
							@pppMap.get(i.getName) match {
								case o:srxlib.PPPSummaryInformation.Entry => { @o.getPhase  match {
									case "Network" => { Connected }
									case "Disabled" => { Closed }
									case v:String => { @v }
									case _ => {}	
									}
								}
								case _ => { - }
							}
						</td>
						<td>
							@helper.form(action = routes.NetworkPPPoE.edit(device.name, i.getUnitId), 'class -> "form-inline", 'role -> "form", 'style -> "display:inline-block") {
								<a href="#" onclick="parentNode.submit();">Edit</a>
							}	
						</td>
						<td>
						@if(i.isRemovable(config)) {
							@helper.form(action = routes.NetworkPPPoE.deletePost(device.name, i.getUnitId), 'class -> "form-inline", 'role -> "form", 'style -> "display:inline-block") {
								<a href="#" onclick="parentNode.submit();">Remove</a>
							}						
						}
						</td>
					</tr>
				}
				}
			}
			}
			}
		</tbody>
	</table>
	
	</div>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/network/pppoe.min.js")"></script>
}
