@* addressSelector Template File *@
@(addrs: List[srxlib.policy.AddressElement], addrSets:List[srxlib.policy.AddressSet], zoneName:String, isSrc:Boolean)

		<div class="modal-header">
			@if(isSrc) { Source Address Entries } else { Destination Address Entries } 
			(@zoneName)
		</div>
		
		<table style="height:90%">
			<tr>
			<td width="40%" height="100%">
				<select class="form-control selected" style="width:100%; height:100%" multiple>
					<option value="">&lt;-- Selected Members --&gt;</option>
				</select>
			</td>
			<td width="20%">
				<div class="text-center">
					<button class="btn btn-default addBtn">&lt;&lt;</button>
					<br>
					<button class="btn btn-default removeBtn">&gt;&gt;</button>
				</div>
			</td>
			<td>
				<select class="form-control available" style="height:100%;width:100%;" multiple>
					<option value="">&lt;-- Available Members --&gt;</option>
					<option value="any">any</option>
					<option value="any-ipv4">any-ipv4</option>
					<option value="any-ipv6">any-ipv6</option>
					@for(a <- addrs) {
						<option value="@a.getName">@Option(a.getDescription).filterNot(v => v.isEmpty).getOrElse(a.getName)</option>
					}				
					@for(a <- addrSets) {
						<option value="@a.getName">@Option(a.getDescription).filterNot(v => v.isEmpty).getOrElse(a.getName)</option>
					}														
				</select>
			</td>	
			</tr>
		</table>	