@* selector Template File *@
@(names:List[String])

			<table style="height:90%">
			<tr>
			<td width="40%" height="100%">
				<select class="form-control selected" style="width:100%; height:100%" multiple>
					<option value="">&lt;-- Selected Members --&gt;</option>
				</select>
			</td>
			<td width="20%">
				<div class="text-center">
					<button class="btn btn-default addBtn">&lt;&lt;</button>
					<br>
					<button class="btn btn-default removeBtn">&gt;&gt;</button>
				</div>
			</td>
			<td>
				<select class="form-control available" style="height:100%;width:100%;" multiple>
					<option value="">&lt;-- Available Members --&gt;</option>
					@for(name <- names) {
						<option value="@name">@name</option>
					}					
				</select>
			</td>	
			</tr>
			</table>
