@* create Template File *@
@(vpnForm:Form[VpnForm], message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">VPNs &gt; AutoKey IKE &gt; Edit</p>

			<div class="infoArea text-right">
			</div>
		</div>
	
		@form(vpnForm, routes.VPNs.createVpnPost(device.name), None)
			
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}
	</div>
}