@* form Template File *@
@(vpnForm:Form[VpnForm], action:play.api.mvc.Call, vpnName:Option[String])(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@import srxlib.vpn.IPSecPolicy.PFS_KEYS_GROUP1
@import srxlib.vpn.IPSecPolicy.PFS_KEYS_GROUP2
@import srxlib.vpn.IPSecPolicy.PFS_KEYS_GROUP5
@import srxlib.vpn.IPSecPolicy.PFS_KEYS_GROUP14

@import srxlib.vpn.IPSecPolicy.PROPOSAL_SET_STANDARD
@import srxlib.vpn.IPSecPolicy.PROPOSAL_SET_BASIC
@import srxlib.vpn.IPSecPolicy.PROPOSAL_SET_COMPATIBLE

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {
	@defining(device.config) { config =>
	@defining(config.logicalInterfaceList.asScala.toList) { interfaceList =>
	<div class="formHeaderSpace"></div>
	
	<table class="formTable" style="line-height:20px;">
		<tr>
			<th>VPN Name</th>
			<td>
				@vpnName.getOrElse(helper.inputText(vpnForm("name"), 'class -> "form-control", '_label -> "", '_help -> ""))
			</td>
		</tr>
		<tr><td colspan="2"><hr></td></tr>		
		<tr>
			<th>Remote Gateway</th>
			<td>
				@helper.select(vpnForm("gw_name"), options = helper.options(config.ikeGatewayList.asScala.toList.map(v => v.getName)),
					'class -> "form-control",
					'_label -> "",
					'_help -> "")
			</td>
		</tr>
		<tr><td colspan="2"><hr></td></tr>		
		<tr>
			<th colspan="2">Security Level</th>
		</tr>
		<tr>
			<th class="text-right">Predefined</th>
			<td>
				@helper.inputRadioGroup(vpnForm("policy.proposal_set"), options = helper.options(
					PROPOSAL_SET_STANDARD -> "Standard",
					PROPOSAL_SET_COMPATIBLE -> "Compatible ",
					PROPOSAL_SET_BASIC -> " Basic  "	
					), 'class -> "form-control", '_label -> "", '_help -> "")
			</td>
		</tr>
		<tr>
			<th class="text-right">User Defined</th>
			<td>
				@helper.inputRadioGroup(vpnForm("policy.proposal_set"), options = helper.options(
					"custom" -> "Custom"
					), 'class -> "form-control", '_label -> "", '_help -> "")		
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<table border="1" cellspacing="0" cellpadding="4">
				<tr>
				<td>
					<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<th>Phase 2 Proposal</th>
					</tr>
					<tr>
						<td>
							@defining(config.ipsecProposalList.asScala.toList.map(v => v.getName)) { propList => 
							@helper.select(vpnForm("policy.proposals[0]"), options = helper.options(propList), 'class -> "form-control", '_default -> "None", '_label -> "", '_help -> "")
							@helper.select(vpnForm("policy.proposals[1]"), options = helper.options(propList), 'class -> "form-control", '_default -> "None", '_label -> "", '_help -> "")
							@helper.select(vpnForm("policy.proposals[2]"), options = helper.options(propList), 'class -> "form-control", '_default -> "None", '_label -> "", '_help -> "")
							@helper.select(vpnForm("policy.proposals[3]"), options = helper.options(propList), 'class -> "form-control", '_default -> "None", '_label -> "", '_help -> "")
							}
						</td>
					</tr>
					</table>
				</td>
				</tr>
				</table>
			</td>
		</tr>	
		<tr>
			<th class="text-right">Perfect Forward Secrecy</th>
			<td>
				@helper.select(vpnForm("policy.pfs_keys"), options = helper.options(
					"" -> "NO-PFS",
					PFS_KEYS_GROUP1 -> "DH Group 1",	
					PFS_KEYS_GROUP2 -> "DH Group 2",	
					PFS_KEYS_GROUP5 -> "DH Group 5",	
					PFS_KEYS_GROUP14 -> "DH Group 14"	
					),
					'class -> "form-control",
					'_label -> "",
					'_help -> "")
			</td>
		</tr>
		<tr><td colspan="2"><hr></td></tr>	
		<tr>
			<th class="text-right">Replay Protection</th>
			<td>
				@helper.checkbox(vpnForm("anti_replay"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)
			</td>
		</tr>
		<tr>
			<th class="text-right">Establish Immediately</th>
			<td>
				@helper.checkbox(vpnForm("establish_immediately"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)
			</td>
		</tr>	
		<tr><td colspan="2"><hr></td></tr>	
		<tr>
			<th class="text-right">Bind to</th>
			<td>
				@helper.select(vpnForm("bind_interface"), options = helper.options(
					interfaceList.filter(_ match {
						case VPNInterface(v) => true
						case _ => false
					}
					).map(_.getName)),
					'class -> "form-control",
					'_label -> "",
					'_help -> "")
			</td>
		</tr>
		<tr><td colspan="2"><hr></td></tr>	
		<tr>
			<th class="text-right">VPN Monitor</th>
			<td>
				@helper.checkbox(vpnForm("monitor_enabled"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)
			</td>
		</tr>
		<tr>
			<th class="text-right">Source Interface</th>
			<td>
				@helper.select(vpnForm("monitor_src_interface"), options = helper.options(
					interfaceList.filter(_ match {
						case PortInetInterface(v) => true
						case RethInterface(v) => true
						case VlanInterface(v) => true
						case PPPoEInetInterface(v) => true
						case _ => false
					}
					).map(_.getName)),
					'class -> "form-control",
					'_default -> "default",
					'_label -> "",
					'_help -> "")
			</td>		
		</tr>
		<tr>
			<th class="text-right">Destination IP</th>
			<td>
				@helper.inputText(vpnForm("monitor_dest"), 'class -> "form-control", '_label -> "", '_help -> "")
			</td>
		</tr>
		<tr>
			<th class="text-right">Optimized</th>
			<td>
				@helper.checkbox(vpnForm("monitor_optimized"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)
			</td>
		</tr>
		<tr><td colspan="2"><hr noshade="" /></td></tr>	
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location.href=$(this).data('url'); return false;" data-url="@routes.VPNs.vpnList(device.name)" />
				@helper.CSRF.formField
			</td>
		</tr>		
	</table>
	}
	}
}	