@* index Template File *@
@(config:srxlib.DeviceConfig)(implicit device:srxlib.Device)

@import srxlib.vpn.IPSecPolicy.PROPOSAL_SET_STANDARD
@import srxlib.vpn.IPSecPolicy.PROPOSAL_SET_BASIC
@import srxlib.vpn.IPSecPolicy.PROPOSAL_SET_COMPATIBLE

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">VPNs &gt; AutoKey IKE</p>
		
			<div class="infoArea">
				@pager()
				<div class="pull-right">
					@helper.form(action = routes.VPNs.createVpn(device.name), 'class -> "form-inline", 'role -> "form") {
						<input type="submit" value="New" class="btn btn-default">
					}
				</div>
			</div>
		</div>
		
		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
		<thead>
			<tr class="title">
				<th>Name</th>
				<th>Gateway</th>
				<th>Security</th>
				<th>Monitor</th>
				<th colspan="3">Configure</th>
			</tr>
		</thead>
		<tbody class="body">
			@defining(config.ipsecVpnList.asScala.toList) { vpnList =>
				@if(vpnList.isEmpty) {
				<tr>
					<td class="text-center" colspan="7">No entry available</td>
				</tr>
				} else {
					@defining(device.candidateConfig.ipsecVpnMap) { candidates =>
					@for(vpn <- vpnList) {
						<tr class="@views.html.helper.changedClass(vpn.isChanged(candidates))">
							<td>@vpn.getName</td>
							<td>@vpn.getGatewayName</td>
							<td>
								@vpn.getPolicy(config) match {
									case IPSecPolicy(policy) => {
										@policy.getProposalSet match {
											case PROPOSAL_SET_STANDARD => { Standard }
											case PROPOSAL_SET_BASIC => { Basic }
											case PROPOSAL_SET_COMPATIBLE => { Compatible }
											case _ => { @policy.getProposalNameList.asScala.toList.mkString(", ") }
										}
									}
									case _ => {}
								}	
							</td>
							<td>
								@if(vpn.isMonitorEnabled) { On } else { Off }
							</td>
							<td>
								<a href="@routes.VPNs.editVpn(device.name, vpn.getName)">Edit</a>	
							</td>
							<td>
								<a href="@routes.VPNs.editVpnProxyId(device.name, vpn.getName)">Proxy ID</a>	
							</td>
							<td>
								@if(vpn.isRemovable(config)) {
									@helper.form(action = routes.VPNs.deleteVpnPost(device.name, vpn.getName)) {
										<a href="#" onclick="this.parentNode.submit(); return false;">Remove</a>
									}	
								} else {
									-
								}																	
							</td>
						</tr>
					}
					}
				}
			}
		</tbody>
		</table>
	</div>
}
