@* proxyid Template File *@
@(pForm:Form[VpnProxyIdForm], vpnName:String, message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@deviceMain {
		<div class="content">
		<div class="header">
			<p class="breadCrumb">VPNs &gt; AutoKey &gt; Proxy ID</p>
		
			<div class="infoArea text-right">
			</div>
		</div>

		<br />
		<br />
		<br />
		
		@helper.form(action = routes.VPNs.editVpnProxyIdPost(device.name, vpnName), 'class -> "form-horizontal", 'role -> "form", 'style -> "padding:0px;") {
			<table cellspacing="0" cellpadding="0" border="1" class="formTable">
				<tr>
					<td>
						<table width="100%" cellspacing="0" cellpadding="4" border="0" style="background-color: #ebebeb;">
							<tr>
								<th class="text-center">VPN Name</th>
								<th class="text-center">@vpnName</th>
							</tr>
							<tr><td colspan="2"><hr></tr>
							<tr class="form-group @if(pForm("local.addr").hasErrors || pForm("local.mask").hasErrors || pForm("local").hasErrors) { has-error }">
								<th class="text-right leftCol30">Local IP</th>
								<td>
									@helper.inputText(
											pForm("local.addr"),
											'class -> "form-control",
											'_label -> "", '_help -> "",
											'style -> "display:inline;"
									)(helper.FieldConstructor(views.html.helper.RawField.f), lang)	    	    
									<span class="form-control-static">/</span>
									@helper.inputText(
											pForm("local.mask"),
											'class -> "form-control",
											'_label -> "", '_help -> "",
											'style -> "display:inline;width:90px"
									)(helper.FieldConstructor(views.html.helper.RawField.f), lang)		
							        <div class="help-block errors">@views.html.helper.fieldErrors(pForm("local.addr").errors)</div>
							        <div class="help-block errors">@views.html.helper.fieldErrors(pForm("local.mask").errors)</div>
							        <div class="help-block errors">@views.html.helper.fieldErrors(pForm("local").errors)</div>
								</td>
							</tr>							
							<tr class="form-group @if(pForm("remote.addr").hasErrors || pForm("remote.mask").hasErrors || pForm("remote").hasErrors) { has-error }">
								<th class="text-right leftCol30">Remote IP</th>
								<td>
									@helper.inputText(
											pForm("remote.addr"),
											'class -> "form-control",
											'_label -> "", '_help -> "",
											'style -> "display:inline;"
									)(helper.FieldConstructor(views.html.helper.RawField.f), lang)	    	    
									<span class="form-control-static">/</span>
									@helper.inputText(
											pForm("remote.mask"),
											'class -> "form-control",
											'_label -> "", '_help -> "",
											'style -> "display:inline;width:90px"
									)(helper.FieldConstructor(views.html.helper.RawField.f), lang)		
							        <div class="help-block errors">@views.html.helper.fieldErrors(pForm("remote.addr").errors)</div>
							        <div class="help-block errors">@views.html.helper.fieldErrors(pForm("remote.mask").errors)</div>
							        <div class="help-block errors">@views.html.helper.fieldErrors(pForm("remote").errors)</div>
								</td>
							</tr>	
							<tr>
								<th class="text-right">Service</th>
								<td>
									@defining(device.config) { config =>
									@defining(device.defaults) { defaults =>
									@defining(defaults.applicationNameList.asScala.toList ++ config.applicationNameList.asScala.toList ++ defaults.applicationSetNameList.asScala.toList ++ config.applicationSetNameList.asScala.toList) { svcList =>
										@helper.select(pForm("service"), options = helper.options(svcList),
											'class -> "form-control",
											'_label -> "",
											'_help -> "",
											'_default -> "")
									}
									}
									}
								</td>
							</tr>
							<tr><td colspan="2"><hr></tr>
							<tr>
								<td>&nbsp;</td>
								<td>
									<input type="submit" value="Apply" />
									<input type="button" value="Delete" onclick="$('#delete_form').submit(); return false;" />
									<input type="button" value="Cancel" onclick="window.location.href=$(this).data('url'); return false;" data-url="@routes.VPNs.vpnList(device.name)" />
									@helper.CSRF.formField
								</td>
							</tr>								
						</table>
					</td>
				</tr>
			</table>	
		}

		<form id="delete_form" action="@routes.VPNs.deleteVpnProxyIdPost(device.name, vpnName)" method="post">
		</form>
		
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}
	</div>
}