@* createDip Template File *@
@(lint: srxlib.nic.LogicalInetInterface, mipForm:Form[IfMipForm], message:String="")(implicit request: RequestHeader, device:srxlib.Device, messages: play.api.i18n.Messages)

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Network &gt; Interfaces &gt; Edit &gt; MIP &gt; Configuration</p>
			
			<div class="infoArea">
				<div style="overflow:hidden">
					<div class="pull-left">
						Interface: @lint.getName
					</div>
					<div class="pull-right">
						<a href="@routes.NetworkInterfaces.list(device.name)">Back To Interface List</a>
					</div>
				</div>
				<div class="overflow:hidden">
					<div class="pull-left">
						@tab(4, lint)
					</div>
					<div class="pull-right">
					</div>
				</div>
			</div>
		</div>
	
		@views.html.network.interfaces.mipForm(lint, mipForm, routes.NetworkInterfaces.createMipPost(device.name, lint.getPhysicalInterfaceName, lint.getUnitId))
		
		@if(message.length() > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}		
	</div>	
	
}