@* createSub Template File *@
@(ifBasicForm:Form[IfBasicForm], message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.helper.BootstrapField.f(3, 6)) }

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Network &gt; Interfaces (List) &gt; Configuration</p>
	
			<div class="infoArea text-right">
				<a href="@routes.NetworkInterfaces.list(device.name)">Back To Interface List</a>
			</div>
		</div>


	@helper.form(action = routes.NetworkInterfaces.createSubPost(device.name), 'class -> "form-horizontal", 'role -> "form") {
		<table>
		<tr class="form-group @if(ifBasicForm("subif.name").hasErrors || ifBasicForm("subif.tag").hasErrors || ifBasicForm("subif").hasErrors) {has-error}">
			<th class="text-right">Interface Name</th>
			<td>
				@defining(device.physicalInterfaceInformation.physicalInterfaceNameList.asScala.toList.filter(n => srxlib.Util.canInterfaceCreateSubIf(n, device.config))) { opts => 
					@helper.select(ifBasicForm("subif.name"), options(opts),
						'class -> "form-control",
						'style -> "display:inline;"
					)(FieldConstructor(views.html.helper.RawField.f), lang)
				}
				<span class="form-control-static">.</span>
				@helper.inputText(
					ifBasicForm("subif.tag"),
					'class -> "form-control",
					'style -> "display:inline;width:30px"
				)(FieldConstructor(views.html.helper.RawField.f), lang)
				<div>
				@if(ifBasicForm.hasGlobalErrors) {
					<div class="help-block errors">@ifBasicForm.globalErrors.map(e => play.api.i18n.Messages(e.message, e.args: _*)).mkString(", ")</div>
				}
				<div class="help-block errors">@ifBasicForm("subif.name").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</div>
				<div class="help-block errors">@ifBasicForm("subif.tag").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</div>
				<div class="help-block errors">@ifBasicForm("subif").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</div>
				</div>
			</td>
		</tr> 	
		<tr>
			<th class="text-right">Zone Name</th>
			<td>
		@defining(device.config.securityZoneNameList().asScala.toList) { opts => 
			@helper.select(ifBasicForm("interface_zone_name"), ("", "") :: options(opts),
				'class -> "form-control",
				'_label -> "",
				'_help -> ""
			)
		}
			</td>
		</tr>	
		<tr class="form-group @if(ifBasicForm("ip.address").hasErrors || ifBasicForm("ip.mask").hasErrors) { has-error}">
			<th class="text-right">IP Address / Netmask</th>
			<td class="col-sm-6">
				@helper.inputText(
					ifBasicForm("ip.address"),
					'class -> "form-control",
					'style -> "display:inline;"
				)(FieldConstructor(views.html.helper.RawField.f), lang)				
				<span class="form-control-static">/</span>
				@helper.inputText(
					ifBasicForm("ip.mask"),
					'class -> "form-control",
					'style -> "display:inline;width:90px;"
				)(FieldConstructor(views.html.helper.RawField.f), lang)	
				<div>
				<span class="errors">@ifBasicForm("ip.address").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</span>
				<span class="errors">@ifBasicForm("ip.mask").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</span>
				<span class="errors">@ifBasicForm("ip").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</span>
				</div>
			</td>
		</tr>
		<tr class="form-group">
				<th class="text-right">VLAN Tag</th>
				<td>
					@helper.inputText(ifBasicForm("vlan_tag"), '_label -> "", '_help -> "")
				</td>
			</tr>
		<tr>
			<td colspan="2">
					<hr />
			</td>
		</tr>
		@serviceOptionForm(ifBasicForm)
		<tr>
			<td colspan="2">
				<hr />
			</td>
		</tr>
		<tr>
			<th class="text-right">Admin status up</th>
			<td>
				@helper.checkbox(
					ifBasicForm("admin_state_up"),
					'_label -> "",
					'_help -> ""
				)
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr noshade="" />
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.NetworkInterfaces.list(device.name)"/>
			</td>
		</tr>
		</table>
		
		@CSRF.formField	
	}
	</div>
	
	@if(message.length() > 0) {
		<script type="text/javascript">
			$(function() {
				alert("@Html(escapeEcmaScript(message))");
			});
		</script>
	}		
}