@* dip Template File *@
@(lint : srxlib.nic.LogicalInetInterface, candidate:java.util.Map[String, srxlib.nat.Dip])(implicit request: RequestHeader, device: srxlib.Device)

@import srxlib.nat.Dip 

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Network &gt; Interfaces &gt; Edit &gt; DIP (List)</p>
			
			<div class="infoArea">
				<div class="clearpull">
					<div class="pull-left">
						Interface: @lint.getName
					</div>
					<div class="pull-right">
						<a href="@routes.NetworkInterfaces.list(device.name)">Back To Interface List</a>
					</div>
				</div>
				<div class="overflow:hidden">
					<div class="pull-left">
						@tab(3, lint)
					</div>
					<div class="pull-right">
						<form style="margin-top:5px" method="GET" action="@routes.NetworkInterfaces.createDip(device.name, lint.getPhysicalInterfaceName, lint.getUnitId)">
							<input type="submit" value="New">
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
			<thead>
				<tr class="title">
					<th>IP Address Range</th>
					<th>DIP Type</th>
					<th colspan="2">Configure</th>
				</tr>
			</thead>
			<tbody>
			@defining(device.config) { config =>
			@for(dip <- lint.getDipList) {
				<tr class="@views.html.helper.changedClass(dip.isChanged(candidate))">
					<td>@dip.getStartAddress -- @dip.getEndAddress</td>
					<td>Port-Xlate</td>
					<td>-</td>
					<td>
						@if(Dip.isRemovable(dip.getName, config)) {
							@helper.form(action = routes.NetworkInterfaces.deleteDipPost(device.name, lint.getPhysicalInterfaceName, lint.getUnitId, dip.getName), 'class -> "form-inline", 'style -> "display: inline-block;") {
								<a href="#" onclick="parentNode.submit();">Remove</a>
							}						
						}	
					</td>	
				</tr>
			}
			}
			</tbody>
		</table>	
	</div>
}
