@* dipForm Template File *@
@(lint:srxlib.nic.LogicalInetInterface, dipForm: Form[IfDipForm], action:play.api.mvc.Call)(implicit request: RequestHeader, device:srxlib.Device, messages: play.api.i18n.Messages)


@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {

		<div class="formHeaderSpace"></div>

		<table class="formTable">
		<tr>
			<th class="text-right">IP Address Range</th>
			<td>
				@helper.inputText(
					dipForm("startAddress"),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
					)
					
					~
					
				@helper.inputText(
					dipForm("endAddress"),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
					)
			</td>
		</tr>	
		<tr>
			<td colspan="2">
				<hr noshade />
			</td>		
		</tr>
		<tr>
			<th class="text-right">Set Proxy Arp</th>
			<td>
				@helper.checkbox(
					dipForm("proxyarp"),
					'_label -> "",
					'_help -> ""
				)
			</td>
		</tr>		
		<tr>
			<td colspan="2">
				<hr />
			</td>		
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.NetworkInterfaces.dip(device.name, lint.getPhysicalInterfaceName, lint.getUnitId)"/>
			</td>
		</tr>
		</table>
		
		@helper.CSRF.formField
}	