@* editSecondaryIP Template File *@
@(ipForm:Form[IfIPForm], lif:srxlib.nic.LogicalInetInterface, message:String = "")(implicit request: RequestHeader, device: srxlib.Device, lang: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.RawField.f) }

@deviceMain {
	<div class="content">
		<div class="header">
			<p class="breadCrumb">Network &gt; Interfaces &gt; Edit &gt; Secondary IPs</p>
		
			<div class="infoArea text-right">
				<div class="clearpull">
					<div class="pull-left"><b>Interface: @lif.getDisplayName</b></div>
					<div class="pull-right"><a href="@routes.NetworkInterfaces.list(device.name)">Back To Interface List</a></div>
				</div>
				@tab(6, lif)
			</div>
		</div>

		<br />
		<br />
		<br />
				

		@helper.form(action = routes.NetworkInterfaces.editSecondaryIPPost(device.name, lif.getPhysicalInterfaceName, lif.getUnitId), 'class -> "form-horizontal", 'role -> "form", 'style -> "padding:0px;") {
			<table cellspacing="0" cellpadding="0" border="1" class="formTable">
				<tr class="title">
					<th>Add New Entry</th>
				</tr>
				<tr>
					<td>
						<table width="100%" cellspacing="0" cellpadding="4" border="0" style="background-color: #ebebeb;">
							<tr>
								<th>IP Address/Netmask</th>
								<td>
								@helper.inputText(
									ipForm("address"),
									'class -> "form-control"
								)
								<span class="form-control-static">/</span>
								@helper.inputText(
									ipForm("mask"),
									'class -> "form-control",
									'style -> "width: 90px;"
								)
						        <div class="errors">@ipForm.errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</div>
								</td>
								<td>
									<input type="submit" value="Add">
									@helper.CSRF.formField
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>	
		}

		<br />
		<br />
		
		@defining(lif.getInet4SecondaryAddressAndMaskList) { ipList =>
			<table cellspacing="0" cellpadding="4" border="1" class="formTable">
				<tr class="title">
					<th class="text-center">IP Address/Netmask</th>
					<th class="text-center">Configure</th>
				</tr>
				@if(ipList.size == 0) {
				<tr class="body">
					<td colspan="2" class="text-center">No entry available</td>
				</tr>
				} else {
					@defining(device.candidateConfig.findLogicalInterface(lif.getName)) { candidate =>	
					@for(ip <- ipList) {
						<tr class="@candidate match {
							case LogicalInetInterface(v) => { @if(!v.getInet4SecondaryAddressAndMaskList.contains(ip)) { element-created } }
							case _ => { element-created }
							}">
							<td>@{"%s/%d".format(ip.getAddress, ip.getNetmask)}</td>
							<td>
								@helper.form(action = routes.NetworkInterfaces.deleteSecondaryIPPost(device.name, lif.getPhysicalInterfaceName, lif.getUnitId)) {
									<input type="hidden" name="address" value="@ip.getAddress">
									<input type="hidden" name="mask" value="@ip.getNetmask">
									<a href="#" onclick="$(this).parent('form').submit(); return false;">Remove</a>
								}	
							</td>
						</tr>	
					}
					}
				}
			</table>
		}
		
	</div>
	
	@if(message.length() > 0) {
		<script type="text/javascript">
			$(function() {
				alert("@Html(escapeEcmaScript(message))");
			});
		</script>
	}
}