@* editBasic Template File *@
@(ifBasicForm:Form[IfBindForm], lif:srxlib.nic.LogicalBindInterface, message:String = "")(implicit request: RequestHeader, device: srxlib.Device, lang: play.api.i18n.Messages)

@import helper._
@import srxlib.nic.LogicalBoundInterface.PORT_MODE_ACCESS
@import srxlib.nic.LogicalBoundInterface.PORT_MODE_TRUNK

@implicitFieldConstructor = @{ FieldConstructor(views.html.helper.BootstrapField.f(3, 6)) }

@deviceMain {
	
	
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Network &gt; Interfaces &gt; Edit &gt; Bind Port</p>
	
			<div class="infoArea">
				<div class="clearpull">
					<div class="pull-left">Interface: @lif.getDisplayName</div>
					<a class="pull-right" href="@routes.NetworkInterfaces.list(device.name)">Back To Interface List</a>
				</div>
				@tab(2, lif)
			</div>
		</div>


	@helper.form(action = routes.NetworkInterfaces.editBindPost(device.name, lif.getPhysicalInterfaceName, lif.getUnitId), 'class -> "form-horizontal", 'role -> "form") {

		<div class="formHeaderSpace"></div>

@*		<table style="width:auto;margin:auto;" cellspacing="1" cellpadding="1" border="1"> *@
		<table style="width:auto;margin:auto;" cellpadding="10">
			<thead>
				<tr>
					<th>Port</th>
					<th>Bound To</th>
					<th colspan="2">Bind to Current Interface</th>
				</tr>
			</thead>
			<tbody>
@*				@for(v <- device.config.logicalInterfaceList.filter(v => models.BindableInterface.unapply(v).isDefined && models.BindableInterface.unapply(v).get.canBoundBy(lif.getName))) { *@
	  			@for(v <- lif.getBindCandidatesList(device).asScala.toList) { 
							<tr>
								<td class="text-center">@v.getDisplayName</td>
								@v match {
									case models.LogicalBoundInterface(b) => {
										@defining(b.getBindInterfaceNameList.asScala.toList) { l =>
										@defining(l.contains(lif.getName)) { contains =>
										<td class="text-center">
											@for(n <- l) {
												<div>@n</div>	
											}
										</td>
										<td class="text-center">
											<input type="checkbox" name="cb_port[]" value="@v.getName" @if(contains) { checked }>
										</td>
										<td class="text-center">
											@b match {
												case models.LogicalVlanInterface(c) => { 
													@if(c.canChangePortMode(lif.getName)) {
														<label><input type="checkbox" name="cb_trunk[]" value="@v.getName" @if(c.getPortMode == PORT_MODE_TRUNK) { checked }>Trunk</label>
													} else {
														<fieldset disabled style="border-style:none;">
															<label><input type="checkbox" name="cb_trunk[]" value="@v.getName" @if(c.getPortMode == PORT_MODE_TRUNK) { checked }>Trunk</label>
														</fieldset>	
													}
												}
												case _ => { &nbsp; }
											}
										</td>
										}
										}
									}
									case _ => {
										<td>&nbsp;</td>
										<td class="text-center">
											<input type="checkbox" name="cb_port[]" value="@v.getName">
										</td>
										<td class="text-center">
											@lif match {
												case models.VlanInterface(b) => { <label><input type="checkbox" name="cb_trunk[]" value="@b.getName">Trunk</label>}
												case _ => { &nbps; }
											}
										</td>
									}	
								}
							</tr>	
				}
			</tbody>
		</table>	
		<hr noshade />	
		<div class="text-center">
				<input class="btn btn-default" type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.NetworkInterfaces.list(device.name)"/>
		</div>
		@CSRF.formField	
	}
	</div>
	
	@if(message.length() > 0) {
		<script type="text/javascript">
			$(function() {
				alert("@Html(escapeEcmaScript(message))");
			});
		</script>
	}
}