@* editBasic Template File *@
@(ifBasicForm:Form[IfBasicForm], lif:srxlib.nic.LogicalInetInterface, message:String = "")(implicit request: RequestHeader, device: srxlib.Device, lang: play.api.i18n.Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.helper.BootstrapField.f(3, 6)) }

@deviceMain {


	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Network &gt; Interfaces &gt; Edit</p>
	
			<div class="infoArea text-right">
				<div class="clearpull">
					<div class="pull-left"><b>Interface: @lif.getDisplayName</b></div>
					<div class="pull-right"><a href="@routes.NetworkInterfaces.list(device.name)">Back To Interface List</a></div>
				</div>
				@tab(1, lif)
			</div>
		</div>

		@helper.form(action = routes.NetworkInterfaces.editBasicPost(device.name, lif.getPhysicalInterfaceName, lif.getUnitId), 'class -> "form-horizontal", 'role -> "form") {

			<div class="formHeaderSpace"></div>

			<table>
			<tr class="form-group">
				<th class="text-right">Interface Name</label>
				<td>
					<p class="form-control-static">@lif.getDisplayName</p>
				</td>
			</tr>
		
			<tr>	
				<th class="text-right">Zone Name</th>
				<td>	
			@defining(device.config.securityZoneNameList().asScala.toList) { opts => 
				@helper.select(ifBasicForm("interface_zone_name"), ("", "") :: options(opts),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
				)
			}
				</td>
			</tr>	
			<tr>
				<td colspan="2">
						<hr />
				</td>
			</tr>
		
			@lif match {
				case VPNInterface(v) => {}
				case _ => {	
			<tr class="form-group @if(ifBasicForm("ip").hasErrors) { has-error}">
				<th class="text-left">
					@helper.inputRadioGroup(
						ifBasicForm("ip.type"),
						options = Seq(srxlib.nic.LogicalInetInterface.INET4_TYPE_DHCP.toString -> "Obtain IP using DHCP")
					)(FieldConstructor(views.html.helper.RawField.f), lang)
				</th>
				<td></td>
			</tr>	
			<tr class="form-group @if(ifBasicForm("ip").hasErrors) { has-error}">
				<th class="text-left">
					@helper.inputRadioGroup(
						ifBasicForm("ip.type"),
						options = Seq(srxlib.nic.LogicalInetInterface.INET4_TYPE_NEGOTIATE.toString -> "Obtain IP using PPPoE")
					)(FieldConstructor(views.html.helper.RawField.f), lang)
				</th>
				<td>
					@defining(lif match {
						case PPPoEInetInterface(v) => Seq("" -> "None", v.getName -> v.getName)
						case _ => Seq("None" -> "")
					}) { opts => 
					@helper.select(
						ifBasicForm("ip.pppoe_instance"),
						options = opts
						)(FieldConstructor(views.html.helper.RawField.f), lang)
						}
					<a href="@routes.NetworkPPPoE.create(device.name)">Create new pppoe setting</a>
				</td>
			</tr>	
				}
			}
		
			<tr class="form-group @if(ifBasicForm("ip").hasErrors || ifBasicForm("ip.address").hasErrors || ifBasicForm("ip.mask").hasErrors) { has-error}">
				<th class="text-left">
					@helper.inputRadioGroup(
						ifBasicForm("ip.type"),
						options = Seq(srxlib.nic.LogicalInetInterface.INET4_TYPE_STATIC.toString -> "Static IP")
					)(FieldConstructor(views.html.helper.RawField.f), lang)
				</th>
				<td>&nbsp;</td>
			</tr>
			<tr class="form-group @if(ifBasicForm("ip").hasErrors || ifBasicForm("ip.address").hasErrors || ifBasicForm("ip.mask").hasErrors) { has-error}">
				<th class="text-right">
					IP Address / Netmask 	
				</th>
			    <td>
					@helper.inputText(
						ifBasicForm("ip.address"),
						'class -> "form-control"
					)(FieldConstructor(views.html.helper.RawField.f), lang)	    	    
					<span class="form-control-static">/</span>
					@helper.inputText(
						ifBasicForm("ip.mask"),
						'class -> "form-control",
						'style -> "width: 90px;"
					)(FieldConstructor(views.html.helper.RawField.f), lang)	
					<div>
			        <div class="errors">@ifBasicForm("ip.address").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</div>
			        <div class="errors">@ifBasicForm("ip.mask").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</div>
			        <div class="errors">@ifBasicForm("ip").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</div>
			        </div>
			    </td>
			</tr>

			@lif match {
				case VPNInterface(v) => {
			<tr class="form-group @if(ifBasicForm("ip").hasErrors) { has-error}">
				<th class="text-left">
					@helper.inputRadioGroup(
						ifBasicForm("ip.type"),
						options = Seq(srxlib.nic.LogicalInetInterface.INET4_TYPE_UNNUMBERED.toString -> "Unnumbered")
					)(FieldConstructor(views.html.helper.RawField.f), lang)
				</th>
				<td></td>
			</tr>	
				}
				case _ => {}
			}
			
			@if(lif.isInstanceOf[srxlib.nic.PortInetInterface] || lif.isInstanceOf[srxlib.nic.RethInterface]) {	
			<tr class="form-group">
				<th class="text-right">VLAN Tag</th>
				<td>
					@helper.inputText(ifBasicForm("vlan_tag"), '_label -> "", '_help -> "")
				</td>
			</tr>
			}		
			
			<tr>
				<td colspan="2">
						<hr />
				</td>
			</tr>
			@serviceOptionForm(ifBasicForm)
			<tr>
				<td colspan="2">
					<hr />
				</td>
			</tr>
			<tr>
				<th class="text-right">Maximum Transfer Unit(MTU)</th>	
				<td>Admin MTU 
			@helper.inputText(
				ifBasicForm("mtu"),
				'_label -> "",
				'_help -> ""
			)
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<hr />
				</td>
			</tr>
			<tr>
				<th class="text-right">Admin Status Up</th>	
				<td>
			@helper.checkbox(
				ifBasicForm("admin_state_up"),
				'_label -> "",
				'_help -> ""
			)
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<hr noshade />
				</td>		
			</tr>
		
			<tr>	
				<td></td>
			    <td>
					<input type="submit" value="OK" />
					<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.NetworkInterfaces.list(device.name)"/>
				</td>
			</tr>
			</table>
			
			@CSRF.formField	
		}
	</div>
	
	@if(message.length() > 0) {
		<script type="text/javascript">
			$(function() {
				alert("@Html(escapeEcmaScript(message))");
			});
		</script>
	}
    <script type="text/javascript" src="@routes.Assets.at("javascripts/network/interfaces/basic.min.js")"></script>
}