@* list Template File *@
@(interfaces:Seq[srxlib.nic.LogicalInterface], ifInfo:srxlib.InterfaceInformation)(implicit device:to.lef.srxlib.Device)

@import javax.xml.xpath._
@import scala.xml.NodeSeq
@import models._

@import srxlib.nic.LogicalInetInterface.INET4_TYPE_STATIC
@import srxlib.nic.LogicalInetInterface.INET4_TYPE_DHCP

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Network &gt; Interfaces (List)</p>
	
			<div class="infoArea">
				@pager()
				
				<div class="pull-left">
					<button id="refresh_btn" data-device="@device.name">Refresh</button>
				</div>
				<div class="pull-right">
					@helper.form(action = routes.NetworkInterfaces.create(device.name), 'class -> "form-inline", 'role -> "form") {
						<input type="submit" value="New" class="btn btn-default">
						&nbsp;
						<select name="target" class="form-control">
			@*		<option value="loopback">Loopback IF</option> *@
							<option value="sub">Sub-IF</option>
							<option value="vlan">Vlan</option>
							<option value="vpn">Tunnel IF</option>
			@*		<option value="irb">IRB</option> *@
						</select>
					}
				</div>
			</div>
		</div>
	
	
		<table cellspacing="0" cellpadding="4" border="1" class="formTable interface">
			<thead>
				<tr class="title">
					<th>Name</th>
					<th>Tag</th>
					<th>IP/Netmask</th>
					<th>Zone</th>
					<th>Type</th>
					<th>Link</th>
					<th>PPPoE</th>
					<th colspan="2">Configure</th>
				</tr>
			</thead>
			<tbody class="stripe">
			@defining(device.runningConfig) { running =>
			@defining(device.candidateConfig) { candidate =>
			@defining(device.config) { config =>
			@defining(device.pppSummaryInformation.getEntryMap) { pppMap =>
				@for(lint <- ifInfo.getInterfaceEntryList.filter(v => v.getCurrentFamilyType == "inet" || v.getConfigFamilyType == "inet")) {
					@defining(config.findLogicalInterface(lint.getName)) { lconfig =>
					@if(lconfig != null) {
						@if(lint.getCurrentFamilyType != lint.getConfigFamilyType && lint.getConfigFamilyType != "inet") {
					<tr class="parent element-removed" data-parent="@lint.getName">
						} else {
					<tr class="parent @views.html.helper.changedClass(lconfig.isChanged(candidate))" data-parent="@lint.getName">
						}
					} else {
					<tr class="parent element-noconfig" data-parent="@lint.getName">
					}
						<td>@lint.getName</td>
						<td class="text-center">
							@defining((Option(lint.getCurrentVlanId).map(_.toInt).getOrElse(0), 
								       	lconfig match {
											case LogicalInetInterface(o) => Option(o.getVlanId).map(_.toInt).getOrElse(0)
											case _ => 0
										})) { vlanId =>
								@if(vlanId._1 == vlanId._2) {
									@if(vlanId._1 > 0) {@vlanId._1} else {-}
								} else {
									@if(vlanId._1 > 0) {@vlanId._1} else {-}
									<br/>
									@if(vlanId._2 > 0) {(@vlanId._2)} else {(-)}
								}
							}
						</td>
						<td class="text-center">
							@for(af <- ifInfo.getAddressFamilyList(lint.getName).asScala.toList) {
								@af.getConfigStatus.toInt match {
									case 0 => { <div>@af.getIfaLocal</div> }
									case 1 => { <div>* @af.getIfaLocal</div> }
									case 2 => { <div>(@af.getIfaLocal)</div> }
									case _ => {}
								}
							}
							@if(lconfig != null) {	
							@lconfig match{
								case LogicalInetInterface(int) if(int.getInet4Type == INET4_TYPE_DHCP) => { (dhcp) }
								case _ => { &nbsp; }
							}
							}
						</td>
						<td class="text-center">
							@if(lint.getCurrentZoneName != lint.getConfigZoneName) {
								<div>@lint.getCurrentZoneName</div>
								<div>(@lint.getConfigZoneName)</div>
							} else {
								<div>@lint.getCurrentZoneName</div>
							}							
						</td>
						<td class="text-center">Layer 3</td>
						<td class="text-center">@lint.getStatus</td>
						<td>
							@lconfig match {
								case PPPoEInetInterface(int) => {
									@pppMap.get(int.getName) match {
										case o:srxlib.PPPSummaryInformation.Entry => {
											@o.getPhase match {
												case srxlib.PPPSummaryInformation.PPP_PHASE_NETWORK => { <img src="@routes.Assets.at("images/allow.gif")"> }
												case _ => { <img src="@routes.Assets.at("images/deny.gif")"> }
											}	
										}
										case _ => { <img src="@routes.Assets.at("images/none.gif")"> }
									}
								}
								case _ => { - }
							}
						</td>
						<td class="text-center">
							@if(lconfig != null && lint.getConfigFamilyType == "inet") {
								<a href="@routes.NetworkInterfaces.edit(device.name, lconfig.getPhysicalInterfaceName, lconfig.getUnitId)">Edit</a>
							}
						</td>
						<td class="text-center">
							@if(lconfig != null && lconfig.isRemovable(config) && lint.getConfigFamilyType == "inet") {
								@helper.form(action = routes.NetworkInterfaces.deletePost(device.name, lconfig.getPhysicalInterfaceName, lconfig.getUnitId), 'class -> "form-inline", 'role -> "form", 'style -> "display:inline-block") {
									<a href="#" onclick="parentNode.submit();">Remove</a>
								}
							} else { &nbsp; }
						</td>
					</tr>
				
					@if(lconfig != null) {
						@lconfig match {
							case LogicalBindInterface(v) => {
								@for(bifname <- v.getBindingInterfaceNameList.asScala.toList) {
									@defining(ifInfo.getInterfaceEntry(bifname)) { bent =>
									@defining(config.findLogicalInterface(bifname)) { bif =>
									<tr data-parent="@lint.getName" @if(bif != null) { class="@views.html.helper.changedClass(bif.isChanged(candidate))" }>
										<td>&nbsp;&nbsp;&nbsp;&nbsp;@bifname</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td class="text-center">Layer 2</td>
										<td class="text-center">
											@if(bent != null) {
												@bent.getStatus
											}
										</td>
										<td></td>
										<td>&nbsp;
										</td>
										<td></td>
									</tr>
									}
									}
								}
							}
							case _ => {}
						}
					}
					}
				}
			}
			}
			}
			}
			</tbody>
		</table>
	</div>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/network/interfaces.min.js")"></script>
}