@* dip Template File *@
@(lint : srxlib.nic.LogicalInetInterface, candidates:java.util.Map[String, srxlib.nat.Mip])(implicit device: srxlib.Device)

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Network &gt; Interfaces &gt; Edit &gt; MIP (List)</p>
			
			<div class="infoArea">
				<div class="clearpull">
					<div class="pull-left">
						Interface: @lint.getName
					</div>
					<div class="pull-right">
						<a href="@routes.NetworkInterfaces.list(device.name)">Back To Interface List</a>
					</div>
				</div>
				<div class="overflow:hidden">
					<div class="pull-left">
						@tab(4, lint)
					</div>
					<div class="pull-right">
						<form style="margin-top:5px" method="GET" action="@routes.NetworkInterfaces.createMip(device.name, lint.getPhysicalInterfaceName, lint.getUnitId)">
							<input type="submit" value="New">
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
			<thead>
				<tr class="title">
					<th>Mapped IP</th>
					<th>Host IP</th>
					<th>Netmask</th>
					<th colspan="2">Configure</th>
				</tr>
			</thead>
			<tbody>

			@defining(device.config) { config =>
			@for(rule <- lint.getMipList) {
				<tr class="@views.html.helper.changedClass(rule.isChanged(candidates))">
					<td>@rule.getMappedAddress</td>
					<td>@rule.getPrefixAddress</td>
					<td>@rule.getMappedMask</td>
					<td></td>	
					<td>
						@if(rule.isRemovable(config)) {
							@helper.form(action = routes.NetworkInterfaces.deleteMipPost(device.name, lint.getPhysicalInterfaceName, lint.getUnitId, rule.getName), 'class -> "form-inline", 'style -> "display: inline-block;") {
								<a href="#" onclick="parentNode.submit();">Remove</a>
							}
						}
					</td>
				</tr>
			}
			}
			</tbody>
		</table>	
	</div>
}
