@* mipForm Template File *@
@(lint:srxlib.nic.LogicalInetInterface, mipForm: Form[IfMipForm], action:play.api.mvc.Call)(implicit request: RequestHeader, device:srxlib.Device, messages: play.api.i18n.Messages)


@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {
	
		<div class="formHeaderSpace"></div>
	
		<table class="formTable">
		<tr>
			<th class="text-right">Mapped IP</th>
			<td>
				@helper.inputText(
					mipForm("mappedAddress"),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
					)
			</td>
		</tr>
		<tr>
			<th class="text-right">Host IP</th>	
			<td>
				@helper.inputText(
					mipForm("hostAddress"),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
					)
			</td>
		</tr>	
		<tr>
			<th class="text-right">Netmask</th>	
			<td>
				@helper.inputText(
					mipForm("netmask"),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
					)
			</td>
		</tr>	
		<tr>
			<td colspan="2">
				<hr noshade />
			</td>		
		</tr>
		<tr>
			<th class="text-right">Set Proxy Arp</th>
			<td>
				@helper.checkbox(
					mipForm("proxyarp"),
					'_label -> "",
					'_help -> ""
				)
			</td>
		</tr>		
		<tr>
			<td colspan="2">
				<hr noshade />
			</td>		
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.NetworkInterfaces.mip(device.name, lint.getPhysicalInterfaceName, lint.getUnitId)"/>
			</td>
		</tr>
		</table>
		
		@helper.CSRF.formField
}	