@* serviceOptionForm Template File *@
@(ifBasicForm:Form[IfBasicForm])(implicit device:srxlib.Device, messages: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(3, 6)) }
@defining(srxlib.BaseConfig.FORWARDING_INET6_OPTION_FLOW.equals(device.config.getForwardingInet6Option)) { v6enabled => 
@defining(device.softwareInformation().isShipHidden()) { sipdisabled => 
		<tr>
			<th class="text-left">Service Options</th>
			<td></td>
		</tr>

		<tr>
			<th class="text-right">System Service</th>
			<td>
				<div>
					<button onclick="$('table.optionTable').find('input[type=checkbox]').prop('checked', true); return false;">Check All</button>
					<button onclick="$('table.optionTable').find('input[type=checkbox]').prop('checked', false); return false;">Uncheck All</button>
				</div>
				<hr/>
				<table class="optionTable">

					<tr>
						<td>    @helper.checkbox( ifBasicForm("services1.bootp"), '_label -> "bootp", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services1.dhcp"), '_label -> "dhcp", '_help -> "")</td>
						<td>	
							@if(v6enabled) {
								@helper.checkbox( ifBasicForm("services1.dhcpv6"), '_label -> "dhcpv6", '_help -> "")</td>
							} else {
								- dhcpv6
							}
						</td>
						<td>	@helper.checkbox( ifBasicForm("services1.dns"), '_label -> "dns", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services1.finger"), '_label -> "finger", '_help -> "")</td>
					</tr>
					<tr>
						<td>	@helper.checkbox( ifBasicForm("services1.ftp"), '_label -> "ftp", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services1.http"), '_label -> "http", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services1.https"), '_label -> "https", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services1.ident-reset"), '_label -> "ident-reset   ", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services1.ike"), '_label -> "ike", '_help -> "")</td>
					</tr>
					<tr>
						<td>	@helper.checkbox( ifBasicForm("services1.lsping"), '_label -> "lsping", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services1.netconf"), '_label -> "netconf", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services1.ntp"), '_label -> "ntp", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services1.ping"), '_label -> "ping", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services1.r2cp"), '_label -> "r2cp", '_help -> "")</td>
					</tr>
					<tr>
						<td>	@helper.checkbox( ifBasicForm("services1.reverse-ssh"), '_label -> "reverse-ssh", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services1.reverse-telnet"), '_label -> "reverse-telnet", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services1.rlogin"), '_label -> "rlogin", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services2.rpm"), '_label -> "rpm", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services2.rsh"), '_label -> "rsh", '_help -> "")</td>
					</tr>
					<tr>
						@if(sipdisabled == false) {
						<td>
							@helper.checkbox( ifBasicForm("services2.sip"), '_label -> "sip", '_help -> "")
						</td>
						}
						<td>	@helper.checkbox( ifBasicForm("services2.snmp"), '_label -> "snmp", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services2.snmp-trap"), '_label -> "snmp-trap", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services2.ssh"), '_label -> "ssh", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services2.telnet"), '_label -> "telnet", '_help -> "")</td>
					</tr>
					<tr>
						<td>	@helper.checkbox( ifBasicForm("services2.tftp"), '_label -> "tftp", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services2.traceroute"), '_label -> "traceroute", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services2.xnm-clear-text"), '_label -> "xnm-clear-text", '_help -> "")</td>
						<td>	@helper.checkbox( ifBasicForm("services2.xnm-ssl"), '_label -> "xnm-ssl", '_help -> "")</td>
						<td></td>
					</tr>
				</table>
			</td>
		</tr>
		
		<tr>
			<th class="text-right">Protocol</th>
			<td>

				<table class="optionTable">
					<tr>
						<td>@helper.checkbox( ifBasicForm("protocols.bfd"), '_label -> "bfd", '_help -> "")</td>
						<td>@helper.checkbox( ifBasicForm("protocols.bgp"), '_label -> "bgp", '_help -> "")</td>
						<td>@helper.checkbox( ifBasicForm("protocols.dvmrp"), '_label -> "dvmrp", '_help -> "")</td>
						<td>@helper.checkbox( ifBasicForm("protocols.igmp"), '_label -> "igmp", '_help -> "")</td>
						<td>@helper.checkbox( ifBasicForm("protocols.ldp"), '_label -> "ldp", '_help -> "")</td>
					</tr>
					<tr>
						<td>@helper.checkbox( ifBasicForm("protocols.msdp"), '_label -> "msdp", '_help -> "")</td>
						<td>@helper.checkbox( ifBasicForm("protocols.nhrp"), '_label -> "nhrp", '_help -> "")</td>
						<td>@helper.checkbox( ifBasicForm("protocols.ospf"), '_label -> "ospf", '_help -> "")</td>
						<td>
							@if(v6enabled) {
								@helper.checkbox( ifBasicForm("protocols.ospf3"), '_label -> "ospf3", '_help -> "")
							} else {
								- ospf3
							}
						</td>
						<td>@helper.checkbox( ifBasicForm("protocols.pgm"), '_label -> "pgm", '_help -> "")</td>
					</tr>
					<tr>
						<td>@helper.checkbox( ifBasicForm("protocols.pim"), '_label -> "pim", '_help -> "")</td>
						<td>@helper.checkbox( ifBasicForm("protocols.rip"), '_label -> "rip", '_help -> "")</td>
						<td>
							@if(v6enabled) {
								@helper.checkbox( ifBasicForm("protocols.ripng"), '_label -> "ripng", '_help -> "")
							} else {
								- ripng
							}
						</td>
						<td>@helper.checkbox( ifBasicForm("protocols.router-discovery"), '_label -> "router-discovery", '_help -> "")</td>
						<td>@helper.checkbox( ifBasicForm("protocols.rsvp"), '_label -> "rsvp", '_help -> "")</td>
					</tr>
					<tr>
						<td>@helper.checkbox( ifBasicForm("protocols.sap"), '_label -> "sap", '_help -> "")</td>
						<td>@helper.checkbox( ifBasicForm("protocols.vrrp"), '_label -> "vrrp", '_help -> "")</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</table>

			</td>
		</tr>	
}
}