@* tab Template File *@
@(activeId: Int, interface:srxlib.nic.LogicalInterface)(implicit device:srxlib.Device)

<div class="edit-tab">
<b>Properties: </b>

@interface match {
	case LogicalInetInterface(v) => {
		@if(activeId == 1) { 
			<span class="select">Basic</span>
		} else {
			<span><a href="@routes.NetworkInterfaces.editBasic(device.getName, interface.getPhysicalInterfaceName, interface.getUnitId)">Basic</a></span>
		}
	}
	case _ => {}
}

<span>IPv6</span>
<span>Proxy</span>
<span>ARP</span>

@interface match {
	case LogicalBindInterface(v) => {
		@if(activeId == 2) { 
			<span class="select">Bind Port</span>
		} else {	
			<span><a href="@routes.NetworkInterfaces.editBind(device.getName, interface.getPhysicalInterfaceName, interface.getUnitId)">Bind Port</a><span>
		}
	}
	case _ => {}
}

@interface match {
	case LogicalInetInterface(v) => {
		@if(activeId == 4) {
			<span class="select">staticNAT(MIP)</span>
		} else {
			<span><a href="@routes.NetworkInterfaces.mip(device.getName, interface.getPhysicalInterfaceName, interface.getUnitId)">staticNAT(MIP)</a></span>
		}
	}
	case _ => {}
}

@interface match {
	case LogicalInetInterface(v) => {
		@if(activeId == 3) {
			<span class="select">srcNAT(DIP)</span>
		} else {
			<span><a href="@routes.NetworkInterfaces.dip(device.getName, interface.getPhysicalInterfaceName, interface.getUnitId)">srcNAT(DIP)</a></span>
		}
	}
	case _ => {}
}

@interface match {
	case LogicalInetInterface(v) => {
		@if(activeId == 5) {
			<span class="select">dstNAT(VIP)</span>
		} else {
			<span><a href="@routes.NetworkInterfaces.vip(device.getName, interface.getPhysicalInterfaceName, interface.getUnitId)">dstNAT(VIP)</a></span>
		}
	}
	case _ => {}
}

@interface match {
	case LogicalInetInterface(v) if (v.isInet4Static) => {
		@if(activeId == 6) {
			<span class="select">Secondary IP</span>
		} else {
			<span><a href="@routes.NetworkInterfaces.editSecondaryIP(device.getName, interface.getPhysicalInterfaceName, interface.getUnitId)">Secondary IP</a></span>
		}	
	}
	case _ => {}
}
<span>IGMP</span>
<span>Monitor</span>
<span>IRDP</span>
</div>