@* dip Template File *@
@(lint : srxlib.nic.LogicalInetInterface, candidates:java.util.Map[String, srxlib.nat.Vip])(implicit device: srxlib.Device)

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Network &gt; Interfaces &gt; Edit &gt; VIP/VIP Services</p>
			
			<div class="infoArea">
				<div class="clearpull">
					<div class="pull-left">
						Interface: @lint.getName
					</div>
					<div class="pull-right">
						<a href="@routes.NetworkInterfaces.list(device.name)">Back To Interface List</a>
					</div>
				</div>
				<div class="clearpull">
					<div class="pull-left">
						@tab(5, lint)
					</div>
					<div class="pull-right">
						<form style="margin-top:5px" method="GET" action="@routes.NetworkInterfaces.createVip(device.name, lint.getPhysicalInterfaceName, lint.getUnitId)">
							<input type="submit" value="New VIP Service">
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
			<thead>
				<tr class="title">
					<th>Virtual Address</th>
					<th>Virtual Port</th>
					<th>Map to Service</th>
					<th>Map to IP</th>
					<th colspan="2">Configure</th>
				</tr>
			</thead>
			<tbody>
@*			@defining(device.config.vipList.asScala.toList.filter(v => v.isBelongsTo(lint))) { list => *@
			@defining(device.config) { config =>
			@defining(lint.getVipList.asScala.toList) { list => 
			@for(vaddr <- list.map(v => v.getVirtualAddress).distinct) {
				@defining(list.filter(v => v.getVirtualAddress == vaddr)) { vips =>	
				<tr>
					<td rowspan="@vips.size">@vaddr</td>
				@for((vip, idx) <- vips.zipWithIndex) {
				@defining(vip.isChanged(candidates)) { changed =>
					@if(idx != 0) { <tr> }
					<td class="@views.html.helper.changedClass(changed)">@vip.getVirtualPort</td>
					<td class="@views.html.helper.changedClass(changed)">@vip.getMapProtocol @vip.getMapPort</td>
					<td class="@views.html.helper.changedClass(changed)">@vip.getMapAddress</td>
					<td class="@views.html.helper.changedClass(changed)"></td>
					<td class="@views.html.helper.changedClass(changed)">
						@if(vip.isRemovable(config)) {
							@helper.form(action = routes.NetworkInterfaces.deleteVipPost(device.name, lint.getPhysicalInterfaceName, lint.getUnitId, vip.getName), 'class -> "form-inline", 'style -> "display: inline-block;") {
								<a href="#" onclick="parentNode.submit();">Remove</a>
							}
						}
					</td>
				</tr>
				}
				}
				}
			}	
			}
			}
			</tbody>
		</table>	
	</div>
}
