@* vipForm Template File *@
@(lint:srxlib.nic.LogicalInetInterface, vipForm: Form[IfVipForm], action:play.api.mvc.Call)(implicit request: RequestHeader, device:srxlib.Device, messages: play.api.i18n.Messages)


@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {

		<div class="formHeaderSpace"></div>

		<table class="formTable">
		<tr>
			<th class="text-right">Virtual IP</th>
			<td>
				@helper.inputText(
					vipForm("virtualAddress"),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
					)
			</td>
		</tr>
		<tr>
			<th class="text-right">Virtual Port</th>	
			<td>
				@helper.inputText(
					vipForm("virtualPort"),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
					)
			</td>
		</tr>	
		<tr>
			<th class="text-right">Map to Service</th>	
			<td>
					Protocol: 
					@helper.select(vipForm("mapProtocol"), helper.options("tcp" -> "tcp", "udp" -> "udp"),
						'class -> "form-control",
						'_label -> "",
						'_help -> ""
						)
						
					Port:
				@helper.inputText(
					vipForm("mapPort"),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
					)
			</td>
		</tr>	
		<tr>
			<th class="text-right">Map to IP</th>
			<td>
				@helper.inputText(
					vipForm("mapAddress"),
					'class -> "form-control",
					'_label -> "",
					'_help -> ""
					)
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr noshade />
			</td>		
		</tr>
		<tr>
			<th class="text-right">Set Proxy Arp</th>
			<td>
				@helper.checkbox(
					vipForm("proxyarp"),
					'_label -> "",
					'_help -> ""
				)
			</td>
		</tr>			
		<tr>
			<td colspan="2">
				<hr noshade />
			</td>		
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.NetworkInterfaces.vip(device.name, lint.getPhysicalInterfaceName, lint.getUnitId)"/>
			</td>
		</tr>
		</table>
		
		@helper.CSRF.formField
}	