@* BootstrapField Template File *@
@(lw:Int, vw:Int)(elements: helper.FieldElements)

<span class="form-group @if(elements.hasErrors) {has-error}">
    <label class="control-label col-sm-@lw" for="@elements.id">
        @elements.input
        @elements.label
    </label>
    <span class="help-block">@elements.infos.mkString(", ")</span>
    <span class="help-block errors">@elements.errors.mkString(", ")</span>
</span> 