@* BootstrapField Template File *@
@(elements: helper.FieldElements)

@*<div class="form-group @if(elements.hasErrors) {has-error}">*@
    @*<label class="control-label" for="@elements.id">@elements.label</label>*@
    <b>@elements.label</b>
    @elements.input
@*    <span class="help-block errors">@elements.errors.mkString(", ")</span> *@
@*</div>*@