@* edit Template File *@
@(dtForm:Form[DateTimeForm], message:String = "")(implicit request: RequestHeader, device:srxlib.Device, lang: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Configuration &gt; Date/Time</p>

			<div class="infoArea">
			@defining(device.uptimeInformation) { uptime =>
					<div id="sysInfo">Up time: @uptime.getUptime,    System time: @uptime.getCurrentTime</div>
			}
			</div>
		</div>
	
		@helper.form(action = routes.DateTime.editPost(device.name), 'class -> "form-horizontal", 'role -> "form") {
			
			<br />
			<br />
			<br />

			<table class="formTable" style="line-height:40px;">
				<tr>
					<th colspan="4">
						Set Time Zone
						@helper.select(dtForm("timeZone"), options = helper.options(srxlib.DateTime.timeZoneList.asScala.toList),
							'class -> "form-control",
							'_label -> "",
							'_help -> "")
					</th>
				</tr>
				<tr>
					<th colspan="4"><hr style="width:100%;"></th>
				</tr>
				<tr>
					<th colspan="4">Automatically synchronize with an Internet Time Server(NTP)</th>
				</tr>
				<tr>
					<th class="text-right">Source Address</th>
					<td colspan="3">
						@helper.inputText(dtForm("ntpSourceAddress"),
							'class -> "form-control",
							'_label -> "",
							'_help -> "")
					</td>
				</tr>
				<tr>
					<th colspan="4"><hr style="width:90%;"></th>
				</tr>
				<tr>
					<th class="text-right">Primary server IP/Name</th>
					<td colspan="3">
						@helper.inputText(dtForm("ntp1.server"), 
							'class -> "form-control",
							'_label -> "",
							'_help -> "")
					</td>
				</tr>
				<tr>
					<th class="text-right">Primary server Key ID</th>
					<td>
						@helper.inputText(dtForm("ntp1.keyId"), 
							'class -> "form-control",
							'_label -> "",
							'_help -> "")
					</td>
					<th class="text-right">Preshared Key</th>
					<td>
						<input type="password" name="ntp1.keyValue" class="form-control" value="@dtForm("ntp1.keyValue").value.getOrElse("")">
				        <span class="errors">@dtForm("ntp1.keyValue").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</span>
				        @*
						@helper.inputPassword(dtForm("ntp1.keyValue"), 
							'class -> "form-control",
							'_label -> "",
							'_help -> "")
							*@
					</td>				
				</tr>
				<tr>
					<th class="text-right">Backup server1 IP/Name</th>
					<td colspan="3">
						@helper.inputText(dtForm("ntp2.server"), 
							'class -> "form-control",
							'_label -> "",
							'_help -> "")
					</td>
				</tr>			
				<tr>
					<th class="text-right">Backup server1 Key ID</th>
					<td>
						@helper.inputText(dtForm("ntp2.keyId"), 
							'class -> "form-control",
							'_label -> "",
							'_help -> "")
					</td>
					<th class="text-right">Preshared Key</th>
					<td>
						<input type="password" name="ntp2.keyValue" class="form-control" value="@dtForm("ntp2.keyValue").value.getOrElse("")">
				        <span class="errors">@dtForm("ntp2.keyValue").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</span>
				        @*
						@helper.inputPassword(dtForm("ntp2.keyValue"), 
							'class -> "form-control",
							'_label -> "",
							'_help -> "")
							*@
					</td>				
				</tr>			
					<tr>
					<th class="text-right">Backup server2 IP/Name</th>
					<td colspan="3">
						@helper.inputText(dtForm("ntp3.server"), 
							'class -> "form-control",
							'_label -> "",
							'_help -> "")
					</td>
				</tr>			
				<tr>
					<th class="text-right">Backup server2 Key ID</th>
					<td>
						@helper.inputText(dtForm("ntp3.keyId"), 
							'class -> "form-control",
							'_label -> "",
							'_help -> "")
					</td>
					<th class="text-right">Preshared Key</th>
					<td>
						<input type="password" name="ntp3.keyValue" class="form-control" value="@dtForm("ntp3.keyValue").value.getOrElse("")">
				        <span class="errors">@dtForm("ntp3.keyValue").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</span>
				        @*
						@helper.inputPassword(dtForm("ntp3.keyValue"), 
							'class -> "form-control",
							'_label -> "",
							'_help -> "")
							*@
					</td>				
				</tr>						
				<tr>
					<th colspan="4"><hr noshade=""></th>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="3">
						<input type="submit" value="OK" />
						<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.Home.index(device.name, None, None)"/>
					</td>
				</tr>
			</table>
			
			@helper.CSRF.formField			
		}	
		
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}	
	</div>
}	