

.CodeMirror-merge, .CodeMirror-merge .CodeMirror {
  height: 800px;
}

.logo {
	color: white;
	font-size: 32px;
	text-align: center;
	padding-top: 35px;
}
.logoDeviceName {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: 800;
	color: #FFFAFA;
	font-style: italic;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	text-align: center;
	margin-top: 15px;
}

.deviceName {
	color: white;
	font-weight: bold;
}


.headerInfo {
	position: absolute;
	right: 0;
	color: yellow;
	padding-right: 15px;
}
.headerInfo a,
.headerInfo a:visited {
	color: yellow;
}

.container {
	width: 100%;
	height: 100%;
}

#frame .left {
	width:200px;
	background-color: #3A71A3;
	box-shadow: 2px 3px 3px #333;
	height: 100%;
	padding-top: 18px;
}
#frame .center {
	width: 10px;
	vertical-align: top;
}
#frame .center .header {
	overflow: hidden;
	height: 25px;
}
#frame .center .header .headerShadow {
	background-color: #3A71A3;
	box-shadow: 2px 2px 3px #45525F;
	height: 18px;
}
#frame .right {
	vertical-align: top;
}
#frame .right .header {
	height: 70px;
	background-color: white;
	overflow:hidden;
}
#frame .headerH70 { height: 70px !important; }
#frame .headerH90 { height: 90px !important; }
#frame .headerH110 { height: 110px !important; }

#frame .right .breadCrumb {
	font-weight: bold;
	font-size: 12px;
	font-family: "Verdana, Geneva, Arial, Helvetica, sans-serif";
	padding-left: 20px;
	color: white;
	text-align: left;
	height: 18px;
	background-color: #3A71A3;
	box-shadow: -2px 2px 3px #45525F;
}

#frame .right .infoArea {
	width: 93%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	font-weight: bold;
}
.content {
	height: 100%;
}
.content.bgColor {
	background-color: #BBD5EE;
}
.content > form {
	padding-left: 30px;
	padding-right: 30px;
}

.formTable {
	width: 93%;
	margin-left: auto;
	margin-right: auto;
}
.formTable caption {
	font-weight: bold;
	text-align: left;
}
.formHeaderSpace {
	height: 50px;
}
.memberTable {
	width: 0;
	margin-left: auto;
	margin-right: auto;
}
.separateTable {
	width: 93%;
	border-top: 2px solid gray;
	background-color: lightgrey;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
table .title {
	background-color: #BBD5EE;
	text-align: center;
}
table .body {
	background-color: #F5F5F5;
}
table .id {
	text-align: center;
	background-color: #CCC;
}
table tbody.stripe tr:nth-child(even) {
	background-color: #F5F5F5;
}
table .leftCol30 {
	width: 30%;
}
table .homeHeader {
	height: 22px;
}

.optionTable td {
	width: 20%;
}

.navBg {
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 5px;
	border-top-left-radius: 50px;
	background-color: #71A3D2;
	box-shadow: 2px 2px 4px #435464 inset;
	height: 100%;
	width: 200px;
}
.groupTitleBg {
	background-color: #E0E0E0;
}

#pager .move {
	height: 16px;
	cursor: pointer;
}

.wFill {
	width: 100%;
}

#hacg {
	margin-left: 50px;
	margin-top: 20px;
}
#hacg a:visited{
	color: #00F;
}
#hacg .left {
	float: left;
	width: 320px;
	margin: 10px;
}

#hacg .right {
	float:left;
	width: 600px;
	margin: 10px;
}

#hacg fieldset {
	margin-bottom: 15px;
	padding: 5px;
}
#hacg legend {
	font-weight: bold;
	color: #4B4B4B;
}

#hacg .leftLabel {
	width: 45px;
	color: #4B4B4B;
}
#hacg .node {
	width: 120px;
}

#hacg .left th {
	text-align: left;
}

#hacg .right table {
	border-collapse: collapse;
	border-spacing: 0px;
}
#hacg .right thead {
	background-color: #D8D8D8;
}
#hacg .right tr,
#hacg .right th,
#hacg .right td {
	border: 1px solid #ABABAB;
}
#hacg .right .protocol {
	width: 80px;
}

#hacg .info div {
	float: left;
}
#hacg .info ul {
	list-style: none;
}
#hacg .info li {
	font-size: 10px;
}

#hacg .instruction {
	width: 640px;
}

#hacg .InterfacesInfo {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 10px;
	border: 1px solid #000;
	padding: 3px;
}
#hacg #config {
	font-size:12px;
}
#hacg .error {
	border: 1px solid red !important;
}
#hacg .errorBgIfd { background-color: red; }
#hacg .errorBgVlanId { background-color: orange; }
#hacg .errorBgIpmask { background-color: yellow; }
#hacg .errorBgVlanName { background-color: pink; }

#hacg .vlanName { width: 200px; }
#hacg .ifd { width: 120px; }
#hacg .tag { width: 70px; }
#hacg .ifl { width: 50px; }
#hacg .vlanId { width: 60px; }
#hacg .vlan { width: 200px; }
#hacg .ip { width: 150px; }
#hacg .zone { width: 100px; }
#hacg [name=ip] { width: 90px; }
#hacg [name=mask] { width: 20px; }

#hacg pre.code1 {
	background: #000;
	color: #FFF;
	width: 600px;
	font-family: arial;
	font-size: 12px;
	border: 1px solid #CCC;
}
#hacg pre.code2 {
	background: #000;
	color: #FFF;
	font-family: arial;
	font-size: 12px;
	border: 1px solid #CCC;
}

#dialog ol {
	margin-left: 40px;
}
#dialog code {
	background: #D3D3D3;
	color: #008000;
	width: 500px;
	font-family: arial;
	font-size: 12px;
	display: inline-block;
}

/********/

html, body {  
    font-size: 12px;
    height: 100%;
}


body, div, dl, dt, dd, ul, ol, li, h1, h2, h2, h3, h5, h6,  
pre, form, fieldset, input, textarea, p, blockquote {
	margin: 0;
	padding: 0;
}
table {
	width: 100%;
}

table td {
	font-family: "Verdana","Arial","Helvetica","sans-serif";
	text-align: left;
	font-size: x-small;
}

input {
	font-family: "Verdana, Geneva, Arial, Helvetica, sans-serif";
	font-size: x-small;
	font-weight: normal;
}

.dl-horizontal dt {
	width: 110px;
	text-align: left;
	font-weight: bold;
	line-height: 20px;
	margin-left: 10px;
}
.dl-horizontal dd {
	margin-left: 130px;
	margin-top: -20px;
	line-height: 20px;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-top {
	vertical-align: top;
}

.clearfix {
	display: inline-block;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.hide {
	display: none;
}

.clearpull {
	overflow: hidden;
	clear: both;
}

/**** jstree overwrite ****/
.jstree-clicked {
	background: none !important;
}
.jstree-anchor,.jstree-anchor:link,.jstree-anchor:visited,.jstree-anchor:hover,.jstree-anchor:active{
	font-size: 14px;
	text-decoration: underline;
}
.jstree-anchor > .jstree-icon {
	width: 0 !important;
}
/*
[data-jstree] {
	display: none;
}
*/
.nav-tree {
	font-family: sans-serif;
}
.nav-tree > ul > li > a {
	font-weight: bold;
}

/**** element changed class ***/
.element-removed {
	background-color: #F2DEDE !important;	
}

.element-edited {
	background-color: #Dff0D8 !important;	
}

.element-created {
	background-color: #FCF8E3 !important;
}

.element-noconfig {
    color: #999999 !important;
    background-color: #EEEEEE !important;
}

.ui-dialog-titlebar {
	display: none;
}

div.edit-tab {
	margin-top: 15px;
	text-align: left;
	background-color:white;
	font-weight: bold;
}
div.edit-tab span {
	color: #AAA;
	margin-left: 10px;
}
span.select {
	color: red !important;
}

#rollbackNumberInput {
	background-color: #3A71A3;
	color: #FFFF00;
/*	width: 30px; */
	border: none;
	text-align: center;
}

.jstree-willimpl > .jstree-disabled {
	color: #555 !important;	
}

.jstree-default .jstree-disabled {
	color: #888;
}

.errors {
	color: red;
}
