@* form Template File *@
@(sForm:Form[ScreenForm], zoneName:String, message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Security &gt; Screening &gt; Screen</p>

			<div class="infoArea">
				<br />
				<div class="pull-left">
					@helper.form(action = routes.SecurityScreen.index(device.name, None)) {
						Zone:
						<select name="zone" onchange="this.parentNode.submit();">
						@for(zone <- device.config.securityZoneList.asScala.toList.map(v => v.getName)) {
							<option value="@zone" @if(zone == zoneName) { selected="selected"}>@zone</option>
						}	
						</select>
					}
				</div>
			</div>
		</div>

		<br />
		<br />
		<br />
			
		@helper.form(action = routes.SecurityScreen.editPost(device.name, zoneName), 'class -> "form-horizontal", 'role -> "form") {
			<table class="formTable">
				<tr>
					<td>@helper.checkbox(sForm("alarm"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">
						Generate Alarms without Dropping Packet	
					</th>
				</tr>
				<tr><th colspan="4">&nbsp;</th></tr>
				<tr>
					<th class="groupTitleBg" colspan="4">
						Flood Defense	
					</th>
				</tr>
				<tr>
					<td>@helper.checkbox(sForm("flood.icmp"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th>ICMP Flood Protection</th>
					<td class="text-right">Threshold</td>
					<td>
						@helper.inputText(sForm("flood.icmp_threshold"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "pps")
					</td>
				</tr>
				<tr>
					<td>@helper.checkbox(sForm("flood.udp"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th>UDP Flood Protection</th>
					<td class="text-right">Threshold</td>
					<td>
						@helper.inputText(sForm("flood.udp_threshold"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "pps")
					</td>
				</tr>			
				<tr>
					<td>@helper.checkbox(sForm("flood.syn"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th>SYN Flood Protection</th>
					<td class="text-right">Threshold</td>
					<td>
						@helper.inputText(sForm("flood.syn_attack_threshold"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "pps")
					</td>
				</tr>
				<tr>
					<td class="text-right" colspan="3">Alarm Threshold</td>
					<td>
						@helper.inputText(sForm("flood.syn_alarm_threshold"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "pps")
					</td>
				</tr>			
				<tr>
					<td class="text-right" colspan="3">Source Threshold</td>
					<td>
						@helper.inputText(sForm("flood.syn_src_threshold"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "pps")
					</td>
				</tr>						
				<tr>
					<td class="text-right" colspan="3">Destination Threshold</td>
					<td>
						@helper.inputText(sForm("flood.syn_dst_threshold"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "pps")
					</td>
				</tr>									
				<tr>
					<td class="text-right" colspan="3">Timeout</td>
					<td>
						@helper.inputText(sForm("flood.syn_timeout"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "Seconds")
					</td>
				</tr>												
				<tr><th colspan="4">&nbsp;</th></tr>
				<tr>
					<th class="groupTitleBg" colspan="4">
						MS-Windows Defense
					</th>
				</tr>			
				<tr>
					<td>@helper.checkbox(sForm("ms.winnuke"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">WinNuke Attack Protection</th>
				</tr>
				<tr><th colspan="4">&nbsp;</th></tr>
				<tr>
					<th class="groupTitleBg" colspan="4">
						Scan/Spoof/Sweep Defense
					</th>
				</tr>
				<tr>
					<td>@helper.checkbox(sForm("scan.ip_spoof"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">IP Address Spoof Protection</th>				
				</tr>
				<tr>
					<td>@helper.checkbox(sForm("scan.ip_sweep"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th>IP Address Sweep Protection</th>
					<td class="text-right">Threshold</td>
					<td>
						@helper.inputText(sForm("scan.ip_sweep_threshold"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "Microseconds")
					</td>			
				</tr>
				<tr>
					<td>@helper.checkbox(sForm("scan.port_scan"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th>Port Scan Protection</th>
					<td class="text-right">Threshold</td>
					<td>
						@helper.inputText(sForm("scan.port_scan_threshold"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "Microseconds")
					</td>			
				</tr>			
				<tr>
					<td>@helper.checkbox(sForm("scan.tcp_sweep"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th>TCP Sweep Protection</th>
					<td class="text-right">Threshold</td>
					<td>
						@helper.inputText(sForm("scan.tcp_sweep_threshold"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "Microseconds")
					</td>			
				</tr>						
				<tr>
					<td>@helper.checkbox(sForm("scan.udp_sweep"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th>UDP Sweep Protection</th>
					<td class="text-right">Threshold</td>
					<td>
						@helper.inputText(sForm("scan.udp_sweep_threshold"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "Microseconds")
					</td>			
				</tr>									
				<tr><th colspan="4">&nbsp;</th></tr>
				<tr>
					<th class="groupTitleBg" colspan="4">
						Denial of Service Defense
					</th>
				</tr>			
				<tr>
					<td>@helper.checkbox(sForm("dos.ping_of_death"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">Ping of Death Attack Protection</th>
				</tr>			
				<tr>
					<td>@helper.checkbox(sForm("dos.tear_drop"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">Teardrop Attack Protection</th>
				</tr>						
				<tr>
					<td>@helper.checkbox(sForm("dos.icmp_fragment"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">ICMP Fragment Protection</th>
				</tr>									
				<tr>
					<td>@helper.checkbox(sForm("dos.icmp_large"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">Large Size ICMP Packet (Size > 1024) Protection</th>
				</tr>												
				<tr>
					<td>@helper.checkbox(sForm("dos.block_fragment"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">Block Fragment Traffic</th>
				</tr>															
				<tr>
					<td>@helper.checkbox(sForm("dos.land"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">Land Attack Protection</th>
				</tr>																		
				<tr>
					<td>@helper.checkbox(sForm("dos.syn_ack_ack"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th>SYN-ACK-ACK Proxy Protection</th>
					<td class="text-right">Threshold</td>
					<td>
						@helper.inputText(sForm("dos.syn_ack_ack_threshold"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "Connections")
					</td>			
				</tr>
				<tr>
					<td>@helper.checkbox(sForm("dos.src_limit"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th>Source IP Based Session Limit</th>
					<td class="text-right">Threshold</td>
					<td>
						@helper.inputText(sForm("dos.src_limit_threshold"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "Sessions")
					</td>			
				</tr>			
				<tr>
					<td>@helper.checkbox(sForm("dos.dst_limit"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th>Destination IP Based Session Limit</th>
					<td class="text-right">Threshold</td>
					<td>
						@helper.inputText(sForm("dos.dst_limit_threshold"), 'size -> "8", 'class -> "form-control", '_label -> "", '_help -> "Sessions")
					</td>			
				</tr>						
				<tr><th colspan="4">&nbsp;</th></tr>
				<tr>
					<th class="groupTitleBg" colspan="4">
						Protocol Anomaly Reports -- IP Option Anomalies
					</th>
				</tr>						
				<tr>
					<td>@helper.checkbox(sForm("ip.bad_option"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">Bad IP Option Protection</th>
				</tr>																					
				<tr>
					<td>@helper.checkbox(sForm("ip.timestamp"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">IP Timestamp Option Detection</th>
				</tr>																								
				<tr>
					<td>@helper.checkbox(sForm("ip.security"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">IP Security Option Detection</th>
				</tr>																											
				<tr>
					<td>@helper.checkbox(sForm("ip.stream"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">IP Stream Option Detection</th>
				</tr>																														
				<tr>
					<td>@helper.checkbox(sForm("ip.record_route"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">IP Record Route Option Detection</th>
				</tr>																																	
				<tr>
					<td>@helper.checkbox(sForm("ip.loose_src_route"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">IP Loose Source Route Option Detection</th>
				</tr>																																				
				<tr>
					<td>@helper.checkbox(sForm("ip.strict_src_route"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">IP Strict Source Route Option Detection</th>
				</tr>																																				
				<tr>
					<td>@helper.checkbox(sForm("ip.src_route"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">IP Source Route Option Filter</th>
				</tr>																																							
				<tr><th colspan="4">&nbsp;</th></tr>
				<tr>
					<th class="groupTitleBg" colspan="4">
						Protocol Anomaly Reports -- TCP/IP Anomalies
					</th>
				</tr>									
				<tr>
					<td>@helper.checkbox(sForm("tcp.syn_fragment"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">SYN Fragment Protection</th>
				</tr>																																										
				<tr>
					<td>@helper.checkbox(sForm("tcp.without_fragment"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">TCP Packet Without Flag Protection</th>
				</tr>																																													
				<tr>
					<td>@helper.checkbox(sForm("tcp.syn_and_fin"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">SYN and FIN Bits Set Protection</th>
				</tr>																																																
				<tr>
					<td>@helper.checkbox(sForm("tcp.fin_no_ack"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">FIN Bit With No ACK Bit in Flags Protection</th>
				</tr>																																																			
				<tr>
					<td>@helper.checkbox(sForm("tcp.unknown"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</td>
					<th colspan="3">Unknown Protocol Protection</th>
				</tr>										
				<tr><th colspan="4"><hr noshade /></th></tr>		
				<tr>
					<td colspan="2">&nbsp;</td>
					<td>
						<input id="allCheckBtn" type="button" value="Check All" />
						<input id="allClearBtn" type="button" value="Clear All" />
						<input id="checkDefUtBtn" type="button" value="Check Untrust Defaults" />
						<input type="submit" value="Apply">		
						<input type="button" value="Cancel" onclick="window.location.href=$(this).data('url'); return false;" data-url="@routes.NetworkZones.list(device.name)" />
						@helper.CSRF.formField
					</td>
				</tr>																																																						
			</table>
		}
			
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}
	</div>
	
	<script>
		$('#allCheckBtn').click(function(){
			$('input[type=checkbox]').each(function(){
				$(this).is(':checked') || $(this).click();
			});
		});
		$('#allClearBtn').click(function(){
			$('input[type=checkbox]').each(function(){
				$(this).is(':checked') && $(this).click();
			});
		});
		$('#checkDefUtBtn').click(function(){
			$(['flood_syn','dos_ping_of_death','dos_tear_drop','dos_land','ip_src_route']).each(function(k, v){
				$('#'+v).is(':checked') || $('#'+v).click();
			});
		});
	</script>
}