@* nozone Template File *@
@(zoneName:Option[String])(implicit device:srxlib.Device)

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Security &gt; Screening &gt; Screen</p>

			<div class="infoArea">
				<br />
				<div class="pull-left">
					@helper.form(action = routes.SecurityScreen.index(device.name, None)) {
						Zone:
						<select name="zone" onchange="this.parentNode.submit();">
						@for(zone <- device.config.securityZoneList.asScala.toList.map(v => v.getName)) {
							<option value="@zone" @if(zoneName.isDefined && zone == zoneName.get) { selected="selected"}>@zone</option>
						}	
						</select>
					}
				</div>
			</div>
		</div>

		<br />
		<br />
		<br />

		<div class="text-center">
		@if(zoneName.isDefined) {
			Zone @zoneName.get is not found.
		} else {
			No zone is found.
		}
		<br />
		<a href="@routes.NetworkZones.list(device.name)">Zone List</a>
		</div>		
	</div>
}