@* communityForm Template File *@
@(cf: Form[SnmpCommunityForm], tf: Form[String], action:play.api.mvc.Call, community:Option[srxlib.snmp.SnmpCommunity])(implicit request: RequestHeader, device:srxlib.Device, lang: play.api.i18n.Messages)

@import srxlib.snmp.Snmp.VERSION_ANY
@import srxlib.snmp.Snmp.VERSION_V1
@import srxlib.snmp.Snmp.VERSION_V2C

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

<br>
<br>
<br>

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {
		<table cellspacing="0" cellpadding="4" border="0" class="formTable" style="line-height:20px;">
			<tr>
				<th class="text-right" width="30%">Community Name</th>
				<td>
					@if(community.isDefined) {
						@community.get.getName
					} else {
						@helper.inputText(cf("name"), 'class -> "form-control", '_label -> "", '_help -> "")
					}
				</td>
			</tr>
			<tr>
				<th class="text-right" width="30%">Permissions</th>
				<td>
					<label>@helper.checkbox(cf("write"))(helper.FieldConstructor(views.html.helper.RawField.f), lang) Write</label>
					<br>
					<label>@helper.checkbox(cf("trap"))(helper.FieldConstructor(views.html.helper.RawField.f), lang) Trap</label>
				</td>
			</tr>
			<tr>
				<th class="text-right" width="30%">Trap Version</th>
				<td>
					@helper.select(cf("version"), options = helper.options(VERSION_ANY -> "ANY", VERSION_V1 -> "V1", VERSION_V2C -> "V2C"),
						'class -> "form-control",
						'_label -> "",
						'_help -> ""
					)
				</td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" value="OK">
					<input type="button" value="Cancel" data-url="@routes.ConfigSnmp.edit(device.name)" onclick="window.location.href=$(this).data('url');return false;">
					@helper.CSRF.formField
				</td>
			</tr>
		</table>
}

@community match {
	case Some(c) if (c.isTrapEnabled) => {
		@helper.form(action = routes.ConfigSnmp.createTrapTargetPost(device.name, c.getName), 'class -> "form-horizontal", 'role -> "form") {
			<table cellspacing="0" cellpadding="4" border="0" class="formTable" style="line-height:20px;">
			<tr>
				<td colspan="2"><hr></td>
			</tr>
			<tr>
				<th class="text-right" width="30%">Hosts IP Address</th>
				<td>
					@helper.inputText(tf("address"), 'class -> "form-control", '_label -> "", '_help -> "")
				</td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" value="Add">
					@helper.CSRF.formField
				</td>
			</tr>		
			</table>
		}
		
		
		<table cellspacing="0" cellpadding="2" border="1" class="formTable">
			<tr style="background-color:#CCCCCC;">
				<th class="text-center">Host IP Address</th>
				<th class="text-center">Configure</th>
			</tr>
			
			@defining(c.getTrapTargetList.asScala.toList) { targetList =>
				@if(targetList.isEmpty) {
					<tr style="background-color:#f5f5f5;">
						<td class="text-center" colspan="2">No entry available</td>
					</tr>
				} else 	{
					@for(target <- targetList) {
						<tr style="background-color:#f5f5f5;">
							<td class="text-center">@target</td>
							<td class="text-center">
								@helper.form(action = routes.ConfigSnmp.deleteTrapTargetPost(device.name, c.getName, target)) {
									<a href="#" onclick="parentNode.submit(); return false;">Remove</a>
								}	
							</td>
						</tr>
					}		
				}
			}
		</table>
	}
	case _ => {}
}