@* createCommunity Template File *@
@(cf:Form[SnmpCommunityForm], message:String = "")(implicit request: RequestHeader, device: srxlib.Device, lang: play.api.i18n.Messages)


@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Configuration &gt; Report Settings &gt; SNMP &gt; Community Edit</p>

			<div class="infoArea">
			</div>
		</div>

		@communityForm(cf, null, routes.ConfigSnmp.createCommunityPost(device.name), None)
	</div>
	
	@if(message.length > 0) {
		<script type="text/javascript">
			$(function() {
				alert("@Html(escapeEcmaScript(message))");
			});
		</script>
	}	
}