@* editCommunity Template File *@
@(cf:Form[SnmpCommunityForm], tf:Form[String], c:Option[srxlib.snmp.SnmpCommunity], message:String = "")(implicit request: RequestHeader, device: srxlib.Device, lang: play.api.i18n.Messages)

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Configuration &gt; Report Settings &gt; SNMP &gt; Community Edit</p>

			<div class="infoArea">
			</div>
		</div>

		@communityForm(cf, tf, routes.ConfigSnmp.editCommunityPost(device.name, c.get.getName), c)
	</div>
	
	@if(message.length > 0) {
		<script type="text/javascript">
			$(function() {
				alert("@Html(escapeEcmaScript(message))");
			});
		</script>
	}	
}