@* snmp Template File *@
@(snmpForm:Form[SnmpForm], message:String = "")(implicit request: RequestHeader, device: srxlib.Device, lang: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.RawField.f) }

@deviceMain {
		<div class="content">
		<div class="header">
			<p class="breadCrumb">Configuration &gt; Report Settings &gt; SNMP</p>
		
			<div class="infoArea text-right">
			</div>
		</div>

		<br />
		<br />
		<br />
		
		@helper.form(action = routes.ConfigSnmp.editPost(device.name), 'class -> "form-horizontal", 'role -> "form", 'style -> "padding:0px;") {
			<table cellspacing="0" cellpadding="0" border="1" class="formTable">
				<tr class="title">
					<th>SNMP Report Settings</th>
				</tr>
				<tr>
					<td>
						<table width="100%" cellspacing="0" cellpadding="4" border="0" style="background-color: #ebebeb;">
							<tr>
								<th class="text-right">System Name</th>
								<td>
								@helper.inputText(
									snmpForm("name"),
									'class -> "form-control",
									'_lablel -> "",
									'_help -> ""
								)
								</td>
							</tr>
							<tr>
								<th class="text-right">System Contact</th>
								<td>
								@helper.inputText(
									snmpForm("contact"),
									'class -> "form-control",
									'_lablel -> "",
									'_help -> ""								
								)	
								</td>
							</tr>
							<tr>
								<th class="text-right">Location</th>
								<td>
								@helper.inputText(
									snmpForm("location"),
									'class -> "form-control",
									'_lablel -> "",
									'_help -> ""								
								)	
								</td>
							</tr>						
							<tr>
								<th class="text-right">Description</th>
								<td>
								@helper.inputText(
									snmpForm("description"),
									'class -> "form-control",
									'_lablel -> "",
									'_help -> ""								
								)	
								</td>
							</tr>												
							<tr>
								<td colspan="2"><hr></td>
							</tr>
							<tr>
								<td colspan="2" class="text-center">
									<input type="submit" value="Apply">
									@helper.CSRF.formField
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>	
		}

		<br />
		<br />	
		
		@defining(device.config) { config =>
		@defining(config.snmpCommunityList.asScala.toList) { cList =>
		<table cellspacing="0" cellpadding="0" border="0" class="formTable">
			<tr>
				<th>Communities:</th>
				<th class="text-right">
					@helper.form(action = routes.ConfigSnmp.createCommunity(device.name)) {
						<input type="submit" value="New community">	
					}	
				</th>
			</tr>
			<tr>
				<td colspan="2">
					<table cellspacing="1" cellpadding="1" border="1">
						<tr class="title">
							<th>Name</th>
							<th>Write</th>
							<th>Trap</th>
							<th>Hosts</th>
							<th colspan="2">Configure</th>
						</tr>
						@if(cList.isEmpty) {
						<tr>
							<td colspan="6" class="text-center">No entry available</td>
						</tr>
						} else {
							@defining(device.candidateConfig.snmpCommunityMap) { candidates =>
							@for(c <- cList) {
								<tr class="@views.html.helper.changedClass(c.isChanged(candidates))">
									<td class="text-center">@c.getName</td>
									<td class="text-center">
										@if(c.isWriteEnabled) {
											<img src="@routes.Assets.at("images/allow.gif")"> 
										} else {
											<img src="@routes.Assets.at("images/deny.gif")"> 
										}
									</td>
									<td class="text-center">
										@if(c.isTrapEnabled) {
											<img src="@routes.Assets.at("images/allow.gif")"> 
										} else {
											<img src="@routes.Assets.at("images/deny.gif")"> 
										}								
									</td>
									<td class="text-center">
										@c.getTrapTargetList.asScala.toList.mkString(",")
									</td>
									<td class="text-center">
										@helper.form(action=routes.ConfigSnmp.editCommunity(device.name, c.getName)) {
											<a href="#" onclick="parentNode.submit(); return false;">Edit</a>
										}
									</td>
									<td class="text-center">
										@helper.form(action = routes.ConfigSnmp.deleteCommunityPost(device.name, c.getName)) {
											<a href="#" onclick="parentNode.submit(); return false;">Remove</a>
										}	
									</td>
								</tr>
							}
							}
						}
					</table>
				</td>
			</tr>
		</table>
		}
		}
}