@* index Template File *@
@(syslogForm:Form[SyslogForm], message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)
@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Configuration &gt; Report Settings &gt; Syslog</p>

			<div class="infoArea text-right">
			</div>
		</div>

		<br />
		<br />
		<br />
		
		@defining(srxlib.syslog.Syslog.facilityList.asScala.toList) { facilityList =>	
		@defining(srxlib.syslog.Syslog.levelList.asScala.toList) { levelList =>	
		
		@helper.form(action = routes.ConfigSyslog.indexPost(device.name), 'class -> "form-horizontal", 'role -> "form") {
		<table class="formTable">
		<tr>
			<td>
				Syslog servers
				<table width="100%" cellspacing="0" cellpadding="2" border="1">
				<tr>
					<th class="text-center">No.</th>
					<th class="text-center">IP / Hostname</th>
					<th class="text-center">Port</th>
					<th class="text-center">Facility</th>
					<th class="text-center">Level</th>
					<th class="text-center">Source Address</th>
				</tr>
				@defining(syslogForm("host").indexes) { indexes =>
					@for(i <- 0 to scala.math.max(indexes.size, 4)) {
						<tr>
							@defining(syslogForm("host")("[" + i + "]")) { f =>
								<td>@(i + 1)</td>
								<td>@helper.inputText(f("name"), 'class -> "form-control", '_label -> "", '_help -> "")</td>
								<td>@helper.inputText(f("port"), 'class -> "form-control", '_label -> "", '_help -> "")</td>
								<td>
									@helper.select(f("facility"), options = helper.options(facilityList), 'class -> "form-control", '_label -> "", '_help -> "")
								</td>
								<td>
									@helper.select(f("level"), options = helper.options(levelList), 'class -> "form-control", '_label -> "", '_help -> "")
								</td>
								<td>@helper.inputText(f("src_address"), 'class -> "form-control", '_label -> "", '_help -> "")</td>
							}
						</tr>
					}
				}
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<hr noshade />
			</td>
		</tr>
		<tr>
			<td>	
				<label>
				@helper.checkbox(syslogForm("disable_traffic_log"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)
				Disable traffic log
				</label>
			</td>
		</tr>		
		<tr>
			<td>
				<hr noshade />
			</td>
		</tr>
	
		@*
		<tr>
			<td>
				Syslog files
				<table width="100%" cellspacing="0" cellpadding="2" border="1">
				<tr>
					<th class="text-center">No.</th>
					<th class="text-center">Filename</th>
					<th class="text-center">Facility</th>
					<th class="text-center">Level</th>
					<th class="text-center">Structured Data</th>
				</tr>
				@defining(syslogForm("file").indexes) { indexes =>
					@for(i <- 0 to scala.math.max(indexes.size, 4)) {
						<tr>
							@defining(syslogForm("file")("[" + i + "]")) { f =>
								<td>@(i + 1)</td>
								<td>@helper.inputText(f("name"), 'class -> "form-control", '_label -> "", '_help -> "")</td>
								<td>
									@helper.select(f("facility"), options = helper.options(facilityList), 'class -> "form-control", '_label -> "", '_help -> "")
								</td>
								<td>
									@helper.select(f("level"), options = helper.options(levelList), 'class -> "form-control", '_label -> "", '_help -> "")
								</td>
								<td class="text-center">
									@helper.checkbox(f("is_structured_data"), 'class -> "form-control", '_label -> "", '_help -> "")
								</td>							
							}
						</tr>
					}
				}						
				</table>		
			</td>
		</tr>
		<tr>
			<td>
				<hr noshade />
			</td>
		</tr>	
		*@
		<tr>
			<td>
				<input type="submit" value="Apply">
				@helper.CSRF.formField
			</td>
		</tr>
		</table>
		}
		}
		}
					
		@if(message != null && message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}
	</div>
}