@* config Template File *@
@(implicit device: srxlib.Device)

@deviceMain {

	<div class="content">
		<div class="header">
			<p class="breadCrumb">Config</p>
	
			<div class="infoArea">
				<div class="pull-left">
				</div>
				<div class="pull-right">
				</div>
			</div>
		</div>

		<div id="header"></div>
		<div id="view" data-device="@device.name"></div>	
	
	</div>
	<script type="text/javascript" src="@routes.Assets.at("lib/codemirror-minified/lib/codemirror.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/codemirror-minified/mode/xml/xml.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/google-diff-match-patch/diff_match_patch.js")"></script>
	<script type="text/javascript" src="@routes.Assets.at("lib/codemirror-minified/addon/merge/merge.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/config.min.js")"></script>
}	