@* index Template File *@
@(interval:Int, refresh:Boolean)(implicit device:to.lef.srxlib.Device)

@deviceMain {
	@defining(device.usersInformation) { userInfo =>
	<div class="content">
		<div class="header headerH90">
			<p class="breadCrumb">Home</p>
	
			<div class="infoArea">
				<br />
				<div class="text-left">
					@defining(device.uptimeInformation) { uptime =>
					<div id="sysInfo">Up time: @uptime.getUptime,    System time: @uptime.getCurrentTime</div>
					}
				</div>

				<div class="pull-right">
					<form action="@routes.Home.index(device.name, None, None)" method="GET" style="display:inline">
					@*
					<select id="ref_time" name="interval" data-interval="@interval", data-device="@device.name">
						<option value="0">manually</option>
						<option value="10000">every 10 seconds</option>
						<option value="30000">every 30 seconds</option>
						<option value="60000">every 1 minute</option>
						<option value="300000">every 5 minute</option>
						<option value="600000">every 10 minute</option>
					</select>
					*@
					<input type="hidden" name="refresh" value="true" >
					<input id="refresh-btn" type="submit" value="Refresh" data-refreshed="@if(refresh){1}else{0}">
					</form>
				</div>

			</div>

		</div>
		
		@defining(device.softwareInformation) { softInfo =>
		<table class="formTable">
		<tr>
			<td width="49%" style="vertical-align: top;">
				<table cellspacing="0" cellpadding="0" bordercolor="#B3CFEC" border="1">
				<thead class="homeHeader"><tr class="title"><th>My @softInfo.getHostname</th></tr></thead>
				<tr class="body"><td>
					@defining(device.chassisInventory) { inventory =>
					<dl class="dl-horizontal">
						<dt>Hardware Model: </dt><dd>@softInfo.getProductModel&nbsp; @softInfo.getMaxPolicyCount</dd>
						<dt>Firmware Version:</dt><dd>@softInfo.getPackageComment&nbsp;</dd>
						<dt>Serial Number:</dt><dd>@inventory.getSerialNumber&nbsp;</dd>
						<dt>Host Name:</dt><dd>@softInfo.getHostname&nbsp;</dd>
					</dl>
					}
				</td></tr>
				</table>
				
				<br />
				
				<table cellspacing="0" cellpadding="0" bordercolor="#B3CFEC" border="1">
				<thead class="homeHeader"><tr class="title"><th>System Status (Root)</th></tr></thead>
				<tr class="body"><td>
					<dl class="dl-horizontal">
						<dt>Administrator: </dt><dd>@device.getLoginName</dd>
						<dt>Current Logins:</dt><dd>@userInfo.getActiveUserCount      <a href="#" id="user-dialog-btn">Details</a></dd>
					</dl>
				</td></tr>
				</table>
			</td>
			<td></td>
			<td width="49%">
				<table cellspacing="0" cellpadding="0">
				<thead class="homeHeader">
					<tr class="title">
						<th><a href="@routes.Reports.chassis(device.name, None)">Chassis Summary</a></th>
					</tr>
				</thead>
				</table>
				
				<br />
				
				<table cellspacing="0" cellpadding="0" bordercolor="#B3CFEC" border="1">
				<thead class="homeHeader"><tr class="title"><th>Resources Status</th></tr></thead>
				<tr class="body"><td>
					<dl class="dl-horizontal">
						@defining(device.routeEngineInformation) { routeEngine =>
						@defining(device.flowSessionInformation) { flowInfo =>
						<dt>CPU: </dt><dd><div style="border:1px solid black;margin: 5px;"><div style="width:@routeEngine.getCpuUtil%;background-color: green;">&nbsp;</div></div></dd>
						<dt>Memory:</dt><dd><div style="border:1px solid black;margin: 5px;"><div style="width:@routeEngine.getMemorySystemTotalUtil%;background-color: green;">&nbsp;</div></div></dd>
						<dt>Sessions:</dt><dd><div style="border:1px solid black;margin: 5px;"><div style="width:@flowInfo.getSessionUtil%;background-color: green;">&nbsp;</div></div></dd>
						<dt>
							<a href="@routes.Policies.policies(device.name, None, None, None)">Policies:</a>
						</dt>
						<dd>
							@defining(device.runningConfig.policyList(null, null).size / softInfo.getMaxPolicyCount * 100) { policyUtil =>
							<div style="border:1px solid black;margin: 5px;"><div style="width:@policyUtil%;background-color: green;">&nbsp;</div></div>
							}
						</dd>
						}
						}
					</dl>
				</td></tr>
				</table>
			</td>
		</tr>
		</table>
		}
			
		<br />
		
		<table class="separateTable"><tr class="homeHeader"><td>
			Interface / VPN Link Status Monitoring
		</td></tr></table>
	
		@defining(device.interfaceInformation) { intInfo =>	
		<table cellspacing="0" cellpadding="0" bordercolor="Silver" border="1" class="formTable">
			<thead class="homeHeader"><tr class="title"><th>Resource</th><th>Total</th><th>Up</th><th>Down</th><th>Unused/Inactive</th><th>Details</th></tr></thead>
			<tr class="body">
				<td>Physical Interface</td>
				<td>@intInfo.getTotalPhysicalInterfaceCount</td>
				<td>@intInfo.getUpPhysicalInterfaceCount</td>
				<td>@intInfo.getDownPhysicalInterfaceCount</td>
				<td>@intInfo.getUnknownPhysicalInterfaceCount</td>
				<td><a href="@routes.NetworkInterfaces.list(device.name)">Go to Interface list</a></td>
			</tr>
@*			<tr class="body"><td>IPSec VPN</td><td>0</td><td>0</td><td>0</td><td>0</td><td>Go to Interface list</td></tr> *@
		</table>
		}	
		<br />
		
		<table class="separateTable"><tr class="homeHeader"><td>
			System Most Recent Alarms   /   Events
		</td></tr></table>
	
		@defining(device.alarmInformation) { alarmInfo =>		
		<table cellspacing="0" cellpadding="0" bordercolor="Silver" border="1" class="formTable">
			<caption>
				Total alarms: @alarmInfo.getTotalCount
				(Major: @alarmInfo.getMajorCount; Minor: @alarmInfo.getMinorCount) 
@*				<a href="#" class="pull-right">More... </a> *@
			</caption>
			@if(alarmInfo.getTotalCount > 0) {
			<thead class="homeHeader"><tr class="title"><th>Date/Time</th><th>Level</th><th>Description</th></tr></thead>
			@for(alarm <- alarmInfo.getAlarmList.take(5)) {
			<tr class="body">
				<td>@defining("%tY-%<tm-%<td %<tH:%<tM:%<tS" format alarm.getDate) { str => @str }</td>
				<td>@alarm.getAlarmClass</td>
				<td>@alarm.getDescription</td>
			</tr>
			}
			}
		</table>
		}	
		<br />
		
		@defining(device.messagesLogList.asScala.toList) { logs =>
			@if(logs.isEmpty) {
		<table ccellspacing="0" cellpadding="0" bordercolor="Silver" border="1" class="formTable">
			<caption>
				Total events: 0
			</caption>
		</table>						
			} else {
		<table ccellspacing="0" cellpadding="0" bordercolor="Silver" border="1" class="formTable">
			<caption>
				Total events: @logs.size
@*				<a href="#" class="pull-right">More...</a> *@
			</caption>
			<thead class="homeHeader"><tr class="title"><th>Date/Time</th><th>Description</th></tr></thead>
			<tbody>
				@defining("%tb %<td %<tT") { tsFormat =>
				@for(line <- logs.reverse.take(5)) {
				<tr class="body">
					<td>@tsFormat.formatLocal(java.util.Locale.ENGLISH, line.getTimestamp)</td>
					<td> @line.getHostname @line.getProcessName@Option(line.getProcessId).filterNot(_.isEmpty).map("[" + _ + "]:").getOrElse(":") @line.getMessage</td>
				</tr>
				}
				}
			</tbody>
		</table>						
			}
		}
@*	
		@defining(device.messagesLogString) { logs =>
			@if(logs == null) {
		<table ccellspacing="0" cellpadding="0" bordercolor="Silver" border="1" class="formTable">
			<caption>
				Total events: 0
			</caption>
		</table>			
			} else {
				@defining(logs.split("\n")) { lines =>
		<table ccellspacing="0" cellpadding="0" bordercolor="Silver" border="1" class="formTable">
			<caption>
				Total events: @lines.size
				<a href="#" class="pull-right">More...</a>
			</caption>
			<thead class="homeHeader"><tr class="title"><th>Date/Time</th><th>Description</th></tr></thead>
			<tbody>
				@for(line <- lines.reverse.take(5)) {
					@defining(line.split("\\s+", 4)) { tokens => 
			<tr class="body"><td>@tokens(0) @tokens(1) @tokens(2)</td><td>@tokens(3)</td></tr>
					}
				}
			</tbody>
		</table>				
				}	
			}

		}
*@			
		<div id="user-dialog" style="display:none;">
			<table ccellspacing="0" cellpadding="0" bordercolor="Silver" border="1" class="formTable">
				<caption>
				Administrators List of All Current Login Sessions
				</caption>
				<thead class="homeHeader">
				<tr class="title">
					<th>No.</th>
					<th>Name</th>
					<th>Date/Time</th>
					<th>Source</th>
					<th>IP Address</th>
				</tr>
				</thead>
				<tbody>
				@for((user, idx) <- userInfo.getUserList.zipWithIndex) {
					<tr>
						<td>@defining(idx + 1) { i => @i }</td>
						<td>@user.getName</td>
						<td>@defining("%tY-%<tm-%<td %<tH:%<tM:%<tS" format user.getLoginDate) { str => @str }</td>
						<td>@user.getTty</td>
						<td>@user.getFrom</td>
					</tr>
				}	
				</tbody>
			</table>
		</div>	
	</div>
	

	}
	<script type="text/javascript" src="@routes.Assets.at("javascripts/home.min.js")"></script>
}
