@* create Template File *@
@(userForm:Form[LoginUserForm], message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Configuration &gt; Admin &gt; Administrators &gt; Configuration</p>

			<div class="infoArea text-right">
			</div>
		</div>
	
		@form(userForm, None, routes.AdminUser.createUserPost(device.name))
			
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}
	</div>
}	