@* dsa Template File *@
@(keyForm:Form[String], user:srxlib.login.LoginUser, message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.RawField.f) }

@deviceMain {
	<div class="content">
		<div class="header">
			<p class="breadCrumb">Configuration &gt; Admin &gt; Administrators (SSH DSA)</p>
		
			<div class="infoArea text-left">
			 	Current administrator: @user.getName
			</div>
		</div>

		<br />
		<br />
		<br />
		
		@helper.form(action = routes.AdminUser.sshDsaPost(device.name, user.getName), 'class -> "form-horizontal", 'role -> "form", 'style -> "padding:0px;") {
			<table cellspacing="0" cellpadding="0" border="1" class="formTable">
				<tr class="title">
					<th>Add a New SSH V2 DSA Key</th>
				</tr>
				<tr>
					<td>
						<table width="100%" cellspacing="0" cellpadding="4" border="0" style="background-color: #ebebeb;">
							<tr>
								<th class="text-right">
									Encode Key
								</th>	
								<td>
									@helper.textarea(keyForm("key"), 'class -> "form-control", '_label -> "", '_help -> "", 'cols -> "45", 'wrap -> "soft", 'rows -> "4")
								</td>
							</tr>
							<tr>
								<td colspan="2"><hr /></td>
							</tr>
							<tr>
								<td></td>
								<td>
									<input type="submit" value="Add" />
									<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.AdminUser.userList(device.name)"/>
									@helper.CSRF.formField
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		}
	
		<br />
		<br />
		<br />
			
		<table cellspacing="0" cellpadding="0" border="0" class="formTable">
			<tr>
				<th>Configured SSH PKA Keys</th>
			</tr>
			<tr>
				<td>
					<table cellspacing="1" cellpadding="1" border="1">
						<tr class="title">
							<th>ID</th>
							<th>Encode Key</th>
							<th>Configure</th>
						</tr>
						@defining(user.getSshDsaKeyList.asScala.toList) { keyList =>
							@if(keyList.isEmpty) {
								<tr>
									<td class="text-center" colspan="3">No entry available</td>
								</tr>
							} else {
								@defining(Option(device.candidateConfig.findLoginUser(user.getName)).map(_.getSshDsaKeyList.asScala.toList).getOrElse(List.empty)) { candidate =>
								@for((key, i) <- keyList.zipWithIndex) {
									<tr class="@if(candidate.contains(key)) {} else {element-created}">
										<td class="text-center">@(i + 1)</td>
										<td>
											@for(n <- key.sliding(80, 80)) {
												@n<br />
											}
										</td>
										<td class="text-center">
											@helper.form(action = routes.AdminUser.deleteSshDsaKeyPost(device.name, user.getName, i)) {
												<a href="#" onclick="this.parentNode.submit(); return false;">Remove</a>
											}	
										</td>
									</tr>
								}
								}
							}
						}	
					</table>
				</td>
			</tr>
		</table>
		
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}
	</div>
}