@* form Template File *@
@(userForm:Form[LoginUserForm], user:Option[srxlib.login.LoginUser], action:play.api.mvc.Call)(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {
	
	<br />
	<br />
	<br />
	
	<table class="formTable" style="line-height:30px;">
		<tr>
			<th class="text-right">Administrator Name</th>
			<td>
				@if(user.isDefined && user.get.isRoot) {
					root
				} else {
					@helper.inputText(userForm("name"), 'class -> "form-control", '_label -> "", '_help -> "")
				}
			</td>
		</tr>
		<tr>
			<th class="text-right">New Password</th>
			<td>
				<input type="password" name="password.password" class="form-control" value="@userForm("password.password").value.getOrElse("")">
		        <span class="errors">@userForm("password.password").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</span>
			</td>
		</tr>
		<tr>
			<th class="text-right">Confirm New Password</th>
			<td>
				<input type="password" name="password.confirm" class="form-control" value="@userForm("password.confirm").value.getOrElse("")">
		        <span class="errors">@userForm("password.password").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</span>
		        <span class="errors">@userForm("password").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</span>
			</td>
		</tr>	
		<tr>
			<th class="text-right">Privileges</th>
			<td>
				@if(user.isDefined && user.get.isRoot) {
				@helper.inputRadioGroup(userForm("class_name"), 
					options = helper.options(List(srxlib.login.LoginUser.CLASS_SUPER_USER)),
					'class -> "form-control", '_label -> "", '_help -> "")				
				} else {
				@helper.inputRadioGroup(userForm("class_name"), 
					options = helper.options(srxlib.login.LoginUser.classList(device.config).asScala.toList),
					'class -> "form-control", '_label -> "", '_help -> "")
				}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr noshade="" />
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.AdminUser.userList(device.name)"/>
				@helper.CSRF.formField
			</td>
		</tr>		
	</table>
}