@* list Template File *@
@(userList:List[srxlib.login.LoginUser])(implicit device:srxlib.Device)

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Configuration &gt; Admin &gt; Administrators</p>
		
			<div class="infoArea">
				@pager()
				<div class="pull-right">
					@helper.form(action = routes.AdminUser.createUser(device.name), 'class -> "form-inline", 'role -> "form") {
						<input type="submit" value="New" class="btn btn-default">
					}
				</div>
			</div>
		</div>


		<table cellspacing="0" cellpadding="0" border="0">
		<tr>
			<th>Local Administrator Database</th>
		</tr>
		<tr>
		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
		<thead>
			<tr class="title">
				<th>Administrator Name</th>
				<th>Privileges</th>
				<th colspan="4">Configure</th>
			</tr>
		</thead>
		<tbody class="body">
			@if(userList.isEmpty) {
				<tr>
					<td class="text-center" colspan="6">No entry available</td>
				</tr>
			} else {
				@defining(device.candidateConfig.loginUserMap) { candidate =>
				@for(user <- userList) {
					<tr class="@views.html.helper.changedClass(user.isChanged(candidate))">
						<td class="text-center">@user.getName</td>
						<td class="text-center">@user.getClassName</td>
						<td class="text-center">
							<a href="@routes.AdminUser.editUser(device.name, user.getName)">Edit</a>
						</td>
						<td class="text-center">
							<a href="@routes.AdminUser.sshDsa(device.name, user.getName)">SSH DSA</a>
							<a href="@routes.AdminUser.sshRsa(device.name, user.getName)">SSH RSA</a>
						</td>
						<td class="text-center">
							@if(user.isRemovable) {
								@helper.form(action = routes.AdminUser.deleteUserPost(device.name, user.getName)) {
									<a href="#" onclick="this.parentNode.submit(); return false;">Remove</a>
								}	
							} else { &nbsp; }
						</td>
					</tr>
				}
				}
			}
		</tbody>
		</table>
		</tr>
		</table>
	</div>
}