@* edit Template File *@
@(p1Form:Form[VpnP1ProposalForm], pName:String, message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">VPNs &gt; AutoKey Advanced &gt; P1 Proposal &gt; Edit</p>

			<div class="infoArea text-right">
			</div>
		</div>
	
		@form(p1Form, routes.VPNs.editP1ProposalPost(device.name, pName), Some(pName))
			
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}
	</div>
}	