@* form Template File *@
@(p1Form:Form[VpnP1ProposalForm], action:play.api.mvc.Call, pName:Option[String])(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@import srxlib.vpn.IkeProposal.AUTH_METHOD_PRESHARED
@import srxlib.vpn.IkeProposal.AUTH_METHOD_DSA
@import srxlib.vpn.IkeProposal.AUTH_METHOD_RSA

@import srxlib.vpn.IkeProposal.DH_GROUP_1
@import srxlib.vpn.IkeProposal.DH_GROUP_2
@import srxlib.vpn.IkeProposal.DH_GROUP_5
@import srxlib.vpn.IkeProposal.DH_GROUP_14

@import srxlib.vpn.IkeProposal.ENC_ALG_3DES_CBC
@import srxlib.vpn.IkeProposal.ENC_ALG_AES_CBC_128
@import srxlib.vpn.IkeProposal.ENC_ALG_AES_CBC_192
@import srxlib.vpn.IkeProposal.ENC_ALG_AES_CBC_256
@import srxlib.vpn.IkeProposal.ENC_ALG_DES_CBC

@import srxlib.vpn.IkeProposal.AUTH_ALG_MD5
@import srxlib.vpn.IkeProposal.AUTH_ALG_SHA_256
@import srxlib.vpn.IkeProposal.AUTH_ALG_SHA1

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {
	<div class="formHeaderSpace"></div>
	
	<table class="formTable" style="line-height:30px;">
		<tr>
			<th class="text-right">Name</th>
			<td>
				@pName match {
					case Some(v) => { @v }
					case _       => { @helper.inputText(p1Form("name"), 'class -> "form-control", '_label -> "", '_help -> "") }
				}
			</td>
		</tr>
		<tr>
			<th class="text-right">Authentication Method</th>
			<td>
				@helper.select(p1Form("auth_method"), options = helper.options(
					AUTH_METHOD_PRESHARED -> "Preshare",
					AUTH_METHOD_RSA -> "RSA-Signature",
					AUTH_METHOD_DSA -> "DSA-Signature"
					),
					'class -> "form-control",
					'_label -> "",
					'_help -> "")
			</td>
		</tr>
		<tr>
			<th class="text-right">DH Group</th>
			<td>
				@helper.select(p1Form("dh_group"), options = helper.options(
					DH_GROUP_1 -> "Group 1",
					DH_GROUP_2 -> "Group 2",
					DH_GROUP_5 -> "Group 5",
					DH_GROUP_14 -> "Group 14"
					),
					'class -> "form-control",
					'_label -> "",
					'_help -> "")
			</td>
		</tr>	
		<tr>
			<th class="text-right">Encryption & Data Integrity</th>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th class="text-right">Encryption Algorithm</th>
			<td>
				@helper.select(p1Form("enc_alg"), options = helper.options(
					ENC_ALG_DES_CBC -> "DES-CBC",
					ENC_ALG_3DES_CBC -> "3DES-CBC",
					ENC_ALG_AES_CBC_128 -> "AES-CBC(128bits)",
					ENC_ALG_AES_CBC_192 -> "AES-CBC(192bits)",
					ENC_ALG_AES_CBC_256 -> "AES-CBC(256bits)"
					),
					'class -> "form-control",
					'_label -> "",
					'_help -> "")
			</td>
		</tr>		
		<tr>
			<th class="text-right">Hash Algorithm</th>
			<td>
				@helper.select(p1Form("auth_alg"), options = helper.options(
					AUTH_ALG_MD5 -> "MD5",
					AUTH_ALG_SHA1 -> "SHA-1",
					AUTH_ALG_SHA_256 -> "SHA2_256"	
					),
					'class -> "form-control",
					'_label -> "",
					'_help -> "")
			</td>
		</tr>			
		<tr>
			<th class="text-right">Lifetime</th>
			<td>
				@helper.inputText(p1Form("life_time"), 'class -> "form-control", '_label -> "", '_help -> "Sec") 
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr noshade />
			</td>
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location.href=$(this).data('url'); return false;" data-url="@routes.VPNs.p1ProposalList(device.name)" />
				@helper.CSRF.formField
			</td>
		</tr>	
	</table>
}