@* index Template File *@
@(config:srxlib.DeviceConfig)(implicit device:srxlib.Device)

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">VPNs &gt; AutoKey Advanced &gt; P1 Proposal</p>
			
			<div class="infoArea">
				<br/><br/>
				<div class="pull-right">
					@helper.form(action = routes.VPNs.createP1Proposal(device.name), 'class -> "form-inline", 'role -> "form") {
						<input type="submit" value="New" class="btn btn-default">
					}
				</div>
			</div>
		</div>
		
		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
		<thead>
			<tr class="title">
				<th>Name</th>
				<th>Method</th>
				<th>DH group</th>
				<th>Encrypt/Auth</th>
				<th>Life Time</th>
				<th colspan="2">Configure</th>
			</tr>
		</thead>
		<tbody class="body">
				@defining(config.ikeProposalList.asScala.toList) { propList =>
				@if(propList.isEmpty) {
				<tr>
					<td class="text-center" colspan="7">No entry available</td>
				</tr>	
				} else {
				@defining(device.candidateConfig.ikeProposalMap) { candidates =>
				@for(prop <- propList) {
					<tr class="@views.html.helper.changedClass(prop.isChanged(candidates))">
						<td class="text-center">@prop.getName</td>
						<td class="text-center">@prop.getAuthenticationMethod</td>
						<td class="text-center">@prop.getDhGroup</td>
						<td class="text-center">@prop.getEncryptionAlgorithm/@prop.getAuthenticationAlgorithm</td>
						<td class="text-center">@prop.getLifeTime</td>
						<td class="text-center">
							<a href="@routes.VPNs.editP1Proposal(device.name, prop.getName)">Edit</a>
						</td>	
						<td class="text-center">
							@if(prop.isRemovable(config)) {
								@helper.form(action = routes.VPNs.deleteP1ProposalPost(device.name, prop.getName)) {
									<a href="#" onclick="this.parentNode.submit(); return false;">Remove</a>
								}	
							} else {
								-
							}
						</td>	
					</tr>
				}
				}
				}
				}
		</tbody>
		</table>
	</div>
}
