@* edit Template File *@
@(id:Int, deviceForm:Form[DeviceForm], msg:String = "")(implicit request: RequestHeader, lang:play.api.i18n.Messages)

@main("Edit Device") {

<table class="formTable"><tr><td>

	<br />
	
	<h1>Edit Device</h1>
	
	@if(msg.length > 0) {
		<div class="alert alert-warning">@msg</div>
	}
	
	@views.html.device.form(deviceForm, routes.DeviceSetup.editPost(id), true)

</td></tr></table>
}
