@* form Template File *@
@(deviceForm: Form[DeviceForm], action:play.api.mvc.Call, isEdit:Boolean)(implicit request: RequestHeader, lang:play.api.i18n.Messages )

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.helper.BootstrapField.f(2, 10)) }

	<div class="content">
	@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {
		
		<table class="formTable">
		<tr>
			<th class="text-right">name</th>
			<td>
				@helper.inputText(
					deviceForm("name"),
					'class -> "form-control",
					'_label -> ""
				)
			</td>
		</tr>
		<tr>
			<th class="text-right">hostname/ip address</th>
			<td>
				@helper.inputText(
					deviceForm("hostname"),
					'class -> "form-control",
					'_label -> ""
				)
			</td>
		</tr>
		<tr>
			<th class="text-right">username</th>
			<td>
				@helper.inputText(
					deviceForm("username"),
					'class -> "form-control",
					'_label -> ""
				)
			</td>
		</tr>
		<tr>
			<th class="text-right">password</th>
			<td>
				@if(isEdit) {	
					@helper.inputPassword(
						deviceForm("password"),
						'class -> "form-control",
						'_help -> "Fill if you wan to change.",
						'_label -> ""
					)
					<p>*Fill if you want to change.</p>
				} else {
					@helper.inputPassword(
						deviceForm("password"),
						'class -> "form-control",
						'_label -> ""
					)
				}
			</td>
		</tr>
		<tr>
			<th class="text-right">persistent</th>
			</td>
			<td>
				@helper.checkbox(
					deviceForm("persistent"),
					'_label -> "",
					'_help -> ""
				)
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr />
			</td>
		</tr>
		<tr>
			<td></td>
			</td>
			<td>
				<input type="submit" value="@if(isEdit) { Edit } else { Regist }" />
				<input type="button" value="Cancel" data-back="@routes.DeviceSetup.list" onclick="window.location = $(this).data('back'); return false;">
			</td>
		</tr>
		</table>
	
	</div>

	@CSRF.formField	
}	