@(list:List[models.DeviceRecord], configuration: play.api.Configuration)

@import java.util.Date
@import play.api.Play
@import scala.xml.XML
@import java.nio.file.{Paths,Files}

@showFirmwareVersion(d:models.DeviceRecord) = @{
	val path = Paths.get(java.lang.System.getProperty("user.dir"), "cache", "device", d.hostname, srxlib.Device.CACHE_NAME_SOFTWARE_INFORMATION + ".xml")

	if (Files.exists(path)) {
		val xml = XML.loadFile(path.toFile)	
		(xml \\ "software-information").headOption.map(v => (v \ "package-information" \ "comment").text).getOrElse("-")
	} else {
		"-"	
	}
}
 
@main("Device List") {
	
<table class="formTable"><tr><td>

	<br />

	<h1>CW4S - @configuration.get[String]("app.version") </h1>

	<br />
		
	<h2>Device List</h2>

	<div class="text-right">
		<a href="@routes.HACGenerator.index"><button>Initial Setup</button></a>
		<a href="@routes.DeviceSetup.regist"><button>Register your device</button></a>
	</div>
	
	<br />
	
	@if(list.size > 0) {
	<table cellspacing="0" cellpadding="4" border="1" class="formTable">
	<thead>
	<tr class="title">
	<th>ID</th><th>Name</th><th>Hostname/IP address</th><th>Username</th><th>Firmware Version</th><th>Created At</th><th>Updated At</th><th colspan="3">Action</th>
	</tr>
	</thead>
	<tbody>
		@for(item <- list) {
		<tr>
			<td>@item.id</td>
			<td>@item.name</td>
			<td>@item.hostname</td>
			<td>@item.username</td>
			<td>@showFirmwareVersion(item)</td>
			<td>
				@defining("%tY/%<tm/%<td %<tH:%<tM:%<tS" format new Date(item.createdAt)) { cs => @cs }
			</td>
			<td>
				@defining("%tY/%<tm/%<td %<tH:%<tM:%<tS" format new Date(item.updatedAt)) { cs => @cs }
			</td>
			<td>
				<a href="@routes.Home.index(item.name, None, None)" class="btn btn-default homeBtn" data-device="@item.name" >Home</a>
			</td>
			<td>
				<a href="@routes.DeviceSetup.edit(item.id.get)" class="btn btn-default">Edit</a>
			</td>
			<td>
				@helper.form(action = routes.DeviceSetup.deletePost(item.id.get), 'class -> "form-inline", 'role -> "form", 'style -> "display:inline-block") {
					<a href="javascript:void(0)" onclick="parentNode.submit()">Remove</a>
				}
			</td>
		</tr>
		}
	</tbody>
	</table>
	<script type="text/javascript" src="@routes.Api.routes"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/setup.min.js")"></script>
	} else {
	<div class="alert alert-info">No devices are registered.</div>
	}
</td></tr></table>
}