@* regist Template File *@
@(deviceForm: Form[DeviceForm], msg:String = "")(implicit request: RequestHeader, lang:play.api.i18n.Messages)

@import helper._

@main("Regist Device") {

<table class="formTable"><tr><td>

	<br />
	
	<h1>Regist Device</h1>

	<br />
	
	@if(msg.length > 0) {
		<div class="alert alert-warning">@msg</div>
	}	
	
	@views.html.device.form(deviceForm, routes.DeviceSetup.registPost, false)
	
</td></tr></table>

}