@* monitor Template File *@
@(saList:List[srxlib.IPSecSAInformation])(implicit device:srxlib.Device)

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">VPNs &gt; Monitor Status</p>
		
			<div class="infoArea">
				@pager()
				<div class="pull-left">
					<button id="refresh_btn" data-device="@device.name">Refresh</button>
				</div>			
			</div>
		</div>
		
		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
		<thead>
			<tr class="title">
				<th>VPN Name</th>
				<th>Tunnel Index</th>
				<th>Policy ID</th>
				<th>Peer Gateway IP</th>
				<th>Type</th>
				<th>SA Status</th>
				<th>Link</th>	
			</tr>
		</thead>
		<tbody>
			@if(saList.isEmpty) {
			<tr>
				<td class="text-center" colspan="7">No entry available</td>
			</tr>
			} else {
				@for(sa <- saList) {
					<tr>
						<td>@sa.getVpnName</td>
						<td>@sa.getTunnelIndex</td>
						<td>- / -</td>
						<td>@sa.getRemoteGateway</td>
						<td>AutoIKE</td>
						<td>@if(sa.isActive) {Active} else {Inactive}</td>
						<td>@if(sa.isActive) {Up} else {Inactive}</td>
					</tr>
				}
			}		
		</tbody>
		</table>
	</div>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/vpn/monitor.min.js")"></script>
}