@* form Template File *@
@(p2Form:Form[VpnP2ProposalForm], action:play.api.mvc.Call, pName:Option[String])(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@import srxlib.vpn.IPSecPolicy.PFS_KEYS_GROUP1
@import srxlib.vpn.IPSecPolicy.PFS_KEYS_GROUP2
@import srxlib.vpn.IPSecPolicy.PFS_KEYS_GROUP5
@import srxlib.vpn.IPSecPolicy.PFS_KEYS_GROUP14

@import srxlib.vpn.IPSecProposal.PROTOCOL_ESP
@import srxlib.vpn.IPSecProposal.PROTOCOL_AH

@import srxlib.vpn.IPSecProposal.ENC_ALG_3DES_CBC
@import srxlib.vpn.IPSecProposal.ENC_ALG_AES_CBC_128
@import srxlib.vpn.IPSecProposal.ENC_ALG_AES_CBC_192
@import srxlib.vpn.IPSecProposal.ENC_ALG_AES_CBC_256
@import srxlib.vpn.IPSecProposal.ENC_ALG_DES_CBC

@import srxlib.vpn.IPSecProposal.AUTH_ALG_HMAC_MD5_96
@import srxlib.vpn.IPSecProposal.AUTH_ALG_HMAC_SHA_256_128
@import srxlib.vpn.IPSecProposal.AUTH_ALG_HMAC_SHA_256_96
@import srxlib.vpn.IPSecProposal.AUTH_ALG_HMAC_SHA1_96

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {
	<div class="formHeaderSpace"></div>

	<table class="formTable" style="line-height:20px" cellspacing="4" cellpadding="4" border="0">
		<tr>
			<th class="text-right">Name</th>
			<td>
				@pName match {
					case Some(v) => { @v }
					case _       => { @helper.inputText(p2Form("name"), 'class -> "form-control", '_label -> "", '_help -> "") }
				}		
			</td>
		</tr>
		<tr>
			<th class="text-right">Perfect Forward Secrecy</th>
			<td>Moved to VPNs &gt; AutoKey IKE &gt; Edit</td>
		</tr>	
		@*
		<tr>
			<th class="text-right">Perfect Forward Secrecy</th>
			<td>
				@helper.select(p2Form("pfs"), options = helper.options(
					"" -> "NO-PFS",
					PFS_KEYS_GROUP1 -> "DH Group 1",	
					PFS_KEYS_GROUP2 -> "DH Group 2",	
					PFS_KEYS_GROUP5 -> "DH Group 5",	
					PFS_KEYS_GROUP14 -> "DH Group 14"	
					),
					'class -> "form-control",
					'_label -> "",
					'_help -> "")
			</td>
		</tr>
		*@
		<tr>
			<td colspan="2"><hr></td>
		</tr>
		<tr>
			<th colspan="2">Encapsulation</th>
		</tr>
		<tr>
			<th colspan="2">
				@helper.inputRadioGroup(p2Form("encap"), 
					options = helper.options(PROTOCOL_ESP -> "Encryption (ESP)"),
					'_label -> "", '_help -> "")
			</th>
		</tr>
		<tr>
			<th class="text-right">Encryption Algorithm</th>
			<td>
				@helper.select(p2Form("enc_alg"), options = helper.options(
						"" -> "NULL",
						ENC_ALG_DES_CBC -> "DES-CBC",
						ENC_ALG_3DES_CBC -> "3DES-CBC",
						ENC_ALG_AES_CBC_128 -> "AES-CBC(128 Bits)",
						ENC_ALG_AES_CBC_192 -> "AES-CBC(192 Bits)",
						ENC_ALG_AES_CBC_256 -> "AES-CBC(256 Bits)"
					),
					'class -> "form-control",
					'_label -> "",
					'_help -> "")
			</td>
		</tr>
		<tr>
			<th class="text-right">Authentication Algorithm</th>
			<td>
				@helper.select(p2Form("auth_alg1"), options = helper.options(
						"" -> "NONE",
						AUTH_ALG_HMAC_MD5_96 -> "MD5",
						AUTH_ALG_HMAC_SHA1_96 -> "SHA-1",
						AUTH_ALG_HMAC_SHA_256_96 -> "SHA2_256(96 Bits)",
						AUTH_ALG_HMAC_SHA_256_128 -> "SHA2_256(128 Bits)"		
					),
					'class -> "form-contorl",
					'_label -> "",
					'_help -> "")
			</td>
		</tr>
		<tr>
			<th colspan="2">
				@helper.inputRadioGroup(p2Form("encap"), 
					options = helper.options(PROTOCOL_AH -> "Authentication Only (AH)"),
					'_label -> "", '_help -> "")
			</th>
		</tr>	
		<tr>
			<th class="text-right">Authentication Algorithm</th>
			<td>
				@helper.select(p2Form("auth_alg2"), options = helper.options(
						"" -> "NONE",
						AUTH_ALG_HMAC_MD5_96 -> "MD5",
						AUTH_ALG_HMAC_SHA1_96 -> "SHA-1",
						AUTH_ALG_HMAC_SHA_256_96 -> "SHA2_256(96 Bits)",
						AUTH_ALG_HMAC_SHA_256_128 -> "SHA2_256(128 Bits)"		
					),
					'class -> "form-contorl",
					'_label -> "",
					'_help -> "")
			</td>
		</tr>	
		<tr>
			<td colspan="2"><hr></td>
		</tr>	
		<tr>
			<th colspan="2">Lifetime</th>
		</tr>
		<tr>
			<th class="text-right">In Time</th>
			<td>
				@helper.inputText(p2Form("lifetime"), 'class -> "form-control", '_label -> "", '_help -> "Sec") 
			</td>
		</tr>
		<tr>
			<th class="text-right">In Kbytes</th>
			<td>
				@helper.inputText(p2Form("lifesize"), 'class -> "form-control", '_label -> "", '_help -> "Kbytes") 
			</td>
		</tr>	
			<tr>
			<td colspan="2">
				<hr noshade />
			</td>
		</tr>	
		<tr>
			<td>&nbsp;</td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location.href=$(this).data('url'); return false;" data-url="@routes.VPNs.p2ProposalList(device.name)" />
				@helper.CSRF.formField
			</td>
		</tr>		
	</table>
}

