@* addressForm Template File *@
@(addrForm:Form[AddressForm], action:play.api.mvc.Call, inUse:Boolean = false)(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)
@import helper._
@import to.lef.srxlib

@import srxlib.policy.AddressElement.ADDRESS_TYPE_IP_PREFIX
@import srxlib.policy.AddressElement.ADDRESS_TYPE_DNS_NAME

@implicitFieldConstructor = @{ FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {

	<div class="formHeaderSpace"></div>

	<table class="formTable">
		<tr>
			<th class="text-right leftCol30">Address Name</th>
			<td>
				@helper.inputText(addrForm("name"), 'class -> "form-control", '_label -> "", '_help -> "")
				@if(addrForm.hasGlobalErrors) {
					<div class="form-group has-error">
					    <div class="col-sm-offset-4 col-sm-5">
					        <span class="errors">@addrForm.globalErrors.map(e => play.api.i18n.Messages(e.message, e.args: _*)).mkString(", ")</span>
					    </div>
					</div>
				}	
				@*
				@helper.inputText(addrForm("comment"), 'class -> "form-control", '_label -> "Comment")
				*@
			</td>
		</tr>
		<tr>
			<th class="text-left">IP Address/Domain Name</th>
			<td>
			</td>
		</tr>
@defining(addrForm("adr.option").value.getOrElse("0").toInt == ADDRESS_TYPE_IP_PREFIX) { checked => 
		<tr class="form-group @if(checked && addrForm("adr").hasErrors) { has-error }">
			<td class="text-right">
				<label class="control-label col-sm-4">
					<input type="radio" name="adr.option" value="@ADDRESS_TYPE_IP_PREFIX" 
					@if(checked) { checked }>
		               IPv4/Netmask or IPv6/Prefix Length 	
				</label>
			</td>
			<td>
				@helper.inputText(
					addrForm("adr.ip"),
					'class -> "form-control",
					'style -> "display:inline;width:50%"
				)(FieldConstructor(views.html.helper.RawField.f), lang)	    	    
				<span class="form-control-static">/</span>
				@helper.inputText(
					addrForm("adr.mask"),
					'class -> "form-control",
					'style -> "display:inline;width:20%"
				)(FieldConstructor(views.html.helper.RawField.f), lang)	
				@if(checked) {
		        <div class="errors">@addrForm("adr").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</div>
		        }
			</td>
		</tr>
}
@defining(addrForm("adr.option").value.getOrElse("0").toInt == ADDRESS_TYPE_DNS_NAME) { checked => 
		<tr class="form-group @if(checked && addrForm("adr").hasErrors) { has-error }">
			<td class="text-right">
				<label class="control-label">
					<input type="radio" name="adr.option" value="@ADDRESS_TYPE_DNS_NAME" 
					@if(checked) { checked }>
					Domain Name
				</label>
			</td>
			<td>
				@helper.inputText(
					addrForm("adr.dn"),
					'class -> "form-control"
				)(FieldConstructor(views.html.helper.RawField.f), lang)	    	    
				@if(checked) {
		        <div class="errors">@addrForm("adr").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</div>
		        }
			</td>
		</tr>
}
		<tr>
			<td colspan="2">
				<hr noshade="" />
			</td>
		</tr>
		<tr>
			<th class="text-right">Zone</th>
			<td>
				@defining(device.config.securityZoneNameList().asScala.toList) { opts => 
					@helper.select(addrForm("adr_regular_zone_name"), options(opts),
						'class -> "form-control",
						'_help -> "",
						'_label -> ""
					)
				}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr noshade="" />
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location.href=$(this).data('url'); return false;" data-url="@routes.Addresses.list(device.name, None)" />
			</td>
		</tr>
	</table>

	@CSRF.formField	
}

@if(inUse) {
<script type="text/javascript">
(function($) {
	$(function() {
	    var e = $('select[name=adr_regular_zone_name]');
	    var v = e.val();
	    e.change(function(evt) {
			alert("@Html(escapeEcmaScript("zone can't be changed here due to either adress in use or in a group!"))");
			e.val(v);
			return false;
		});
	});
})(jQuery);
</script>	
}	