@* create Template File *@
@(addrForm:Form[AddressForm], message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)
@import helper._
@import to.lef.srxlib

@implicitFieldConstructor = @{ FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Policy &gt; Policy Elements &gt; Addresses &gt; Configuration</p>

			<div class="infoArea text-right">
			</div>
		</div>

	
		@addressForm(addrForm, routes.Addresses.createAddressPost(device.name))
			
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@escapeEcmaScript(message)");
				});
			</script>
		}
	</div>
}