@* createGroup Template File *@
@(zoneName:String, grpName:String, grpForm:Form[AddressGroupForm], message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)
@import helper._
@import to.lef.srxlib


@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Policy &gt; Policy Elements &gt; Addresses &gt; Configuration</p>

			<div class="infoArea">
			</div>
		</div>

		@groupForm(zoneName, grpForm, routes.Addresses.editZoneGroupPost(device.name, zoneName, grpName))
			
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@escapeEcmaScript(message)");
				});
			</script>
		}
	</div>
}