@* create Template File *@
@(addrForm:Form[AddressForm], zoneName:String, addrName:String, inUse:Boolean, message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)
@import helper._
@import to.lef.srxlib

@implicitFieldConstructor = @{ FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@deviceMain {

	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Policy &gt; Policy Elements &gt; Addresses &gt; Configuration</p>

			<div class="infoArea">
			</div>
		</div>

	
		@addressForm(addrForm, routes.Addresses.editAddressPost(device.name, zoneName, addrName), inUse)
			
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}
	</div>
}