@* groups Template File *@
@(zoneName:String)(implicit device:srxlib.Device)

@deviceMain {
	
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Policy &gt; Policy Elements &gt; Addresses &gt; Groups</p>	
	
			<div class="infoArea">
			    <form class="form-inline" role="form" id="form1">
			    	@pager()
			    	<div>
			    		<div class="pull-left">
							Zone
							<select name="zone" id="zoneSelector" data-device="@device.name">
							@for(zn <- device.config.securityZoneNameList.asScala.toList) {
								<option value="@zn" @if(zn == zoneName) { selected }>@zn</option>
							}
							</select>
						</div>
						<div class="pull-right">
						@if(!zoneName.isEmpty) {
							<input type="submit" value="New" class="btn btn-default">
						}
						</div>
					</div>
				</form>
			</div>
		</div>
	

	
		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
			<thead>
				<tr class="title">
					<th>Name</th>
					<th>Members</th>
					<th colspan="2">Configure</th>
				</tr>
			</thead>
			@if(!zoneName.isEmpty) {
			<tbody>
			@defining(device.candidateConfig) { candidate =>
			@defining(device.config) { config =>
			@for(set <- config.addressSetList(zoneName).asScala.toSeq) {
				<tr class="@views.html.helper.changedClass(set.isChanged(candidate))">
				<td>@set.getName</td>
				<td>
				@for(a <- set.getAddressNameList.asScala.toSeq) {
					@a
					&nbsp;
				}	
				@for(a <- set.getAddressSetNameList.asScala.toSeq) {
					@a
					&nbsp;
				}	
				</td>
				<td>
				@if(set.isEditable(config)) {
				@helper.form(action = routes.Addresses.editZoneGroup(device.name, set.getZoneName, set.getName), 'class -> "form-inline", 'role -> "form", 'style -> "display:inline-block") {
					<a href="#" onclick="parentNode.submit();">Edit</a>
				}
				} else { In Use }
				</td>
				<td>
				@if(set.isRemovable(config)) {
					@helper.form(action = routes.Addresses.deleteZoneGroupPost(device.name, set.getZoneName, set.getName), 'class -> "form-inline", 'role -> "form", 'style -> "display:inline-block") {
						<a href="#" onclick="parentNode.submit();">Remove</a>
					}
				} else {
					In Use
				}
				</td>
				</tr>
			}
			}
			}
			</tbody>
			}
		</table>
	</div>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/addresses/groups.min.js")"></script>
}

