@* groupForm Template File *@
@(zoneName:String, grpForm:Form[AddressGroupForm], action:play.api.mvc.Call, oldName:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)
@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form", 'id -> "form1") {
	
	<br />
	<br />
	<br />

	<table class="formTable">
		<tr>
			<th class="text-right">Group Name</th>
			<td>
				@helper.inputText(grpForm("name"), 'class -> "form-control", '_label -> "", '_help -> "")
				@if(grpForm.hasGlobalErrors) {
					<div class="form-group has-error">
					    <div class="col-sm-offset-4 col-sm-5">
					        <span class="errors">@grpForm.globalErrors.map(e => play.api.i18n.Messages(e.message, e.args: _*)).mkString(", ")</span>
					    </div>
					</div>
				}
				@*	@helper.inputText(grpForm("comment"), 'class -> "form-control", '_label -> "Comment") *@
			</td>
		</tr>
		<tr>
			<td colspan="2">

				@defining(device.config.addressNameList(zoneName).asScala.toSeq ++ device.config.addressSetNameList(zoneName).asScala.toSeq) { names =>
				@defining(grpForm("addresses").indexes.map(i => grpForm("addresses")("[" + i + "]").value.getOrElse(""))){ cnames => 
				<table class="memberTable">
					<tr>
						<td>
							<select name="addresses[]" class="form-control" style="height:300px" id="members" multiple>
								<option value="">&lt;-- Group Members --&gt;</option>
								@for(name <- names.filter(n => (n != oldName) && cnames.contains(n))) { 
									<option value="@name">@name</option>
								}
							</select>
						</td>
						<td>
							<div class="text-center">
								<button class="btn btn-default" id="addBtn">&lt;&lt;</button>
								<br>
								<button class="btn btn-default" id="removeBtn">&gt;&gt;</button>
							</div>
						</td>
						<td>
							<select class="form-control" style="height:300px" id="availables" multiple>
								<option value="">&lt;-- Available Members --&gt;</option>
								@for(name <- names.filterNot(n => (n == oldName) || cnames.contains(n))) { 
									<option value="@name">@name</option>
								}
							</select>
						</td>
					</tr>
				</table>
				}
				}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr noshade="" />
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location.href=$(this).data('url'); return false;" data-url="@routes.Addresses.groups(device.name)" />
			</td>
		</tr>
	</table>

	@CSRF.formField	
}
<script type="text/javascript" src="@routes.Assets.at("javascripts/addresses/groupForm.min.js")"></script>