@* list Template File *@
@(zoneName:String, message:String = "")(implicit device: to.lef.srxlib.Device)

@deviceMain {
	
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Policy &gt; Policy Elements &gt; Addresses &gt; List</p>
	
			<div class="infoArea">

				@pager()
				
				<div style="font-weight: normal">
					<div class="pull-left">
						<select name="zone" id="zoneSelector" data-device="@device.name">
							<option value="">All zones</option>
							@for(zn <- device.config.securityZoneNameList.asScala.toList) {
								<option value="@zn" @if(zn == zoneName) { selected }>@zn</option>
							}
						</select>
						@*
						<select size="1" onchange="change_zone(this);" name="adr_src_zone">
							<option value="All zones">All zones</option>
							<option value="Trust">Trust</option>
							<option selected="" value="Untrust">Untrust</option>
							<option value="Self">Self</option>
							<option value="Global">Global</option>
							<option value="V1-Null">V1-Null</option>
							<option value="V1-Trust">V1-Trust</option>
							<option value="V1-Untrust">V1-Untrust</option>
							<option value="DMZ">DMZ</option>
							<option value="V1-DMZ">V1-DMZ</option>
						</select>
						*@
						@*
						&nbsp;
						Filter:
						&nbsp;
						<span class="select">ALL</span>
						<span><a href="#">0-9</a></span>
						<span><a href="#">A</a></span>
						<span><a href="#">B</a></span>
						<span><a href="#">C</a></span>
						<span><a href="#">D</a></span>
						<span><a href="#">E</a></span>
						<span><a href="#">F</a></span>
						<span><a href="#">G-I</a></span>
						<span><a href="#">J-L</a></span>
						<span><a href="#">M</a></span>
						<span><a href="#">N</a></span>
						<span><a href="#">O</a></span>
						<span><a href="#">P</a></span>
						<span><a href="#">Q</a></span>
						<span><a href="#">R</a></span>
						<span><a href="#">S</a></span>
						<span><a href="#">T</a></span>
						<span><a href="#">U</a></span>
						<span><a href="#">V</a></span>
						<span><a href="#">W</a></span>
						<span><a href="#">X-Z</a></span>
						*@
					</div>
					<div class="pull-right">
						@helper.form(action = routes.Addresses.createAddress(device.name, None), 'class -> "form-inline", 'role -> "form", 'id -> "form1") {
							<input type="submit" value="New" class="btn btn-default">
						}
					</div>
				</div>
			</div>
		</div>


		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
			<thead>
				<tr class="title">
					<th>Name</th>
					<th>IP/Domain Name</th>
					<th>Zone</th>
					<th colspan="2">Configure</th>
				</tr>
			</thead>
			<tbody class="stripe">
			@defining(device.config) { config =>
			@defining(device.candidateConfig) { candidate =>
			@for(book <- config.addressList.asScala.toList.filter(v => zoneName.isEmpty || v.getZoneName == zoneName)) { 
				<tr class="@views.html.helper.changedClass(book.isChanged(candidate))">
					<td>@book.getName</td>
					<td>@book.getDisplayAddress</td>
					<td>@book.getZoneName</td>
					<td>
					@if(book.isEditable(config)) {
					@helper.form(action = routes.Addresses.editAddress(device.name, book.getZoneName, book.getName), 'class -> "form-inline", 'role -> "form", 'style -> "display:inline-block") {
							<a href="#" onclick="parentNode.submit();">Edit</a>
					}
					} else { In Use }
					</td>
					<td>
					@if(book.isRemovable(config)) {
						@helper.form(action = routes.Addresses.deleteAddressPost(device.name, book.getZoneName, book.getName), 'class -> "form-inline", 'role -> "form", 'style -> "display:inline-block") {
							<a href="#" onclick="parentNode.submit();">Remove</a>
						}
					} else {
						In Use
					}
					</td>
				</tr>
			}
			}
			}
			</tbody>	
		</table>
	
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}
	</div>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/addresses/addresses.min.js")"></script>
}
