@* create Template File *@
@(zoneForm:Form[ZoneForm], message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, messages: play.api.i18n.Messages)

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Network &gt; Zones &gt; Configuration</p>

			<div class="infoArea text-right">
				<a href="@routes.NetworkZones.list(device.name)">
					Back to Zone List
				</a>
			</div>
		</div>
	
		@views.html.network.zones.form(zoneForm, routes.NetworkZones.createPost(device.name), None)
		
		@if(message.length() > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}
	</div>
}