@* create Template File *@
@(zoneForm:Form[ZoneForm], zone:srxlib.zone.SecurityZone, message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, messages: play.api.i18n.Messages)

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Network &gt; Zones &gt; Configuration</p>

			<div class="infoArea text-right">
				<a href="@routes.NetworkZones.list(device.name)">
					Back to Zone List
				</a>	
			</div>
		</div>

	
		@views.html.network.zones.form(zoneForm, routes.NetworkZones.editBasicPost(device.name, zone.getName), Some(zone))
		
		@if(message.length() > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@escapeEcmaScript(message)");
				});
			</script>
		}
	</div>
}