@* form Template File *@
@(zoneForm: Form[ZoneForm], action:play.api.mvc.Call, zone:Option[srxlib.zone.SecurityZone])(implicit request: RequestHeader, device:srxlib.Device, messages: play.api.i18n.Messages)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {

	<br />
	<br />
	<br />

	<table>
		<tr>
			<th class="text-right leftCol30">Zone Name</th>
			<td>
				@if(zone.isDefined) {
					@zone.get.getName
				} else {
					@helper.inputText(
						zoneForm("name"),
						'class -> "form-control",
						'_label -> "",
						'_help -> ""
					)
				}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr />
			</td>
		</tr>
		<tr>
			<th class="text-right">If TCP non SYN, send RESET back</th>
			<td>
				@helper.checkbox(
					zoneForm("tcp_rst"),
					'_label -> "",
					'_help -> ""
				)
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<hr noshade />
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location.href=$(this).data('url'); return false;" data-url="@routes.NetworkZones.list(device.name)" />
			</td>
		</tr>
	</table>


	@CSRF.formField	
}
