@* list Template File *@
@(zones:Seq[to.lef.srxlib.zone.SecurityZone])(implicit device: to.lef.srxlib.Device)

@import to.lef.srxlib.zone.SecurityZone

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Network &gt; Zones</p>

			<div class="infoArea text-right">
				<br /><br />
				@helper.form(action = routes.NetworkZones.create(device.name), 'class -> "form-inline", 'role -> "form") {
					<input type="submit" value="New" class="btn btn-default">
				}
			</div>
		</div>
	
		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
			<thead class="title">
				<tr>
					<th>Name</th>
					<th>Interfaces</th>
					<th>Type</th>
					<th colspan="3">Configure</th>
				</tr>
			</thead>
			<tbody class="body">
				@defining(device.candidateConfig) { candidate =>
				@defining(device.config) { config =>
				@if(zones.isEmpty) {
					<tr>
						<td class="text-center" colspan="5">No entry available</td>
					</tr>
				} else {
				@for(zone <- zones) {
					<tr class="@views.html.helper.changedClass(zone.isChanged(candidate))">
					<td class="text-center">@zone.getName</td>
					<td class="text-center">
					@defining(zone.getInterfaceNameList.asScala.toSeq) { intList => 
						@for((intName, index) <- intList.zipWithIndex) {
							@intName
							@if(index + 1 != intList.size) { <br /> }
						}
					}
					</td>
					<td class="text-center">Security</td>
					<td>
					@if(zone.isEditable(config)) {
						@helper.form(action = routes.NetworkZones.editBasic(device.name, zone.getName), 'class -> "form-inline", 'role -> "form", 'style -> "display:inline-block") {
								<a href="#" onclick="parentNode.submit();">Edit</a>
						}
					}
					</td>
					<td>
						<a href="@routes.SecurityScreen.edit(device.name, zone.getName)">Screen</a>
					</td>
					<td>
					@if(zone.isRemovable(config)) {
						@helper.form(action = routes.NetworkZones.deletePost(device.name, zone.getName), 'class -> "form-inline", 'role -> "form", 'style -> "display:inline-block") {
							<a href="#" onclick="parentNode.submit();">Remove</a>
						}
					} 
					</td>
					</tr>
				}
				}
				}
				}
			</tbody>
		</table>
	</div>
}