@* editBasic Template File *@
@(algForm:Form[ALGBasicForm], message:String = "")(implicit request: RequestHeader, device:srxlib.Device, messages: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.RawField.f) }

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Security &gt; ALG &gt; Basic</p>
		</div>
		
		@helper.form(action = routes.SecurityALG.editBasicPost(device.name), 'class -> "form-horizontal", 'role -> "form") {
			
			<br />
			<br />
			<br />
			
			<table class="formTable" style="line-height:40px;width:70%">
				<tr>
					<th colspan="3">Application Layer Gateway</th>
				</tr>	

				@defining(device.config) { config =>			
				@defining(config.findALG) { alg =>
				@for((name, i) <- srxlib.alg.ALG.algList.asScala.toList.zipWithIndex) {
					@if(i % 2 == 0) {
						<tr>
						<td>&nbsp;</td>
					}
				
					<td>
						@if(alg.isInUse(name, config) && algForm(name).value.getOrElse("") == "true") { 
							<label>@helper.checkbox(algForm(name), 'onclick -> "return false;") @name (In Use)</label>
						} else {
							<label>@helper.checkbox(algForm(name)) @name</label>
						}	
					</td>
						
					@if(i % 2 == 1) {
						</tr>
					}
				}
				}
				}
				<tr>
					<td colspan="3">
						<hr style="width:100%;"/>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td colspan="2">
						<input type="submit" value="OK" />
						<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.Home.index(device.name, None, None)"/>
					</td>
				</tr>
			</table>
			
			@helper.CSRF.formField	
		}	
	</div>
}