@* props Template File *@
@(confs: play.api.Configuration)

@disp(k:String, confs: play.api.Configuration) = @{
	try {
		val ret = confs.get[String](k)		
		ret
	}
	catch {
		case e:Exception => 	
	}
}

@main("Confs") {
	<table class="table">
		<tbody>
		@defining(confs.keys) { keys => 
			@for(key <- keys) {
				<tr>
				<td>@key</td>
				<td>
				@disp(key, confs)
				</td>
				</tr>
			}
		}	
		</tbody>
	</table>
}