@* deviceMain Template File *@
@(contents:Html)(implicit device:srxlib.Device)

@defining(device.softwareInformation) { si => 
@main(device.name + " (" + si.getProductModel + "):" + si.getPackageComment()) {
	<script type="text/javascript" src="@routes.Api.routes"></script>
	<div class="headerInfo">
		<span class="deviceName">@device.name</span>
		[
		<form style="display:inline;"><a href="#" id="rollbackButton" class="btn btn-xs btn-default" data-name="@device.name">Rollback</a>(<input type="text" id="rollbackNumberInput" size="1" maxlength="2" name="rollbackNumber" value="0">)</form> |
		<a href="#" id="syncButton" class="btn btn-xs btn-default" data-name="@device.name">Sync</a> |
		<a href="#" id="commitButton" class="btn btn-xs btn-default" data-name="@device.name">Commit</a>
		]
	</div>
	<table id="frame" cellspacing="0" cellpadding="0" border="0" height="100%">
		<tr>
			<td class="left">
				@nav(device)
			</td>
			<td class="center">
				<div class="header">
				<div class="headerShadow"></div>
				</div>
			</td>
			<td class="right">
				@contents
			</td>
		</tr>
	</table>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/device.min.js")"></script>
}
}
