@* nav Template File *@
@(device:srxlib.Device)

@defining(device.name) { deviceName =>
	<div class="navBg">

		<h1 class="logo">
			<img src="@routes.Resources.logo" />
@*			<img src="@routes.Assets.at("images/logo.png")" /> *@
		</h1>
		
		<div class="logoDeviceName">@deviceName</div>
		<br />

		<div class="nav-tree">
			<ul class="nav-tree">
				<li ><a href="@routes.Home.index(deviceName, None, None)">Home</a></li>
				<li>Configuration
					<ul>
						<li><a href="@routes.DateTime.edit(deviceName)">Date/Time</a></li>
						@*
						<li>Update
							<ul>
								<li data-jstree='{"disabled":true}'>ScreenOS/Keys</li> 
								<li class="jstree-willimpl" data-jstree='{"disabled":true}'>Config File</li> 
							</ul>
						</li>
						*@
						<li>Admin
							<ul>
								<li><a href="@routes.AdminUser.userList(deviceName)">Administrators</a></li>
@*								<li data-jstree='{"disabled":true}'>Permitted IPs</li> *@
@*								<li class="jstree-willimpl" data-jstree='{"disabled":true}'>Management</li>
@*								<li data-jstree='{"disabled":true}'>NSM</li> *@
@*								<li data-jstree='{"disabled":true}'>Banners</li> *@
@*								<li data-jstree='{"disabled":true}'>Audit Settings</li> *@
@*								<li data-jstree='{"disabled":true}'>Exclude Rules</li> *@
							</ul>
						</li>
@*						<li data-jstree='{"disabled":true}'>Auth</li> *@
@*						<li data-jstree='{"disabled":true}'>Infranet Auth</li> *@
						<li>Report Settings
							<ul>
@*								<li data-jstree='{"disabled":true}'>Log Settings</li> *@
@*								<li data-jstree='{"disabled":true}'>Email</li> *@
								<li><a href="@routes.ConfigSnmp.edit(deviceName)">SNMP</a></li>
@*								<li data-jstree='{"disabled":true}'>SNMPv3</li> *@
								<li><a href="@routes.ConfigSyslog.index(deviceName)">Syslog</a></li>
@*								<li data-jstree='{"disabled":true}'>WebTrends</li> *@
							</ul>
						</li>
					</ul>
				</li>

				<li>Network
					<ul>
@*						<li class="jstree-willimpl" data-jstree='{"disabled":true}'>Binding</li> *@
						<li>DNS
							<ul>
								<li><a href="@routes.NetworkDns.editHost(deviceName)">Host</a></li>
@*								<li data-jstree='{"disabled":true}'>Cache</li> *@
@*								<li data-jstree='{"disabled":true}'>Proxy</li> *@
@*								<li data-jstree='{"disabled":true}'>DDNS</li> *@
							</ul>
						</li>
						<li><a href="@routes.NetworkZones.list(deviceName)">Zones</a></li>
						<li>Interfaces
							<ul>
								<li><a href="@routes.NetworkInterfaces.list(deviceName)">List</a></li>
@*								<li data-jstree='{"disabled":true}'>Backup</li> *@
							</ul>
						</li>
						<li><a href="@routes.NetworkDhcp.serviceList(deviceName)">DHCP</a></li>
@*						<li data-jstree='{"disabled":true}'>DHCPV6</li> *@
@*						<li data-jstree='{"disabled":true}'>802.1X</li> *@
						<li>Routing
							<ul>
								<li><a href="@routes.NetworkRouting.destination(deviceName)">Destination</a></li>
@*								<li data-jstree='{"disabled":true}'>Source</li> *@
@*								<li data-jstree='{"disabled":true}'>Source Interface</li> *@
@*								<li data-jstree='{"disabled":true}'>MCast Routing</li> *@
@*								<li data-jstree='{"disabled":true}'>PBR</li> *@
@*								<li class="jstree-willimpl" data-jstree='{"disabled":true}'>Virtual Routers</li> *@
							</ul>
						</li>
@*						<li data-jstree='{"disabled":true}'>NSRP</li> *@
						<li>PPP
							<ul>
						@if(device.isPPPoESupported) {
								<li><a href="@routes.NetworkPPPoE.pppoeList(deviceName)">PPPoE Profile</a></li>
						} else {
								<li data-jstree='{"disabled":true}'>PPPoE Profile</li>
						}
							</ul>
						</li>
@*						<li data-jstree='{"disabled":true}'>DSCP</li> *@
					</ul>
				</li>
				<li>Security
					<ul>
						<li>Screening
							<ul>
								<li><a href="@routes.SecurityScreen.index(deviceName, None)">Screen</a></li>
@*								<li data-jstree='{"disabled":true}'>Mal-URL</li> *@
@*								<li data-jstree='{"disabled":true}'>Flow</li> *@
							</ul>
						</li>
@*						<li data-jstree='{"disabled":true}'>Web Filtering</li> *@
@*						<li data-jstree='{"disabled":true}'>Deep Inspection</li> *@
@*						<li data-jstree='{"disabled":true}'>Antivirus</li> *@
@*						<li data-jstree='{"disabled":true}'>Antispam</li> *@
						<li><a href="@routes.SecurityALG.editBasic(deviceName)">ALG</a></li>
@*						<li data-jstree='{"disabled":true}'>Proxy</li> *@
					</ul>
				</li>
				<li>Policy
					<ul>
						<li><a href="@routes.Policies.policies(deviceName, None, None, None)">Policies</a></li>
@*						<li data-jstree='{"disabled":true}'>MCast Policies</li> *@
						<li>Policy Elements
							<ul>
								<li>Addresses
									<ul>
										<li><a href="@routes.Addresses.list(deviceName, None)">List</a></li>
										<li><a href="@routes.Addresses.groups(deviceName)">Groups</a></li>
@*										<li data-jstree='{"disabled":true}'>Summary</li> *@
									</ul>
								</li>
								<li>Services
									<ul>
										<li><a href="@routes.Services.predefined(deviceName)">Predefined</a></li>
										<li><a href="@routes.Services.custom(deviceName)">Custom</a></li>
@*										<li data-jstree='{"disabled":true}'>Sun RPC</li> *@
@*										<li data-jstree='{"disabled":true}'>MS RPC</li> *@
										<li><a href="@routes.Services.groups(deviceName)">Groups</a></li>
@*										<li data-jstree='{"disabled":true}'>Session Cache</li> *@
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li>VPNs
					<ul>
						<li><a href="@routes.VPNs.vpnList(deviceName)">AutoKey IKE</a></li>
						<li>AutoKey Advanced
							<ul>
								<li><a href="@routes.VPNs.gatewayList(deviceName)">Gateway</a></li>
								<li><a href="@routes.VPNs.p1ProposalList(deviceName)">P1 Proposal</a></li>
								<li><a href="@routes.VPNs.p2ProposalList(deviceName)">P2 Proposal</a></li>
@*								<li data-jstree='{"disabled":true}'>XAuth Settings</li> *@
@*								<li data-jstree='{"disabled":true}'>VPN Groups</li> *@
@*								<li data-jstree='{"disabled":true}'>MODECFG Profile</li> *@
							</ul>
						</li>
@*						<li data-jstree='{"disabled":true}'>Manual Key</li> *@
@*						<li data-jstree='{"disabled":true}'>L2TP</li> *@
						<li><a href="@routes.VPNs.monitor(deviceName)">Monitor Status</a></li>
					</ul>
				</li>
@*				<li data-jstree='{"disabled":true}'>Objects</li> *@
				<li>Reports
					<ul>
						<li><a href="@routes.Reports.chassis(deviceName, None)">Chassis</a></li>
					</ul>
				</li>
@*				<li data-jstree='{"disabled":true}'>Wizards</li> *@
@*				<li data-jstree='{"disabled":true}'>Help</li> *@
				<li><a href="@routes.DeviceSetup.list">Logout</a></li>
				<li><a href="@routes.Home.config(deviceName)">Config</a></li>
			</ul>
		</div>

	</div>
}
