@* nav Template File *@

				<table>
				<tr>
					<td>
						<div id="perpage">
							List
							<select name="num_per_page" size="1">
								<option value="5">5 </option>
								<option value="10">10 </option>
								<option value="20" selected>20 </option>
								<option value="50">50 </option>
								<option value="100">100 </option>
							</select>
							per page
						</div>
					</td>
					<td>
						<div id="pager" class="hide">
							Go to page
							<img name="back" class="move" src="@routes.Assets.at("images/backarror.gif")">
							<select name="goto_page"></select>
							<img name="forward" class="move" src="@routes.Assets.at("images/forwardarror.gif")">
						</div>
					</td>
				</tr>
				</table>
