@* props Template File *@
@(props: java.util.Properties)

@import play.api.Play.current

@main("Props") {
	<table class="table">
	@defining(props.stringPropertyNames()) { names =>
		<tbody>
		@for(name <- names) {
			<tr><td>@name</td></tr>
		}	
		</tbody>
	}
	</table>
}