@* chassis Template File *@
@(implicit device:srxlib.Device)

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Reports &gt; Chassis</p>

			<div class="infoArea">
				<br/><br/>
				<div class="pull-right">
					<form action="@routes.Reports.chassis(device.name, None)" method="GET" style="display:inline">
						<input type="hidden" name="refresh" value="true">
						<input type="submit" value="Refresh">
					</form>	
				</div>
			</div>
		</div>

		@defining(device.chassisInventory) { inventory =>	
		<table cellspacing="0" cellpadding="2" border="1" bodercolor="silver" class="formTable">
			<caption>
				Chassis Summary:
			</caption>
			<thead class="homeHeader">
				<tr class="title">
					<th>Name</th>
					<th>S/N</th>
					<th>HW Rev</th>
				</tr>
			</thead>
			<tbody>
			@for(module <- inventory.getModuleList) {
				<tr>
					<td class="text-center">@module.getName</td>
					<td class="text-center">@module.getSerialNumber</td>
					<td class="text-center">@module.getVersion</td>
				</tr>
			}
			</tbody>	
		</table>
		}
	</div>
}
