@* create Template File *@
@(gForm:Form[VpnGatewayForm], message:String = "")(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang:play.api.i18n.Messages)

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">VPNs &gt; AutoKey Advanced &gt; Gateway &gt; Edit</p>

			<div class="infoArea text-right">
			</div>
		</div>
	
		@form(gForm, routes.VPNs.createGatewayPost(device.name), None)
			
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}
	</div>
}