@* form Template File *@
@(gForm:Form[VpnGatewayForm], action:play.api.mvc.Call, gwName:Option[String])(implicit request: RequestHeader, device: to.lef.srxlib.Device, lang: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@import srxlib.vpn.IkeGateway.IKE_VERSION_1
@import srxlib.vpn.IkeGateway.IKE_VERSION_2

@import srxlib.vpn.IkePolicy.PROPOSAL_SET_STANDARD
@import srxlib.vpn.IkePolicy.PROPOSAL_SET_BASIC
@import srxlib.vpn.IkePolicy.PROPOSAL_SET_COMPATIBLE

@import srxlib.vpn.IkePolicy.MODE_MAIN
@import srxlib.vpn.IkePolicy.MODE_AGGRESSIVE

@import srxlib.vpn.IkeGateway.PEER_TYPE_DYNAMIC_HOSTNAME
@import srxlib.vpn.IkeGateway.PEER_TYPE_STATIC

@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form") {
	@defining(device.config) { config =>
	<div class="formHeaderSpace"></div>
	
	<table class="formTable" style="line-height:20px;">
		<tr>
			<th colspan="2" class="text-right">Gateway Name</th>
			<td>
				@gwName.getOrElse(helper.inputText(gForm("name"), 'class -> "form-control", '_label -> "", '_help -> ""))
			</td>
		</tr>
		<tr>
			<th colspan="2" class="text-right">Version</th>
			<td>
				@helper.inputRadioGroup(gForm("ike_version"), options = helper.options(
					IKE_VERSION_1 -> "IKEv1",
					IKE_VERSION_2 -> "IKEv2"
					), 'class -> "form-control", '_label -> "", '_help -> "")
			</td>
		</tr>
		<tr>
			<td colspan="3"><hr></td>
		</tr>
		<tr>
			<th colspan="3">Remote Gateway</th>
		</tr>
		<tr>
			<th>
				@helper.inputRadioGroup(gForm("peer.type"), options = helper.options(PEER_TYPE_STATIC -> "Static IP Address"), '_label -> "", '_help -> "")
			</th>
			<td class="text-right">IPv4/v6 Address/Hostname</td>
			<td>
				@helper.inputText(gForm("peer.address"), 'class -> "form-control", '_label -> "", '_help -> "")
			</td>
		</tr>
		<tr>
			<th>
				@helper.inputRadioGroup(gForm("peer.type"), options = helper.options(PEER_TYPE_DYNAMIC_HOSTNAME -> "Dynamic IP Address"), '_label -> "", '_help -> "")
			</th>
			<td class="text-right">Peer ID</td>
			<td>
				@helper.inputText(gForm("peer.peer_id"), 'class -> "form-control", '_label -> "", '_help -> "")
			</td>		
		</tr>
		<tr>
			<th colspan="3"><hr></th>
		</tr>
		<tr>
			<th colspan="2" class="text-right">Preshared Key</th>
			<td>
				<input type="password" name="policy.preshared_key" class="form-control" value="@gForm("policy.preshared_key").value.getOrElse("")">
		        <span class="errors">@gForm("policy.preshared_key").errors.map(e => play.api.i18n.Messages(e.message, e.args)).mkString(", ")</span>
			</td>
		</tr>
		<tr>
			<th colspan="2" class="text-right">Local ID</th>
			<td>
				@helper.inputText(gForm("local_id"), 'class -> "form-control", '_label -> "", '_help -> "")
			</td>
		</tr>
		<tr>
			<th colspan="2" class="text-right">Outgoing Interface</th>
			<td>
				@helper.select(gForm("outgoing_interface"), options = helper.options(
					config.logicalInterfaceList.asScala.toList.filter(v => v match { 
						case PortInetInterface(v)  => true
						case PPPoEInetInterface(v) => true
						case VlanInterface(v) => true
						case RethInterface(v) => true
						case _ => false
					}).map(v => v.getName)	
				), 'class -> "form-control", '_label -> "", '_help -> "")
			</td>
		</tr>
		<tr>
			<th colspan="3"><hr></th>
		</tr>	
		<tr>
			<th colspan="3">Security Level</th>
		</tr>
		<tr>
			<th colspan="2" class="text-right">Predefined</th>
			<td>
				@helper.inputRadioGroup(gForm("policy.proposal_set"), options = helper.options(
					PROPOSAL_SET_STANDARD -> "Standard",
					PROPOSAL_SET_COMPATIBLE -> "Compatible ",
					PROPOSAL_SET_BASIC -> " Basic  "	
					), 'class -> "form-control", '_label -> "", '_help -> "")
			</td>
		</tr>
		<tr>
			<th colspan="2" class="text-right">User Defined</th>
			<td>
				@helper.inputRadioGroup(gForm("policy.proposal_set"), options = helper.options(
					"custom" -> "Custom"
					), 'class -> "form-control", '_label -> "", '_help -> "")		
			</td>
		</tr>
		<tr>
			<td colspan="2"></td>
			<td>
				<table border="1" cellspacing="0" cellpadding="4">
				<tr>
				<td>
					<table border="0" cellspacing="0" cellpadding="0">
					<tr>
						<th>Phase 1 Proposal</th>
					</tr>
					<tr>
						<td>
							@defining(config.ikeProposalList.asScala.toList.map(v => v.getName)) { propList => 
							@helper.select(gForm("policy.proposals[0]"), options = helper.options(propList), 'class -> "form-control", '_default -> "None", '_label -> "", '_help -> "")
							@helper.select(gForm("policy.proposals[1]"), options = helper.options(propList), 'class -> "form-control", '_default -> "None", '_label -> "", '_help -> "")
							@helper.select(gForm("policy.proposals[2]"), options = helper.options(propList), 'class -> "form-control", '_default -> "None", '_label -> "", '_help -> "")
							@helper.select(gForm("policy.proposals[3]"), options = helper.options(propList), 'class -> "form-control", '_default -> "None", '_label -> "", '_help -> "")
							}
						</td>
					</tr>
					</table>
				</td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="3"><hr></td>
		</tr>
		<tr>
			<th colspan="2" class="text-right">Mode (Initiator)</th>
			<td>
				@helper.inputRadioGroup(gForm("policy.mode"), options = helper.options(
					MODE_MAIN -> "Main (ID Protection)",
					MODE_AGGRESSIVE -> "Aggressive"	
					), 'class -> "form-control", '_label -> "", '_help -> "")		
			</td>
		</tr>
		<tr>
			<td colspan="3"><hr></td>
		</tr>	
		<tr>
			<th colspan="3">
				@helper.checkbox(gForm("nat_traversal_enabled"), '_label -> "Enable NAT-Traversal")
			</th>
		</tr>
		<tr>
			<th colspan="2" class="text-right">Keepalive Frequency</th>
			<td>
				@helper.inputText(gForm("nat_keep_alive"), 'class -> "form-control", '_label -> "", '_help -> "Seconds (0~300, 0:default)")
			</td>
		</tr>
		<tr>
			<td colspan="3"><hr></td>
		</tr>
		<tr>
			<th colspan="3">Peer Status Detection</th>
		</tr>
		<tr>
			<th>DPD</th>
			<th class="text-right">Interval</th>
			<td>
				@helper.inputText(gForm("dpd_interval"), 'class -> "form-control", '_label -> "", '_help -> "Seconds (10~60, 0:default)")
			</td>
		</tr>	
		<tr>
			<th colspan="2" class="text-right">Threshold</th>
			<td>
				@helper.inputText(gForm("dpd_threshold"), 'class -> "form-control", '_label -> "", '_help -> "(1~5, 0:default)")
			</td>
		</tr>
		<tr>
			<th colspan="2" class="text-right">Always Send</th>
			<td>
				@helper.checkbox(gForm("dpd_always_send"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)
			</td>
		</tr>	
		<tr>
			<td colspan="3"><hr noshade="" /></td>
		</tr>	
		<tr>
			<td colspan="2">&nbsp;</td>
			<td>
				<input type="submit" value="OK" />
				<input type="button" value="Cancel" onclick="window.location.href=$(this).data('url'); return false;" data-url="@routes.VPNs.gatewayList(device.name)" />
				@helper.CSRF.formField
			</td>
		</tr>		
	</table>
	}
}