@* index Template File *@
@(config:srxlib.DeviceConfig)(implicit device:srxlib.Device)

@import srxlib.vpn.IkePolicy.PROPOSAL_SET_STANDARD
@import srxlib.vpn.IkePolicy.PROPOSAL_SET_BASIC
@import srxlib.vpn.IkePolicy.PROPOSAL_SET_COMPATIBLE

@import srxlib.vpn.IkeGateway.PEER_TYPE_DYNAMIC_HOSTNAME
@import srxlib.vpn.IkeGateway.PEER_TYPE_DYNAMIC_INET
@import srxlib.vpn.IkeGateway.PEER_TYPE_DYNAMIC_INET6
@import srxlib.vpn.IkeGateway.PEER_TYPE_DYNAMIC_USER_AT_HOSTNAME
@import srxlib.vpn.IkeGateway.PEER_TYPE_STATIC

@deviceMain {
	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">VPNs &gt; AutoKey Advanced &gt; Gateway</p>
		
			<div class="infoArea">
				<br /><br />
				<div class="pull-right">
					@helper.form(action = routes.VPNs.createGateway(device.name), 'class -> "form-inline", 'role -> "form") {
						<input type="submit" value="New" class="btn btn-default">
					}
				</div>
			</div>
		</div>
		
		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
		<thead>
			<tr class="title">
				<th>Name</th>
				<th>Peer Type</th>
				<th>Address/ID/User Group</th>
				<th>Local ID</th>
				<th>Security Level</th>
				<th colspan="2">Configure</th>
			</tr>
		</thead>
		<tbody class="body">
			@defining(config.ikeGatewayList.asScala.toList) { gwList =>
				@if(gwList.isEmpty) {
				<tr>
					<td class="text-center" colspan="7">No entry available</td>
				</tr>
				} else {
					@defining(device.candidateConfig.ikeGatewayMap) { candidates =>
					@for(gw <- gwList) {
						<tr class="@views.html.helper.changedClass(gw.isChanged(candidates))">
							<td>@gw.getName</td>
							<td>
								@gw.getPeerType match {
									case PEER_TYPE_STATIC => { Static IP }
									case PEER_TYPE_DYNAMIC_HOSTNAME | PEER_TYPE_DYNAMIC_INET | PEER_TYPE_DYNAMIC_INET6 | PEER_TYPE_DYNAMIC_USER_AT_HOSTNAME => { Dynamic IP }
									case _ => { }
								}
							</td>
							<td>@gw.getPeer</td>
							<td>@gw.getLocalId</td>
							<td>
								@gw.getPolicy(config) match {
									case IkePolicy(policy) => {
										@policy.getProposalSet match {
											case PROPOSAL_SET_STANDARD => { Standard }
											case PROPOSAL_SET_BASIC => { Basic }
											case PROPOSAL_SET_COMPATIBLE => { Compatible }
											case _ => { @policy.getProposalNameList.asScala.toList.mkString(", ") }
										}
									}
									case _ => {}
								}	
							</td>
							<td>
								@if(models.IkeGateway.isEditable(gw, config)) {
									<a href="@routes.VPNs.editGateway(device.name, gw.getName)">Edit</a>	
								}
							</td>
							<td>
								@if(gw.isRemovable(config)) {
									@helper.form(action = routes.VPNs.deleteGatewayPost(device.name, gw.getName)) {
										<a href="#" onclick="this.parentNode.submit(); return false;">Remove</a>
									}	
								} else {
									-
								}											
							</td>
						</tr>
					}
					}
				}
			}
		</tbody>
		</table>
	</div>
}
