@* advanced Template File *@
@(fromName:String, toName:String, oldName:String, pForm:Form[AdvancedPolicyForm], dipOptions:Seq[(String, String)], message:String = "")(implicit request: RequestHeader, device: srxlib.Device, lang: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Policy &gt; Policies (From @fromName To @toName)</p>

			<div class="infoArea">
			</div>
		</div>

		<div class="formHeaderSpace"></div>

		@helper.form(action = routes.Policies.advancedPost(device.name, fromName, toName, oldName),
			'class -> "form-horizontal", 'role -> "form", 'id -> "form1") {
		<table class="formTable">
			<tr>
				<th class="text-center" colspan="3">Advanced Policy Settings</th>
			</tr>
			<tr>
				<td colspan="3" class="text-center">
					<hr>
				</td>
			</tr>
			<tr>
				<th class="text-right" width="20%">NAT</td>
				<td width="5%">&nbsp;</td>
				<td>
					<table>
						<tr>
							<td>
								<label>
									@helper.checkbox(pForm("srcNat"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)	
									Source Transition
								</label>
							</td>
							<td>
								(DIP on)
								@helper.select(pForm("dip"), dipOptions,
									'class -> "form-control",
									'_help  -> "",
									'_label -> ""
									)
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="3" class="text-center">
					<hr noshade="" />
				</td>
			</tr>
			<tr>
				<td colspan="3" class="text-center">
					<input type="submit" value="Ok" />
					<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.Policies.edit(device.name, fromName, toName, oldName)"/>
				</td>
			</tr>
		</table>	
		@helper.CSRF.formField
		}	
		
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@Html(escapeEcmaScript(message))");
				});
			</script>
		}
	</div>
}	