@* create Template File *@
@(fromName:String, toName:String, pForm:Form[PolicyForm], message:String = "")(implicit request: RequestHeader, device: srxlib.Device, lang: play.api.i18n.Messages)

@deviceMain {

	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Policy &gt; Policys (From @fromName To @toName)</p>

			<div class="infoArea text-right">
			</div>
		</div>
	
		@policyForm(fromName, toName, pForm, routes.Policies.createPost(device.name, fromName, toName))
			
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@escapeEcmaScript(message)");
				});
			</script>
		}
	</div>
}	