@* create Template File *@
@(fromName:String, toName:String, oldName:String, pForm:Form[PolicyForm], message:String = "")(implicit request: RequestHeader, device: srxlib.Device, lang: play.api.i18n.Messages)

@deviceMain {
	<div class="content bgColor">
		<div class="header">
			<p class="breadCrumb">Policy &gt; Policys (From @fromName To @toName)</p>

			<div class="infoArea">
			</div>
		</div>

		@policyForm(fromName, toName, pForm, routes.Policies.editPost(device.name, fromName, toName, oldName), oldName)
			
		@if(message.length > 0) {
			<script type="text/javascript">
				$(function() {
					alert("@escapeEcmaScript(message)");
				});
			</script>
		}
	</div>
}	