@* list Template File *@
@(f:Form[models.Forms.PolicyListForm], zones:List[String], plist:List[srxlib.policy.Policy])(implicit device:srxlib.Device, messages: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapInlineField.f) }

@deviceMain {

	<div class="content">
		<div class="header headerH110">
			<p class="breadCrumb">Policy &gt; Policies</p>
	
			<div class="infoArea">
				@pager()

				@helper.form(action = routes.Policies.policies(device.name, None, None, None), 'name -> "policy_form", 'class -> "form-inline text-left", 'role -> "form") {
					<div>
						<div class="pull-left">
							@helper.select(f("from"), helper.options(zones ++ List( "junos-host")),
								'class -> "",
								'_label -> "From",
								'_help -> "",
								'_default -> "All zones"
							)
							&nbsp;
							@helper.select(f("to"), helper.options(zones ++ List("junos-host")) ,
								'class -> "",
								'_label -> "To",
								'_help -> "",
								'_default -> "All zones"
							)
							&nbsp;
							<input type="submit" value="Go">
						</div>
						<div class="pull-right">
							<input type="submit" name="op" value="New">
						</div>
					</div>
				}
			</div>
		</div>
		


	
		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
		@defining(plist.map(v => (v.getFromZoneName, v.getToZoneName)).distinct) { zlist =>
		@defining(device.config) { config =>
			@for(z <- zlist) {
				@defining(device.candidateConfig.policyMap(z._1, z._2)) { cmap =>
				@defining(plist.filter(v => (v.getFromZoneName == z._1 && v.getToZoneName == z._2))) { ps => 
					<tr>
						<td colspan="11">From @z._1 To @z._2, total policy: @ps.size</td>
					</tr>
					<tr class="title info">
						<th>ID</th>
						<th>Source</th>
						<th>Destination</th>
						<th>Service</th>
						<th>Action</th>
						<th>Options</th>
						<th colspan="3">Configure</th>
						<th>Enable</th>
						<th>Move</th>
					</tr>
					@for(p <- ps) {
						<tr class="active body @views.html.helper.changedClass(p.isChanged(cmap))">
							<td class="id">@p.getName</td>
							<td>
								@for(src <- p.getSourceNameList.asScala.toList) {
									<div>
										@Option(config.findAddressOrAddressSetDescription(z._1, src, true)).filterNot(_.isEmpty).getOrElse(src)
									</div>
								}	
							</td>
							<td>
								@for(dst <- p.getDestinationNameList.asScala.toList) {
									<div>
										@Option(config.findAddressOrAddressSetDescription(z._2, dst, true)).filterNot(_.isEmpty).getOrElse(dst)
									</div>
								}	
							</td>
							<td>
								@for(app <- p.getApplicationNameList.asScala.toList) {
									<div>@app</div>
								}						
							</td>
							<td class="text-center">
								@p.getAction match {
									case srxlib.policy.Policy.ACTION_DENY | srxlib.policy.Policy.ACTION_REJECT => { <img src="@routes.Assets.at("images/deny.gif")"> }
									case _ => { <img src="@routes.Assets.at("images/allow.gif")"> }
								}	
							</td>
							<td>
								@if(p.isLogClose || p.isLogInit) {
									<a href="@routes.Policies.log(device.name, z._1, z._2, p.getName)">
										<img src="@routes.Assets.at("images/log.gif")">
									</a>
								}	
							</td>
							<td>
								@if(p.isEditable(config)) {
									<a href="@routes.Policies.edit(device.name, z._1, z._2, p.getName)" class="btn btn-default">Edit</a>
								} else {
									&nbsp;
								}
							</td>
							<td>
								<a href="@routes.Policies.createClone(device.name, z._1, z._2, p.getName)" class="btn btn-default cloneBtn">Clone</a>
							</td>
							<td>
								@if(p.isRemovable(config)) {
									@helper.form(action = routes.Policies.deletePost(device.name, z._1, z._2, p.getName), 'class -> "form-inline", 'role -> "form") {
										<a href="#" onclick="parentNode.submit()">Remove</a>
									}
								} else {
									&nbsp;
								}
							</td>
							<td class="text-center">
								<input class="enableCheck" type="checkbox" @if(!p.isInactive) {checked="checked"} data-device="@device.name" data-from="@z._1" data-to="@z._2" data-name="@p.getName">
							</td>
							<td class="text-center">
								<a
									href="#"
									class="moveBtn"
									data-device="@device.name"
									data-from="@z._1"
									data-to="@z._2"
									data-name="@p.getName"
									>
									<img src="@routes.Assets.at("images/move.gif")"></a>
								<a href="@routes.Policies.move(device.name, z._1, z._2, p.getName)">
									<img src="@routes.Assets.at("images/moving.gif")">
								</a>
							</td>
						</tr>
					}
					}
				}
			}
		}
		}
		</table>
	</div>
	<script type="text/javascript" src="@routes.Assets.at("javascripts/policies/list.min.js")"></script>
}	