@* log Template File *@
@(policy:srxlib.policy.Policy, logs:List[srxlib.syslog.SyslogMessage])(implicit device:srxlib.Device) 

@deviceMain {


	<div class="content">
		<div class="header">
			<p class="breadCrumb">Reports &gt; Policies &gt; Traffic Log</p>
	
			<div class="infoArea">
				<button id="refresh_btn" data-device="@device.name">Refresh</button>
				@pager()
			</div>
		</div>


		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
			<thead>
				<tr class="title">
					<th>Date/Time</th>
					<th>Source Address/Port</th>
					<th>Destination Address/Port</th>
					<th>Translated Source Address/Port</th>
					<th>Translated Destination Address/Port</th>
					<th>Service</th>
					<th>Duration</th>
					<th>Packets from client<br>(Bytes from client)</th>
					<th>Packets from server<br>(Bytes from server)</th>
					<th>Close Reason</th>
				</tr>
			</thead>
			<tbody>
				@defining("%tb %<td %<tT") { tsFormat =>
				@for(line <- logs) {
					@*
					<tr>
						<td colspan="8">@line.getMessage</td>
					</tr>
					*@
						@line.getTag match {
							case "RT_FLOW_SESSION_DENY" => {
								@defining(line.getMessage.split("\\s+")) { tokens =>
								@if(tokens.size > 6 && tokens(5) == policy.getName) {
								<tr>
									<td>@tsFormat.formatLocal(java.util.Locale.ENGLISH, line.getTimestamp)</td>
									@defining(tokens(2).split("\\->", 2)) { addr =>
										<td>
											@addr(0)
										</td>
										<td>
											@addr(1)
										</td>
									}	
									<td>-</td>
									<td>-</td>
									<td>
										@tokens(3)
										@tokens(4)
									</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>deny</td>
								</tr>
								}
								}
							}
							case "RT_FLOW_SESSION_CREATE" => {
								@defining(line.getMessage.split("\\s+")) { tokens =>
								@if(tokens.size > 8 && tokens(8) == policy.getName) {
								<tr>
									<td>@tsFormat.formatLocal(java.util.Locale.ENGLISH, line.getTimestamp)</td>
									@defining(tokens(2).split("\\->", 2)) { addr =>
										<td>
											@addr(0)
										</td>
										<td>
											@addr(1)
										</td>
									}	
									@defining(tokens(4).split("\\->", 2)) { addr =>
										<td>
											@addr(0)
										</td>
										<td>
											@addr(1)
										</td>
									}
									<td>
										@tokens(3)
									</td>	
									<td>-</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>
								}
								}
							}
							case "RT_FLOW_SESSION_CLOSE" => {
								@defining(line.getMessage.split(":\\s+", 2)) { tokens0 =>
								@defining(tokens0(1).split("\\s+")) { tokens =>
								@if(tokens.size > 12 && tokens(6) == policy.getName) {
								<tr>
									<td>@tsFormat.formatLocal(java.util.Locale.ENGLISH, line.getTimestamp)</td>
									@defining(tokens(0).split("\\->", 2)) { addr =>
										<td>
											@addr(0)
										</td>
										<td>
											@addr(1)
										</td>
									}	
									@defining(tokens(2).split("\\->", 2)) { addr =>
										<td>
											@addr(0)
										</td>
										<td>
											@addr(1)
										</td>
									}
									<td>
										@tokens(1)
									</td>	
									<td>@tokens(12)</td>
									<td>@tokens(10)</td>
									<td>@tokens(11)</td>
									<td>
										@tokens0(0).split("\\s+", 3)(2)
									</td>
								</tr>
								}
								}
								}
							}
							case _ => { 
							}
						}
				}
				}
			</thead>
		</table>
	</div>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/policies/log.min.js")"></script>
}	