@* move Template File *@
@(p: srxlib.policy.Policy, plist:List[srxlib.policy.Policy])(implicit request: RequestHeader, device:srxlib.Device)

@deviceMain {
	<div class="content">
		<div class="header headerH90">
			<p class="breadCrumb">Policy &gt; Policies &gt; Move</p>

			<div class="infoArea">
				@pager()

				<div class="text-right">
					<a href="@routes.Policies.policies(device.name, Some(p.getFromZoneName), Some(p.getToZoneName), None)">
						Back to policy page
					</a>
				</div>
			</div>
		</div>
	

	<table>
	<tr>
	<td class="text-right">Policy to move :</td>
	<td>
		<table cellpadding="3" border="1" class="formTable">
			<thead>
				<tr>
					<th>Name</th>
					<th>Source</th>
					<th>Destination</th>
					<th>Service</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@p.getName</td>
					<td>
						@p.getFromZoneName /
						@for(a <- p.getSourceNameList.asScala.toList) {
							@a &nbsp;
						}	
					</td>
					<td>
						@p.getToZoneName /
						@for(a <- p.getDestinationNameList.asScala.toList) {
							@a &nbsp;
						}	
					</td>
					<td>
						@for(a <- p.getApplicationNameList.asScala.toList) {
							@a &nbsp;
						}	
					</td>
					<td>
						@p.getAction
					</td>
				</tr>
			</tbody>
		</table>
	</td>
	</tr>
	<tr>
	<td colspan="2">	
	@helper.form(action = routes.Policies.movePost(device.name, p.getFromZoneName, p.getToZoneName, p.getName)) {
	
		<table cellspacing="0" cellpadding="4" border="1" class="formTable">
			<thead>
				<tr class="title">
					<th>Move location</th>
					<th>Name</th>
					<th>Source</th>
					<th>Destination</th>
					<th>Service</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>

			@for((d, i) <- plist.filterNot(v => v.getName == p.getName).zipWithIndex) {
				<tr>
					<td class="text-right" rowspan="2">
						<a href="#" class="moveBtn" data-before="@d.getName">
							<img src="@routes.Assets.at("images/moving.gif")">
						</a>
					</td>	
					@if(i == 0) {
					<td colspan="5">&nbsp;</td>
					}
				</tr>				
				<tr>
					<td rowspan="2">@d.getName</td>	
					<td rowspan="2">
					@for(src <- d.getSourceNameList.asScala.toList) {
						<div>@src</div>
					}	
					</td>
					<td rowspan="2">
					@for(dst <- d.getDestinationNameList.asScala.toList) {
						<div>@dst</div>
					}	
					</td>
					<td rowspan="2">
					@for(app <- d.getApplicationNameList.asScala.toList) {
						<div>@app</div>
					}						
					</td>
					<td class="text-center" rowspan="2">
						@d.getAction match {
							case srxlib.policy.Policy.ACTION_DENY | srxlib.policy.Policy.ACTION_REJECT => { <img src="@routes.Assets.at("images/deny.gif")"> }
							case _ => { <img src="@routes.Assets.at("images/allow.gif")"> }
						}	
					</td>
				</tr>				
			}
				<tr>
					<td class="text-right" rowspan="2">
						<a href="#" class="moveBtn" data-before="">
							<img src="@routes.Assets.at("images/moving.gif")">
						</a>
					</td>	
				</tr>		
				<tr>
					<td colspan="5">&nbsp;</td>
				</tr>
			</tbody>
		</table>
		<input type="hidden" name="before">
		@helper.CSRF.formField
	}
	</td>
	</tr>
	</table>
}
<script type="text/javascript" src="@routes.Assets.at("javascripts/policies/move.min.js")"></script>	