@* moveModal Template File *@
@(o: Option[srxlib.policy.Policy], plist:List[srxlib.policy.Policy])(implicit request: RequestHeader, device:srxlib.Device)

<div class="modal-body">
	@if(o.isDefined) {
		@defining(o.get) {  p =>
			<p>Moving policy @p.getName; select policy to move before</p>
			@helper.form(action = routes.Policies.movePost(device.name, p.getFromZoneName, p.getToZoneName, p.getName), 'class -> "form-inline", 'role -> "fomr") {
				<select name="before">
					@for(name <- plist.map(v => v.getName).filterNot(v => v == p.getName)) {
						<option value="@name">@name</option>
					}
					<option value="">Move to the end</option>
				</select>
				@helper.CSRF.formField
			}
		}
	} else {
		<p>Policy is not found.</p>
	}	
</div>