@* policyForm Template File *@
@(fromName:String, toName:String, pf:Form[PolicyForm], action:play.api.mvc.Call, oldName:String = "")(implicit request: RequestHeader, device: srxlib.Device, lang: play.api.i18n.Messages)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.helper.BootstrapField.f(4, 5)) }

@defining(device.config) { config =>
	@helper.form(action = action, 'class -> "form-horizontal", 'role -> "form", 'id -> "form1") {

		<div class="formHeaderSpace"></div>

		<table class="formTable">
			<tr>
				<th class="text-right">Name</th>
				<td>
					@helper.inputText(pf("name"), 'class -> "form-control", '_label -> "", '_help -> "")
				</td>
			</tr>
			<tr class="@if(pf("src").hasErrors) { has-error }">
				<th class="text-right">Source Address</th>
				<td>
					<select id="src1" class="form-control">
						<option value="any">any</option>
						<option value="any-ipv4">any-ipv4</option>
						<option value="any-ipv6">any-ipv6</option>
						@for(a <- config.addressList(fromName).asScala.toList ++ config.addressList("global").asScala.toList) {
							<option value="@a.getName">@Option(a.getDescription).filterNot(v => v.isEmpty).getOrElse(a.getName)</option>
						}
						@for(a <- config.addressSetList(fromName).asScala.toList ++ config.addressSetList("global").asScala.toList) {
							<option value="@a.getName">@Option(a.getDescription).filterNot(v => v.isEmpty).getOrElse(a.getName)</option>
						}					
					@*
					@for(name <- config.addressNameList(fromName).asScala.toList ++ config.addressSetNameList(fromName).asScala.toList) {
						<option value="@name">@name</option>
					}
					*@
					</select>
					<input type="hidden" id="src" name="src" value="@pf("src").value.getOrElse("")">
					<button id="srcbtn" class="btn btn-default" data-device="@device.name" data-zone="@fromName">Multiple</button>
				</td>
			</tr>
			<tr class="@if(pf("dst").hasErrors) { has-error }">
				<th class="text-right">Destination Address</th>
				<td>
					<select id="dst1" class="form-control">
						<option value="any">any</option>
						<option value="any-ipv4">any-ipv4</option>
						<option value="any-ipv6">any-ipv6</option>
						@for(a <- config.addressList(toName).asScala.toList ++ config.addressList("global").asScala.toList) {
							<option value="@a.getName">@Option(a.getDescription).filterNot(v => v.isEmpty).getOrElse(a.getName)</option>
						}
						@for(a <- config.addressSetList(toName).asScala.toList ++ config.addressSetList("global").asScala.toList) {
							<option value="@a.getName">@Option(a.getDescription).filterNot(v => v.isEmpty).getOrElse(a.getName)</option>
						}										
					</select>
					<input type="hidden" id="dst" name="dst" value="@pf("dst").value.getOrElse("")">
					<button id="dstbtn" class="btn btn-default" data-device="@device.name" data-zone="@toName">Multiple</button>
				</td>
			</tr>
			<tr class="@if(pf("app").hasErrors) { has-error }">
				<th class="text-right">Service</th>
				<td>
					<select id="app1" class="form-control">
					@defining(device.defaults) { defaults =>
					@for(name <- device.allApplicationNameList.asScala.toList) {
						<option value="@name">@name</option>
					}
					}
					</select>
					<input type="hidden" id="app" name="app" value="@pf("app").value.getOrElse("")">
					<button id="appbtn" class="btn btn-default" data-device="@device.name">Multiple</button>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="text-center">
					<hr />
				</td>
			</tr>
			<tr>
				<th class="text-right">Action</th>
				<td>
					@helper.select(pf("action"), List(
						(srxlib.policy.Policy.ACTION_PERMIT, "Permit"),
						(srxlib.policy.Policy.ACTION_DENY, "Deny"),
						(srxlib.policy.Policy.ACTION_REJECT, "Reject")),
						'class -> "form-control",
						'_help  -> "",
						'_label -> ""	
						)
						
				</td>
			</tr>
			<tr>
				<th class="text-right">Logging</th>
				<td>
					<label>@helper.checkbox(pf("log"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</label>
					&nbsp;&nbsp;
					<label>at Session Beginning @helper.checkbox(pf("log_begin"))(helper.FieldConstructor(views.html.helper.RawField.f), lang)</label>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="text-center">
					<hr noshade="" />
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					<input type="submit" value="Ok" />
					<input type="button" value="Cancel" onclick="window.location=$(this).data('url');" data-url="@routes.Policies.policies(device.name, Some(fromName), Some(toName), None)"/>
					@if(!oldName.isEmpty) {
					<input type="button" value="Advanced" onclick="window.location=$(this).data('url');" data-url="@routes.Policies.advanced(device.name, fromName, toName, oldName)" />	
					}
				</td>
			</tr>
		</table>

		@helper.CSRF.formField
	}
	<script type="text/javascript" src="@routes.Assets.at("javascripts/policies/form.min.js")"></script>
}